doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                // START main
                main.page__main(role="main")
                    // START main category card
                    section.block.block--section.block--category-gender
                        div.block__content.page__container
                            div.block__row.row
                                div.block__col.row__col
                                    div.card.card--overlay
                                        div.card__media
                                            div.card__img
                                                img.card__img-file(
                                                    src="%=static=%img/content/card__img-1.jpg",
                                                    srcset="%=static=%img/content/card__img-1.jpg 1x, %=static=%img/content/card__img-1@2x.jpg 2x", alt="")
                                        div.card__content
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Девочкам") Девочкам
                                                div.card__text
                                                    p - Верхняя одежда
                                                        br
                                                        | - Праздничная одежда
                                                        br
                                                        | - Повседневная одежда
                                                        br
                                                        | - Обувь
                                                div.card__nav
                                                    nav.nav.nav--pill.nav--pink
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 0 до 2 лет
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 2 до 6 лет
                                div.block__col.row__col
                                    div.card.card--overlay
                                        div.card__media
                                            div.card__img
                                                img.card__img-file.object-fit-images(
                                                    src="%=static=%img/content/card__img-2.jpg",
                                                    srcset="%=static=%img/content/card__img-2.jpg 1x, %=static=%img/content/card__img-2@2x.jpg 2x", alt="")
                                        div.card__content
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Мальчикам") Мальчикам
                                                div.card__text
                                                    p - Верхняя одежда
                                                        br
                                                        | - Праздничная одежда
                                                        br
                                                        | - Повседневная одежда
                                                        br
                                                        | - Обувь
                                                div.card__nav
                                                    nav.nav.nav--pill
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 0 до 2 лет
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 2 до 6 лет
                    // END main category card

                    // START shop info
                    section.block.block--section.block--shop-info
                        div.block__content.page__container
                            div.block__row.row
                                div.block__col.row__col
                                    div.card.card--shop-info.card--delivery
                                        div.card__content
                                            div.card__media
                                                div.card__img.card__img--icon
                                                    != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                div.card__text
                                                    p Мы доставим бесплатно Ваш заказ в любую точку России!
                                div.block__col.row__col
                                    div.card.card--shop-info.card--payment
                                        div.card__content
                                            div.card__media
                                                div.card__img.card__img--icon
                                                    != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                div.card__text
                                                    p Принимаем к оплате наличные и карты Visa или Mastercard!
                                div.block__col.row__col
                                    div.card.card--shop-info.card--warranty
                                        div.card__media
                                            div.card__img.card__img--icon
                                                != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                        div.card__content
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                div.card__text
                                                    p Возврат и обмен в течение 30 дней со дня покупки!
                    // END shop info

                    // START top products
                    include ../components/product/product-block-best-section.pug
                    // END top products

                    //- START new products
                    include ../components/product/product-block-new-section.pug
                    //- END new products

                    //- START brands
                    include ../components/brands/brands-block-section.pug
                    //- END brands

                    //- START block about
                    include ../components/about/about.pug
                    //- EBD block about

                    // START block contacts
                    section.block.block--contacts
                        div.block__content.page__container
                            div.contacts.contacts--map
                                div.block__content.contacts__content
                                    b.block__title Контакты
                                    div.form
                                        div.form__row
                                            div.form__col
                                                button.btn.btn--primary(role="button") Кнопка
                                            div.form__col
                                                button.btn.btn--lg.btn--primary(role="button") Кнопка
                                            div.form__col
                                                button.btn.btn--xl.btn--primary(role="button") Кнопка
                                        div.form__row
                                            div.form__col
                                                div.form__group
                                                    input.form__control(type="text", placeholder="Введите текст")
                                                div.form__group
                                                    input.form__control.form__control--lg(type="text", placeholder="Введите текст")
                                                div.form__group
                                                    input.form__control.form__control--xl(type="text", placeholder="Введите текст")
                                            div.form__col
                                                div.form__group
                                                    div.form__control.form__control--select(data-placeholder="Выберите")
                                                        | Санкт-Петербур
                                                div.form__group
                                                    div.form__control.form__control--lg.form__control--select(data-placeholder="Выберите")
                                                div.form__group
                                            div.form__col
                                                div.form__group
                                                    select.form__control.form__control--lg
                                                        option(value="") Санкт-Петербург
                                                        option(value="") Москва
                                                        option(value="") Ростов-на-Дону
                                                        option(value="") Владивосток
                                                        option(value="") Омск
                                                        option(value="") Новосибирскч
                                                    div.form__control.form__control--xl.form__control--select(data-placeholder="Выберите")
                                                    div.form__dropdown
                                                        ul.nav.nav--select
                                                            li.nav__item.is-active
                                                                a.nav__link(href="#", title="Санкт-Петербург") Санкт-Петербург
                                                            li.nav__item
                                                                a.nav__link(href="#", title="Москва") Москва
                                                            li.nav__item
                                                                a.nav__link(href="#", title="Ростов-на-Дону") Ростов-на-Дону
                                                            li.nav__item
                                                                a.nav__link(href="#", title="Владивосток") Владивосток
                                                            li.nav__item
                                                                a.nav__link(href="#", title="Омск") Омск
                                                            li.nav__item
                                                                a.nav__link(href="#", title="Новосибирск") Новосибирскч
                                        div.contacts__list
                                            div.contacts__item
                                                div.contacts__text
                                                    p Адрес: Дунайский проспект, 48к1
                                                        br
                                                        | Телефон: 
                                                        a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                        | , 
                                                        a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                        br
                                                        | Время работы: пн-пт: 9:00 - 19:00, сб-вс: 10:00 - 18:00
                                                a.contacts__route(href="#")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'route', className: 'contacts__route-icon icon icon--route'})
                                                    span.contacts__route-text Проложить маршрут
                        div.block__map
                            div.contacts__map(id="contactsMap")
                    // END block contacts
                // END main
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
