- var n = 0;
while n < 12
    - var item = product.card[n];
    div.product__col.swiper-slide
        div.product__card.card.card--product.card--outline
            div.card__content
                div.card__media
                    div.card__img
                        img.card__img-file.object-fit-images(
                            src="%=static=%img/content/" + item.img.x1,
                            srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                    if item.label
                        div.card__meta.card__meta--label
                            div.product__label(class="product__label--" + item.label)= item.label
                div.card__body
                    b.card__title.text.text--word-wrap
                        a.card__link.card__link--title(href="./product-detail.html", title=item.title)= item.title
                div.card__footer
                    div.card__meta.card__meta--price
                        div.product__price= item.price
                    div.card__action
                        div.product__action
                            button.btn.btn--accent.btn--order(role="button")
                                != pugHelpers.Icon.call(locals, {iconName: 'shop-cart', className: 'btn__icon icon icon--shop-cart'})
    - n++;
- n = 0;
while n < 12
    - var item = product.card[n];
    div.product__col.swiper-slide
        div.product__card.card.card--product.card--outline
            div.card__content
                div.card__media
                    div.card__img
                        img.card__img-file.object-fit-images(
                            src="%=static=%img/content/" + item.img.x1,
                            srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                    if item.label
                        div.card__meta.card__meta--label
                            div.product__label(class="product__label--" + item.label)= item.label
                div.card__body
                    b.card__title.text.text--word-wrap
                        a.card__link.card__link--title(href="./product-detail.html", title=item.title)= item.title
                div.card__footer
                    div.card__meta.card__meta--price
                        div.product__price= item.price
                    div.card__action
                        div.product__action
                            button.btn.btn--accent.btn--order(role="button")
                                != pugHelpers.Icon.call(locals, {iconName: 'shop-cart', className: 'btn__icon icon icon--shop-cart'})
    - n++;
