doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/product/product.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    // START main
                    main.page__main(role="main")
                        div.page__breadcrumbs
                            ul.nav.nav--breadcrumbs
                                li.nav__item
                                    a.nav__link(href="#", title="Главная") Главная
                                li.nav__item
                                    span.nav__text(href="#", title="Вы тут", data-toggle="tolltip") Блог
                        div.page__title Блог
                        div.blog.blog--grid
                            div.blog__row.row
                                - var n = 0;
                                while n < 9
                                    - var item = blog.card[n];
                                    div.blog__col.row__col
                                        div.blog__card
                                            div.blog__content
                                                div.blog__media
                                                    div.blog__img
                                                        img.blog__img-file.object-fit-images(
                                                            src="%=static=%img/content/" + item.img.x1,
                                                            srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                div.blog__body
                                                    b.blog__title.text.text--word-wrap
                                                        a.blog__link.blog__link--title(href="./static.html", title=item.title)= item.title
                                                    div.blog__text.text.text--word-wrap
                                                        p= item.text
                                        - n++;

                        div.page__pagination
                            div.pagination
                                a.pagination__btn.pagination__btn--prev(role="button", title="Туда")
                                ul.pagination__nav
                                    li.pagination__page
                                        a.pagination__link(href="#", title="1 cтранцица") 1
                                    li.pagination__page
                                        span.pagination__text 2
                                    li.pagination__page
                                        a.pagination__link(href="#", title="3 cтранцица") 3
                                    li.pagination__page
                                        a.pagination__link(href="#", title="4 cтранцица") 4
                                    li.pagination__page
                                        span.pagination__text ...
                                    li.pagination__page
                                        a.pagination__link(href="#", title="4 cтранцица") 10
                                a.pagination__btn.pagination__btn--next(role="button", title="Сюда")
                    // END main
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
