doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Моя скидка
                            div.cart.cart--order
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title мои заказы
                                        div.cart__text.cart__text--header
                                            p заказов: 
                                                span.text.text--primary 7
                                    div.cart__body
                                        div.table.table--orders
                                            div.table__head
                                                div.table__row
                                                    div.table__col
                                                        a.table__sort.table__sort--top.is-active(href="#") № заказа
                                                    div.table__col
                                                        a.table__sort.table__sort--down(href="#") Дата и время заказа
                                                    div.table__col
                                                        a.table__sort.table__sort--down(href="#") Статус
                                                    div.table__col
                                                        a.table__sort.table__sort--down(href="#") Сумма, руб.
                                            div.table__form
                                                div.form
                                                    div.form__group
                                                        select.form__control
                                                            option(value="") № заказа
                                                            option(value="") Дата и время заказа
                                                            option(value="") Статус
                                                            option(value="") Сумма, руб.
                                            div.table__body
                                                div.table__row
                                                    div.table__col(data-label="№ заказа")
                                                        a.cart__link(href="#", title="1679173152") 1679173152
                                                    div.table__col(data-label="Дата и время заказа")
                                                        | 11.03.2018 19:32
                                                    div.table__col(data-label="Статус")
                                                        | закрыт
                                                    div.table__col(data-label="Сумма, руб.")
                                                        | 41 766
                                                    div.table__col.table__col--detail.is-open
                                                        div.cart__list
                                                            div.cart__item.cart__item--header
                                                                b.cart__title заказ: 
                                                                    span.text.text--primary 1668395712
                                                                div.cart__status Доставлен
                                                            - var n = 1;
                                                            while n < 3
                                                                - var item = product.card[n];
                                                                    div.cart__item.cart__item--product-order
                                                                        div.product.product--cart
                                                                            div.product__content
                                                                                div.product__meta.product__meta--order 
                                                                                    div.product__order=n
                                                                                div.product__media
                                                                                    div.product__img
                                                                                        img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                                            srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                                                div.product__body
                                                                                    b.product__title
                                                                                        a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                                                    div.product__text
                                                                                        div.product__articul Артикул: 180150CS01
                                                                                        a.product__link.product__link--review(href="./product-detail.html", title="Оставить отзыв") Оставить отзыв
                                                                                    div.product__count.product__count--mobile 1шт
                                                                                    div.product__price.product__price--mobile 1 780 руб.
                                                                                div.product__count.product__count--desktop
                                                                                    | 1шт
                                                                                div.product__footer.product__footer--desktop
                                                                                    div.product__price 1 780 руб.

                                                                - n++;

                                                - var r = 1;
                                                while r < 10   
                                                    div.table__row
                                                        div.table__col(data-label="№ заказа")
                                                            a.cart__link(href="#", title="1679173152") 1679173152
                                                        div.table__col(data-label="Дата и время заказа")
                                                            | 11.03.2018 19:32
                                                        div.table__col(data-label="Статус")
                                                            | закрыт
                                                        div.table__col(data-label="Сумма, руб.")
                                                            | 41 766
                                                    - r++;
                        // END main

                        // START sidebar
                        div.page__sidebar
                            nav.nav.nav--secondary.nav--cart
                                ul.nav__ul
                                    li.nav__item
                                        a.nav__link(href="./cart.html", title="Моя корзина") Моя корзина
                                    li.nav__item
                                        a.nav__link(href="./cart-4.html", title="Моя скидка") Моя скидка
                                    li.nav__item
                                        a.nav__link.is-active(href="./cart-5.html", title="Мои заказы") Мои заказы
                                    li.nav__item
                                        a.nav__link(href="./profile.html", title="Настройки") Настройки
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
