doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Моя скидка
                            div.cart.cart--discount
                                div.cart__content 
                                    div.cart__header 
                                        b.cart__title.page__title Моя скидка
                                    div.cart__discount
                                        div.discount.discount--cart
                                            div.discount__content
                                                div.discount__body
                                                    div.discount__row.row
                                                        div.discount__col.row__col
                                                            b.discount__title Накопленная сумма:
                                                            div.discount__text 3 978 руб.
                                                        div.discount__col.row__col
                                                            b.discount__title До следующей скидки:
                                                            div.discount__text 1 023 руб.
                                                        div.discount__col.discount__col--total.row__col
                                                            div.discount__total
                                                                b.discount__title скидка:
                                                                div.discount__text 5%
                                    div.cart__body
                                        b.cart__title.page__title.page__title--subtitle расчет накопительной скидки
                                        div.cart__row.row
                                            div.cart__col.row__col.col-md-6
                                                table.table.table--striped
                                                    tbody
                                                        tr
                                                            th Накопленная сумма
                                                            th.text--center Скидка
                                                        tr
                                                            th до 5 000 руб.
                                                            th.text--center 5%
                                                        tr
                                                            th 5 001 — 9 000 руб.
                                                            th.text--center 6%
                                                        tr
                                                            th 9 001 — 13 000 руб.
                                                            th.text--center 7%
                                                        tr
                                                            th 13 001 — 17 000 руб.
                                                            th.text--center 8%
                                                        tr
                                                            th 17 001 — 20 000 руб.
                                                            th.text--center 9%
                                                        tr
                                                            th 20 001 — 23000 руб.
                                                            th.text--center 10%
                                                        tr
                                                            th 23 001 руб — 30 000 руб.
                                                            th.text--center 12%
                                                        tr
                                                            th от 30 001 руб.
                                                            th.text--center 15%
 
                                            div.cart__col.row__col.col-md-6
                                                div.cart__text 
                                                    p Скидка рассчитывается на основе покупок, сделанных через «Личный кабинет», и зависит от суммы заказанных товаров за последние год (365 дней). Если Клиент не совершает покупок и возвратов в течение года, процент скидки рассчитывается за весь период сотрудничества.
                                                    p Дисконтная программа распространяется на всех покупателей, сделавших и оплативших хотя бы один заказ в Интернет-магазине «Royal Pinguin».
                                                    p При первом же заказе покупателю присваивается код скидки. В «Личном кабинете» Вы можете отслеживать этапы формирования и доставки заказа.
                                    div.cart__body
                                        b.cart__title.page__title.page__title--subtitle Обратите внимание:
                                        div.cart__text
                                            p Акционные и персональные скидки не распространяются на следующие группы товаров:
                                            ol
                                                li 
                                                    a(href="#", title="Акционные товары") Акционные товары
                                                    |;
                                                li 
                                                    a(href="#", title="Tовары-исключения") Tовары-исключения
                                                    |;
                                                li 
                                                    a(href="#", title="Подарочные сертификаты") Подарочные сертификаты
                                                    |;
                                                li 
                                                    | Товары дешевле 10 рублей.


                                    




                        // END main

                        // START sidebar
                        div.page__sidebar
                            nav.nav.nav--secondary.nav--cart
                                ul.nav__ul
                                    li.nav__item
                                        a.nav__link(href="./cart.html", title="Моя корзина") Моя корзина
                                    li.nav__item
                                        a.nav__link.is-active(href="./cart-4.html", title="Моя скидка") Моя скидка
                                    li.nav__item
                                        a.nav__link(href="./cart-5.html", title="Мои заказы") Мои заказы
                                    li.nav__item
                                        a.nav__link(href="./profile.html", title="Настройки") Настройки
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
