doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Ваша корзина
                            div.cart.cart--detail
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title Ваша корзина
                                    div.cart__steps
                                        div.steps
                                            div.steps__content
                                                a.steps__item.is-active(href="./cart.html", title="Товары, доставка, оплата")
                                                    div.steps__number 1
                                                    div.steps__title Товары, доставка, оплата
                                                    div.steps__arrow
                                                a.steps__item.is-active(href="./cart-2.html", title="Контактная информация")
                                                    div.steps__number 2
                                                    div.steps__title Контактная информация
                                                    div.steps__arrow
                                                a.steps__item(href="./cart-3.html", title="Заказ оформлен!")
                                                    div.steps__number 3
                                                    div.steps__title Заказ оформлен!
                                    div.cart__note
                                        div.note.note--error
                                            div.note__content
                                                div.note__body
                                                    ul
                                                        li 
                                                            strong Поле Улица
                                                            |  является обязательным полем
                                                        li 
                                                            strong Поле Дом, корпус, строение
                                                            |  является обязательным полем
                                                        li 
                                                            strong Поле Квартира, офис
                                                            |  является обязательным полем
                                                        li Чтобы продолжить оформление заказа, прочтите правила и условия и подтвердите своё согласие с ними.
                                    div.cart__footer.cart__footer--total
                                        div.cart__option
                                            div.cart__option-item
                                                div.cart__option-label Выбранный способ оплаты товара:
                                                div.cart__option-value Наличными 
                                                    a.cart__option-action(href="./cart.html") изменить
                                            div.cart__option-item
                                                div.cart__option-label Выбранный способ получения товара:
                                                div.cart__option-value Наличными или банковской картой при получении 
                                                    a.cart__option-action(href="./cart.html") изменить
                                        div.cart__total
                                            div.cart__price Сумма заказа: 31 750 руб.
                                            div.cart__price.cart__price--total Итого c доставкой:
                                                span.cart__price-value 31 750 руб.
                            div.cart.cart--detail.cart--info
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title.page__title--subtitle получатель и адрес доставки
                                    div.cart__body.cart__body--gray
                                        form
                                            div.cart__form
                                                div.form.form--cart
                                                    div.form__fieldset
                                                        div.form__row.row
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Электронная почта:
                                                                    input.form__control(type="email")
                                                            div.form__col.form__col--bottom.row__col
                                                                div.form__group
                                                                    div.form__check
                                                                        input.form__check-input(type="checkbox", id="checkbox01", name="checkboxEmail")
                                                                        label.form__check-label(for="checkbox01") Хочу получать персональные предложения и скидки по электронной почте
                                                    div.form__fieldset
                                                        div.form__row.row
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Мобильный телефон:
                                                                    input.form__control(type="tel")
                                                                div.form__group(id="otherPhone", style="display: none")
                                                                    label.form__label(for="") Дополнительный телефон:
                                                                    input.form__control(type="tel")
                                                            div.form__col.form__col--bottom.row__col
                                                                button.btn.btn--primary.btn--block(role="button", type="button", data-toggle="control", data-target="#otherPhone") добавить телефон

                                                    div.form__fieldset
                                                        div.form__row.row
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Фамилия получателя:
                                                                    input.form__control(type="text", value="Владимир")
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Имя:
                                                                    input.form__control(type="text", value="Владимир")
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Отчество 
                                                                        span.text.text--normal (не обязательно) 
                                                                        |:
                                                                    input.form__control(type="text", value="Константинович")

                                                    div.form__fieldset
                                                        div.form__fieldset-header 
                                                            b.form__fieldset-title Адрес доставки
                                                            div.form__fieldset-subtitle Россия, г. Санкт-Петербург
                                                        div.form__row.row
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Улица:
                                                                    input.form__control(type="text", value="")
                                                            div.form__col.row__col
                                                                div.form__group.woocommerce-invalid-required-field.woocommerce-invalid
                                                                    label.form__label(for="") Дом, корпус, строение:
                                                                    input.form__control(type="text", value="")
                                                            div.form__col.row__col
                                                                div.form__group.form__group--error
                                                                    label.form__label(for="") Квартира, офис:
                                                                    input.form__control.form__control--error(type="text", value="", placeholder="Заполните поле", required)
                                                        div.form__row.row
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Подъезд:
                                                                    input.form__control(type="text", value="")
                                                            div.form__col.row__col
                                                                div.form__group
                                                                    label.form__label(for="") Этаж:
                                                                    input.form__control(type="text", value="")
                                                        div.form__group
                                                            label.form__label(for="") Комментарий к заказу:
                                                            textarea.form__control(name="", cols="30", rows="3")
                                    div.cart__footer
                                        div.cart__text.cart__text--help
                                            div.form__group
                                                div.form__check
                                                    input.form__check-input(type="checkbox", id="checkbox02", name="privacy")
                                                    label.form__check-label(for="checkbox02") Я принимаю условия 
                                                        a(href="#", title="Прочитать \"Пользовательского соглашения\"") Пользовательского соглашения
                                        div.cart__action.cart__action--right
                                            a.btn.btn--primary.btn--xl(href="#", title="Далее") Далее
                                                != pugHelpers.Icon.call(locals, {iconName: 'chevron', className: 'btn__icon btn__icon--right icon icon--chevron icon--right'})
                        // END main

                        // START sidebar
                        div.page__sidebar
                            ul.nav__ul
                                li.nav__item
                                    a.nav__link.is-active(href="./cart.html", title="Моя корзина") Моя корзина
                                li.nav__item
                                    a.nav__link(href="./cart-4.html", title="Моя скидка") Моя скидка
                                li.nav__item
                                    a.nav__link(href="./cart-5.html", title="Мои заказы") Мои заказы
                                li.nav__item
                                    a.nav__link(href="./profile.html", title="Настройки") Настройки
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
