doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Ваша корзина
                            div.cart.cart--detail
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title Ваша корзина
                                    div.cart__steps
                                        div.steps
                                            div.steps__content
                                                a.steps__item.is-active(href="./cart.html", title="Товары, доставка, оплата")
                                                    div.steps__number 1
                                                    div.steps__title Товары, доставка, оплата
                                                    div.steps__arrow
                                                a.steps__item.is-active(href="./cart-2.html", title="Контактная информация")
                                                    div.steps__number 2
                                                    div.steps__title Контактная информация
                                                    div.steps__arrow
                                                a.steps__item.is-active(href="./cart-3.html", title="Заказ оформлен!")
                                                    div.steps__number 3
                                                    div.steps__title Заказ оформлен!
                                    div.cart__footer.cart__footer--total
                                        div.cart__order.cart__order--number Ваш заказ: 
                                            span.text.text--primary 4134732
                                        div.cart__order.cart__order--status Статус заказа: 
                                            span.text.text--primary.text--bold Передан на обработку
                                        div.cart__action
                                            button.btn.btn--secondary.btn--cancel(role="button") отменить заказ
                                    div.cart__body.cart__body--static 
                                        div.cart__text
                                            p В ближайшее время Вам перезвонит наш менеджер и обговорит с Вами все условия покупки и доставки Вашего заказа. Пожалуйста, назовите менеджеру номер Вашего заказа.
                                            p В случае если у Вас возникли какие-то вопросы или изменения, позвоните нам по  
                                                a.text.text--bold.text--inherit(href="tel:+78003745050", title="Позвонить") + 7 (800) 374 50 50 
                                                |  и назовите номер Вашего заказа нашему оператору, он обязательно Вам поможет.

                            div.cart.cart--detail
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title.page__title--subtitle Информация о заказе
                                    div.cart__body
                                        table.table.table--striped.table--cart
                                            tbody
                                                tr 
                                                    td(style="width: 55%;") Город:
                                                    td Москва
                                                tr 
                                                    td Адрес:
                                                    td Варшавское шоссе, 169, корпус 5, кв. 293
                                                tr 
                                                    td Вид доставки:
                                                    td Курьером
                                                tr 
                                                    td Стоимость доставки:
                                                    td 3 500 р.
                                                tr 
                                                    td Вид оплаты:
                                                    td Наличными
                                                tr 
                                                    td Контактное лицо:
                                                    td Владимир Константинович
                                                tr 
                                                    td Мобильный телефон:
                                                    td 9103345363
                                                tr 
                                                    td Адрес электронной почты:
                                                    td example@email.ru

                            div.cart.cart--detail.cart--total
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title.page__title--subtitle состав заказа
                                    div.cart__list
                                        - var n = 1;
                                        while n < 3
                                            - var item = product.card[n];
                                                div.cart__item.cart__item--product
                                                    div.product.product--cart
                                                        div.product__content
                                                            div.product__meta.product__meta--order 
                                                                div.product__order=n
                                                            div.product__media
                                                                div.product__img
                                                                    img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                        srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                            div.product__body
                                                                b.product__title
                                                                    a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                                div.product__text
                                                                    div.product__articul Артикул: 180150CS01
                                                                div.product__count.product__count--mobile 1шт
                                                                div.product__price.product__price--mobile 1 780 руб.
                                                            div.product__count.product__count--desktop
                                                                | 1шт
                                                            div.product__footer.product__footer--desktop
                                                                div.product__price 1 780 руб.

                                            - n++;
                                    div.cart__footer
                                        div.cart__action
                                            button.btn.btn--primary(type="button", role="button", data-toggle="print", data-target="page") распечатать страницу заказа
                                        div.cart__total.cart__total--order
                                            div.cart__price
                                                div.cart__price-item
                                                    div.cart__price-label Стоимость товаров:
                                                    div.cart__price-value 31 350 руб.

                                                div.cart__price-item
                                                    div.cart__price-label Доставка:
                                                    div.cart__price-value 500 руб.

                                                div.cart__price-item.text
                                                    div.cart__price-label Итого:
                                                    div.cart__price-value 31 850 руб.
                                                     
                        // END main

                        // START sidebar
                        div.page__sidebar
                            ul.nav__ul
                                li.nav__item
                                    a.nav__link.is-active(href="./cart.html", title="Моя корзина") Моя корзина
                                li.nav__item
                                    a.nav__link(href="./cart-4.html", title="Моя скидка") Моя скидка
                                li.nav__item
                                    a.nav__link(href="./cart-5.html", title="Мои заказы") Мои заказы
                                li.nav__item
                                    a.nav__link(href="./profile.html", title="Настройки") Настройки
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
