doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Ваша корзина
                            div.cart.cart--detail
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title Ваша корзина
                                    div.cart__steps
                                        div.steps
                                            div.steps__content
                                                a.steps__item.is-active(href="./cart.html", title="Товары, доставка, оплата")
                                                    div.steps__number 1
                                                    div.steps__title Товары, доставка, оплата
                                                    div.steps__arrow
                                                a.steps__item(href="./cart-2.html", title="Контактная информация")
                                                    div.steps__number 2
                                                    div.steps__title Контактная информация
                                                    div.steps__arrow
                                                a.steps__item.is-disabled(href="./cart-3.html", title="Заказ оформлен!")
                                                    div.steps__number 3
                                                    div.steps__title Заказ оформлен!
                                    div.cart__list
                                        - var n = 1;
                                        while n < 3
                                            - var item = product.card[n];
                                                div.cart__item.cart__item--product
                                                    div.product.product--cart
                                                        div.product__content

                                                            div.product__meta.product__meta--order 
                                                                div.product__order=n

                                                            div.product__media
                                                                div.product__img
                                                                    img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                        srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                            div.product__body

                                                                b.product__title
                                                                    a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                                div.product__text
                                                                    div.product__articul Артикул: 180150CS01
                                                                div.product__count.product__count--mobile
                                                                    div.form__group.form__group--input
                                                                        div.form__control-prepend
                                                                            button.btn.btn--control.btn--outline.btn--prev(role="button", data-toggle="count", data-target="minus")
                                                                        input.form__control.form__control--counter(type="text", min="1", max="1000", value="1")
                                                                        div.form__control-append
                                                                            button.btn.btn--control.btn--outline.btn--next(role="button", data-toggle="count", data-target="plus")
                                                                    span.product__count-text 1шт = 890 руб.
                                                            
                                                            div.product__count.product__count--desktop
                                                                div.form__group.form__group--input
                                                                    div.form__control-prepend
                                                                        button.btn.btn--control.btn--outline.btn--prev(role="button", data-toggle="count", data-target="minus")
                                                                    input.form__control.form__control--counter(type="text", min="1", max="1000", value="1")
                                                                    div.form__control-append
                                                                        button.btn.btn--control.btn--outline.btn--next(role="button", data-toggle="count", data-target="plus")
                                                                span.product__count-text 1шт = 890 руб.
                                                            div.product__footer
                                                                div.product__price 1 780 руб.
                                                                div.product__action
                                                                    button.product__remove.btn.btn--link(type="submit", role="button", title="Удалить товар из корзины") Удалить
                                                                        != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon btn__icon--right icon icon--close icon--outline'})

                                            - n++;
                                    div.cart__footer.cart__footer--total
                                        div.cart__promo
                                            div.form.form--promo
                                                form(action="")
                                                    div.form__row.row
                                                        div.form__col.row__col
                                                            div.form__group
                                                                input.form__control(type="text", placeholder="Введите промокод")
                                                        div.form__col.form__col--auto.row__col
                                                            button.btn.btn--primary.btn--block(role="button", type="submit") получить скидку
                                        div.cart__total
                                            div.cart__price Сумма заказа: 31 750 руб.
                                            div.cart__price.cart__price--total Итого:
                                                span.cart__price-value 31 750 руб.

                            div.cart.cart--detail.cart--delivery
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title.page__title--subtitle Доставка
                                        div.form
                                            form(action="")
                                                div.form__group.form__group--inline
                                                    label.form__label Город доставки:
                                                    select.form__control
                                                        option(value="") Санкт-Петербург
                                                        option(value="") Москва
                                                        option(value="") Ростов-на-Дону
                                                        option(value="") Владивосток
                                                        option(value="") Омск
                                    div.cart__body.cart__body--gray
                                        div.cart__form
                                            div.form
                                                form(action="")
                                                    div.cart__table
                                                        div.table.table--responsive.table--flex.table--cart
                                                            div.table__head
                                                                div.table__row
                                                                    div.table__col
                                                                        b.table__title Курьерская доставка
                                                                    div.table__col.table__col--th Дата доставки
                                                                    div.table__col.table__col--th Стоимость
                                                            div.table__body
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio01", name="radioDelivery")
                                                                                label.form__check-label(for="radio01") Курьерская доставка (условия доставки 1)
                                                                    div.table__col(data-label="Дата доставки") Завтра
                                                                    div.table__col(data-label="Стоимость")  300 руб.

                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio02", name="radioDelivery")
                                                                                label.form__check-label(for="radio02") Курьерская доставка (условия доставки 2)
                                                                    div.table__col(data-label="Дата доставки") Завтра
                                                                    div.table__col(data-label="Стоимость")  500 руб.
                                                    div.cart__table
                                                        div.table.table--responsive.table--flex.table--cart
                                                            div.table__head
                                                                div.table__row
                                                                    div.table__col
                                                                        b.table__title Самостоятельно забрать покупку
                                                                    div.table__col.table__col--th Дата доставки
                                                                    div.table__col.table__col--th Стоимость
                                                            div.table__body
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio03", name="radioDelivery01")
                                                                                label.form__check-label(for="radio03") Самовывоз
                                                                    div.table__col(data-label="Дата доставки") 25 января - 28 января
                                                                    div.table__col(data-label="Стоимость")  0 руб.
                                                        button.btn.btn--primary(role="button", type="button") Выберите пункт самовывоза

                                                    div.cart__table
                                                        div.table.table--responsive.table--flex.table--cart
                                                            div.table__head
                                                                div.table__row
                                                                    div.table__col
                                                                        b.table__title почта
                                                                    div.table__col.table__col--th Дата доставки
                                                                    div.table__col.table__col--th Стоимость
                                                            div.table__body
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio04", name="radioDelivery02")
                                                                                label.form__check-label(for="radio04") Почта России, предоплата
                                                                    div.table__col(data-label="Дата доставки") до 28 января
                                                                    div.table__col(data-label="Стоимость") 621 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio05", name="radioDelivery02")
                                                                                label.form__check-label(for="radio05") Почта России, оплата при получении
                                                                    div.table__col(data-label="Дата доставки") до 28 января
                                                                    div.table__col(data-label="Стоимость") 756 руб.

                            div.cart.cart--detail.cart--payment
                                div.cart__content
                                    div.cart__header
                                        b.cart__title.page__title.page__title--subtitle Способ оплаты
                                    div.cart__body.cart__body--gray
                                        div.cart__form
                                            div.form
                                                form(action="")
                                                    div.cart__table
                                                        div.table.table--responsive.table--flex.table--cart
                                                            div.table__head
                                                                div.table__row
                                                                    div.table__col
                                                                        b.table__title Вид оплаты
                                                                    div.table__col.table__col--th Стоимость заказа
                                                            div.table__body
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio06", name="radioPayment")
                                                                                label.form__check-label(for="radio06") Наличными
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio07", name="radioPayment")
                                                                                label.form__check-label(for="radio07") Онлайн-оплата банковской картой (VISA, MasterCard, Maestro)
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio08", name="radioPayment")
                                                                                label.form__check-label(for="radio08") Сбербанк (комиссия 0%)
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio09", name="radioPayment")
                                                                                label.form__check-label(for="radio09") Безналичный расчет для юр. лиц (счет на оплату)
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio10", name="radioPayment")
                                                                                label.form__check-label(for="radio10") Банковским переводом (для физ.лиц)
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio11", name="radioPayment")
                                                                                label.form__check-label(for="radio11") Наличными на юр.лицо
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                                                div.table__row
                                                                    div.table__col
                                                                        div.form__group
                                                                            div.form__check
                                                                                input.form__check-input(type="radio", id="radio12", name="radioPayment")
                                                                                label.form__check-label(for="radio12") Банковской картой при САМОВЫВОЗЕ (VISA, MasterCard и др.), комиссия 0%
                                                                    div.table__col(data-label="Стоимость заказа") 31 750 руб.
                                    div.cart__footer
                                        div.cart__text.cart__text--help
                                            span.text.text--primary.text--bold Заполните контактные данные и мы выполним Ваш заказ!
                                        div.cart__action.cart__action--right
                                            a.btn.btn--primary.btn--xl(href="#", title="Далее") Далее
                                                != pugHelpers.Icon.call(locals, {iconName: 'chevron', className: 'btn__icon btn__icon--right icon icon--chevron icon--right'})




                        // END main

                        // START sidebar
                        div.page__sidebar
                            nav.nav.nav--secondary.nav--cart
                                ul.nav__ul
                                    li.nav__item
                                        a.nav__link.is-active(href="./cart.html", title="Моя корзина") Моя корзина
                                    li.nav__item
                                        a.nav__link(href="./cart-4.html", title="Моя скидка") Моя скидка
                                    li.nav__item
                                        a.nav__link(href="./cart-5.html", title="Мои заказы") Мои заказы
                                    li.nav__item
                                        a.nav__link(href="./profile.html", title="Настройки") Настройки
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
