doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/product/product.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="#", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(href="#", title="Вы тут", data-toggle="tolltip") Каталог
                            div.product.product--grid
                                div.product__container
                                    div.product__content
                                        div.product__header
                                            b.product__title.page__title Каталог
                                            div.product__sort
                                                div.form.form--sort
                                                    div.row.form__row
                                                        div.form__group.row__col.form__col
                                                            label.form__label Сортировать:
                                                            select.form__control.form__control--rounded
                                                                option(selected value="по возрастанию цены") по возрастанию цены
                                                                option(value="по убыванию цены") по убыванию цены
                                                                option(value="по алфавиту") по алфавиту
                                                                option(value="сначала со скидкой") сначала со скидкой
                                                        div.row__col.form__col.form__group
                                                            label.form__label Показывать по:
                                                            ul.form__nav.nav.nav--inline.nav--inline-sort
                                                                li.nav__item.is-active
                                                                    a.nav__link(href="#", title="") 30
                                                                li.nav__item
                                                                    a.nav__link(href="#", title="") 60
                                                                li.nav__item
                                                                    a.nav__link(href="#", title="") 90
                                                                li.nav__item
                                                                    a.nav__link(href="#", title="") все
                                        div.product__body
                                            div.product__row
                                                - var n = 0;
                                                while n < 12
                                                    - var item = product.card[n];
                                                    div.product__col
                                                        +product-card--outline(item)
                                                    - n++;
                                        div.product__footer
                                            div.product__pagination
                                                div.pagination
                                                    a.pagination__btn.pagination__btn--prev(role="button", title="Туда")
                                                    ul.pagination__nav
                                                        li.pagination__page
                                                            a.pagination__link(href="#", title="1 cтранцица") 1
                                                        li.pagination__page
                                                            span.pagination__text 2
                                                        li.pagination__page
                                                            a.pagination__link(href="#", title="3 cтранцица") 3
                                                        li.pagination__page
                                                            a.pagination__link(href="#", title="4 cтранцица") 4
                                                        li.pagination__page
                                                            span.pagination__text ...
                                                        li.pagination__page
                                                            a.pagination__link(href="#", title="4 cтранцица") 10
                                                    a.pagination__btn.pagination__btn--next(role="button", title="Сюда")
                        // END main

                        // START sidebar
                        div.page__sidebar
                            div.product.product--filter
                                div.product__sort
                                    div.page__container
                                        b.page__title Каталог
                                        div.form.form--sort-mobile
                                            div.row.form__row
                                                div.form__group.row__col.form__col
                                                    label.form__label Сортировать:
                                                    select.form__control.form__control--sm.form__control--rounded
                                                        option(selected value="по возрастанию цены") по возрастанию цены
                                                        option(value="по убыванию цены") по убыванию цены
                                                        option(value="по алфавиту") по алфавиту
                                                        option(value="сначала со скидкой") сначала со скидкой
                                                div.row__col.form__col.form__group
                                                    label.form__label Показывать по:
                                                    select.form__control.form__control--sm.form__control--rounded
                                                        option(value="30") 30
                                                        option(value="60") 60
                                                        option(value="90") 90
                                                        option(value="все") все
                                div.product__nav
                                    ul.nav.nav--catalog
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="") Девочки от 0 до 2 лет
                                            ul.nav
                                                li.nav__item.is-active
                                                    a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                                li.nav__item
                                                    a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                                li.nav__item
                                                    a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                                li.nav__item
                                                    a.nav__link(href="./catalog.html", title="Обувь") Обувь
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="") Девочки от 2 до 6 лет
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="") Мальчики от 0 до 2 лет
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="") Мальчики от 2 до 6 лет
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="Детская комната") Детская комната
                                        li.nav__item
                                            a.nav__link(href="./catalog.html", title="Игрушки") Игрушки
                                div.product__content
                                    div.product__header
                                        b.product__title фильтр
                                        bitton.product__toggle(role="button", data-toggle="collapse", data-target="#filter01")
                                    div.product__body(id="filter01")
                                        div.product__list
                                            div.product__filter
                                                div.filter
                                                    div.filter__content
                                                        div.filter__header
                                                            b.filter__title Стоимость (руб.) :
                                                            button.filter__toggle(data-toggle="collapse", data-target="#filter02", data-parent="#filter01")
                                                        div.filter__body(id="filter02")
                                                            div.filter__text
                                                                div.form
                                                                    div.form__range.rangeJs
                                                                        div.form__group.form__group--label(data-label="от")
                                                                            input.form__control.form__control--from.formControlNumberJs(type="text", placeholder="192", min="0", value="192")
                                                                            input.form__control.form__control--hidden(type="hidden", value="192", hidden)
                                                                        div.form__group.form__group--label(data-label="до")
                                                                            input.form__control.form__control--to.formControlNumberJs(type="text", placeholder="43570", max="3000000", value="3 000")
                                                                            input.form__control.form__control--hidden(type="hidden", value="3000", hidden)
                                                                        div.form__slider
                                                                    div.form__group
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox01")
                                                                            label.form__check-label(for="checkbox01") Только товары с акциями
                                            div.product__filter
                                                div.filter
                                                    div.filter__content
                                                        div.filter__header
                                                            b.filter__title Цвет:
                                                            button.filter__toggle(data-toggle="collapse", data-target="#filter03", data-parent="#filter01")
                                                        div.filter__body(id="filter03")
                                                            div.filter__text
                                                                div.form
                                                                    div.form__group
                                                                        div.form__check.form__check--color.form__check--inverse
                                                                            input.form__check-input(type="checkbox", id="color01")
                                                                            label.form__check-label(for="color01", style="background-color: #fff")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color02")
                                                                            label.form__check-label(for="color02", style="background-color: #393939")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color03")
                                                                            label.form__check-label(for="color03", style="background-color: #e60009")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color04")
                                                                            label.form__check-label(for="color04", style="background-color: #2fb400")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color05")
                                                                            label.form__check-label(for="color05", style="background-color: #ff9600")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color06")
                                                                            label.form__check-label(for="color06", style="background-color: #ffd511")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color07")
                                                                            label.form__check-label(for="color07", style="background-color: #6b77d3")
                                                                        div.form__check.form__check--color
                                                                            input.form__check-input(type="checkbox", id="color08")
                                                                            label.form__check-label(for="color08", style="background-color: #ff5498")

                                            div.product__filter
                                                div.filter
                                                    div.filter__content
                                                        div.filter__header
                                                            b.filter__title Производитель:
                                                            button.filter__toggle(data-toggle="collapse", data-target="#filter04", data-parent="#filter01")
                                                        div.filter__body(id="filter04")
                                                            div.filter__text
                                                                div.form
                                                                    div.form__group
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox02")
                                                                            label.form__check-label(for="checkbox02") Carter’s
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox03")
                                                                            label.form__check-label(for="checkbox03") OshKosh
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox05")
                                                                            label.form__check-label(for="checkbox05") Gymboree
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox06")
                                                                            label.form__check-label(for="checkbox06") Crazy 8
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox07")
                                                                            label.form__check-label(for="checkbox07") Hanna Andersson
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox08")
                                                                            label.form__check-label(for="checkbox08") The Children’s Wear Outlet
                                                                        div.form__check
                                                                            input.form__check-input(type="checkbox", id="checkbox09")
                                                                            label.form__check-label(for="checkbox09") Hartstrings
                                        div.product__action
                                            button.product__btn.product__btn--submit(role="button", type="submit") применить фильтр
                                            button.product__btn.product__btn--reset(role="button", type="reset") Сбросить
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
