doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Каталог") Наши магазины
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Сергиев Посад
                            div.contacts.contacts--detail(id="contactsMap")
                                div.contacts__content
                                    b.page__title.contacts__title Магазины в г. Сергиев посад
                                    div.contacts__list
                                        div.contacts__item(data-toggle="map", data-address="55.725311, 37.569090")
                                            div.contacts__row.row
                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--item
                                                        a.contacts__link.contacts__link--title(href="#", title="ТЦ «Вознесенский»") ТЦ «Вознесенский»
                                                    div.contacts__text.contacts__text--address
                                                        p ул. Кооперативная, д. 3

                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--phone
                                                        a(href="tel:+88002502525", title="Позвонить") 8-800-250-25-25
                                                    div.contacts__text.contacts__text--timework
                                                        p Режим работы: 10:00-22:00, ежедневно

                                                div.contacts__col.row__col.contacts__col--action
                                                    a.contacts__route.contacts__link.contacts__link--route(href="#", title="Проложить маршрут")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'route2', className: 'icon icon--route'})
                                                        span.contacts__route-text Показать
                                                            br
                                                            | на карте

                                        div.contacts__item(data-toggle="map", data-address="54.191247, 37.619558")
                                            div.contacts__row.row
                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--item
                                                        a.contacts__link.contacts__link--title(href="#", title="ТЦ «Капитолий»") ТЦ «Капитолий»
                                                    div.contacts__text.contacts__text--address
                                                        p ул. Советская, д. 53а

                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--phone
                                                        a(href="tel:+88002502525", title="Позвонить") 8-800-250-25-25
                                                    div.contacts__text.contacts__text--timework
                                                        p Режим работы: 10:00-22:00, ежедневно

                                                div.contacts__col.row__col.contacts__col--action
                                                    a.contacts__route.contacts__link.contacts__link--route(href="#", title="Проложить маршрут")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'route2', className: 'icon icon--route'})
                                                        span.contacts__route-text Показать
                                                            br
                                                            | на карте

                                        div.contacts__item(data-toggle="map", data-address="55.835083, 37.296281")
                                            div.contacts__row.row
                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--item
                                                        a.contacts__link.contacts__link--title(href="#", title="ТЦ «Веселый»") ТЦ «Веселый»
                                                    div.contacts__text.contacts__text--address
                                                        p ул. Ленина, д. 42

                                                div.contacts__col.row__col
                                                    b.contacts__title.contacts__title--phone
                                                        a(href="tel:+88002502525", title="Позвонить") 8-800-250-25-25
                                                    div.contacts__text.contacts__text--timework
                                                        p Режим работы: 10:00-22:00, ежедневно

                                                div.contacts__col.row__col.contacts__col--action
                                                    a.contacts__route.contacts__link.contacts__link--route(href="#", title="Проложить маршрут")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'route2', className: 'icon icon--route'})
                                                        span.contacts__route-text Показать
                                                            br
                                                            | на карте

                                div.contacts__map.is-loading(data-address="41.307883, 69.270321")
                                    div.contacts__message
                                    div.contacts__loader
                                        div.loader.loader--shadow
                                            span.loader__item
                                            span.loader__item
                                            span.loader__item
                                            span.loader__item
                        // END main

                        // START sidebar
                        div.page__sidebar
                            nav.nav.nav--secondary.nav--location
                                b.nav__title 
                                    a.nav__link.nav__link--title(href="#", title="Все города") Все города
                                ul.nav__ul
                                    li.nav__item
                                        a.nav__link(href="#", title="Санкт-Петербург") Санкт-Петербург
                                    li.nav__item
                                        a.nav__link(href="#", title="Саранск") Саранск
                                    li.nav__item
                                        a.nav__link(href="#", title="Саратов") Саратов
                                    li.nav__item
                                        a.nav__link(href="#", title="Сасово") Сасово
                                    li.nav__item
                                        a.nav__link(href="#", title="Саянск") Саянск
                                    li.nav__item
                                        a.nav__link(href="#", title="Светлоград") Светлоград
                                    li.nav__item
                                        a.nav__link(href="#", title="Северодвинск") Северодвинск
                                    li.nav__item
                                        a.nav__link(href="#", title="Северская") Северская
                                    li.nav__item
                                        a.nav__link(href="#", title="Селятино") Селятино
                                    li.nav__item
                                        a.nav__link(href="#", title="Сергач") Сергач
                                    li.nav__item
                                        a.nav__link(href="#", title="Сергиев Посад") Сергиев Посад
                                    li.nav__item
                                        a.nav__link(href="#", title="Сердобск") Сердобск
                                    li.nav__item
                                        a.nav__link(href="#", title="Серов") Серов
                                    li.nav__item
                                        a.nav__link(href="#", title="Серпухов") Серпухов
                                    li.nav__item
                                        a.nav__link(href="#", title="Славянск-На-Кубани") Славянск-На-Кубани
                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
