doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/product/product.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                // START main
                main.page__main(role="main")
                    // START main category card
                    section.block.block--section.block--category-gender
                        div.block__content.page__container
                            div.block__row.row
                                div.block__col.row__col
                                    div.card.card--overlay
                                        div.card__media
                                            div.card__img
                                                img.card__img-file(
                                                    src="%=static=%img/content/card__img-1.jpg",
                                                    srcset="%=static=%img/content/card__img-1.jpg 1x, %=static=%img/content/card__img-1@2x.jpg 2x", alt="")
                                        div.card__content
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Девочкам") Девочкам
                                                div.card__text
                                                    p - Верхняя одежда
                                                        br
                                                        | - Праздничная одежда
                                                        br
                                                        | - Повседневная одежда
                                                        br
                                                        | - Обувь
                                                div.card__nav
                                                    nav.nav.nav--pill.nav--pill-pink
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 0 до 2 лет
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 2 до 6 лет
                                div.block__col.row__col
                                    div.card.card--overlay
                                        div.card__media
                                            div.card__img
                                                img.card__img-file.object-fit-images(
                                                    src="%=static=%img/content/card__img-2.jpg",
                                                    srcset="%=static=%img/content/card__img-2.jpg 1x, %=static=%img/content/card__img-2@2x.jpg 2x", alt="")
                                        div.card__content
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Мальчикам") Мальчикам
                                                div.card__text
                                                    p - Верхняя одежда
                                                        br
                                                        | - Праздничная одежда
                                                        br
                                                        | - Повседневная одежда
                                                        br
                                                        | - Обувь
                                                div.card__nav
                                                    nav.nav.nav--pill
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 0 до 2 лет
                                                        a.nav__link(href="/catalog.html", title="От 0 до 2 лет") От 2 до 6 лет
                    // END main category card

                    // START shop info
                    section.block.block--section.block--shop-info
                        div.block__content.page__container
                            div.block__row.row
                                div.block__col.row__col
                                    div.card.card--shop-info.card--delivery
                                        div.card__content
                                            div.card__media
                                                div.card__img.card__img--icon
                                                    != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                div.card__text
                                                    p Мы доставим бесплатно Ваш заказ в любую точку России!
                                div.block__col.row__col
                                    div.card.card--shop-info.card--payment
                                        div.card__content
                                            div.card__media
                                                div.card__img.card__img--icon
                                                    != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                div.card__text
                                                    p Принимаем к оплате наличные и карты Visa или Mastercard!
                                div.block__col.row__col
                                    div.card.card--shop-info.card--warranty
                                        div.card__content
                                            div.card__media
                                                div.card__img.card__img--icon
                                                    != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                            div.card__body
                                                b.card__title
                                                    a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                div.card__text
                                                    p Возврат и обмен в течение 30 дней со дня покупки!
                    // END shop info

                    // START top products
                    include ../components/product/product-block-best-section.pug
                    // END top products

                    //- START new products
                    include ../components/product/product-block-new-section.pug
                    //- END new products

                    //- START brands
                    include ../components/brands/brands-block-section.pug
                    //- END brands

                    //- START block about
                    include ../components/about/about.pug
                    //- EBD block about

                    // START block contacts
                    section.block.block--contacts.contacts.contacts--map
                        div.block__content.page__container
                            div.block__content.contacts__content
                                b.block__title.contacts__title Контакты
                                div.tabs(id="contactsMap")
                                    div.contacts__form
                                        div.form
                                            div.form__group
                                                select.tabs__select.form__control.form__control--lg(data-toggle="select", data-parent="#contactsMap")
                                                    option(selected value="#contactsTab0") Санкт-Петербург
                                                    option(value="#contactsTab1") Москва
                                                    option(value="#contactsTab2") Ростов-на-Дону
                                                    option(value="#contactsTab3") Владивосток
                                                    option(value="#contactsTab4") Омск
                                                    option(value="#contactsTab5") Новосибирскч
                                    div.tabs__nav.contacts__nav
                                        ul.nav.nav--tabs
                                            li.nav__item.is-active
                                                a.nav__link(href="#contactsTab0", data-target="#contactsTab0", data-toggle="tabs", data-parent="#contactsMap", title="Санкт-Петербург") Санкт-Петербург
                                            li.nav__item
                                                a.nav__link(href="#contactsTab1", data-target="#contactsTab1", data-toggle="tabs", data-parent="#contactsMap", title="Москва") Москва
                                            li.nav__item
                                                a.nav__link(href="#contactsTab2", data-target="#contactsTab2", data-toggle="tabs", data-parent="#contactsMap", title="Ростов-на-Дону") Ростов-на-Дону
                                            li.nav__item
                                                a.nav__link(href="#contactsTab3", data-target="#contactsTab3", data-toggle="tabs", data-parent="#contactsMap", title="Владивосток") Владивосток
                                            li.nav__item
                                                a.nav__link(href="#contactsTab4", data-target="#contactsTab4", data-toggle="tabs", data-parent="#contactsMap", title="Омск") Омск
                                            li.nav__item
                                                a.nav__link(href="#contactsTab5", data-target="#contactsTab5", data-toggle="tabs", data-parent="#contactsMap", title="Новосибирск") Новосибирск
                                    div.tabs__content
                                        - var n = 0;
                                        while n < 6
                                            div.tabs__body(id="contactsTab" + n, class = n===0 ? 'is-open':'')
                                                div.contacts__row.row
                                                    div.contacts__col.row__col
                                                        div.contacts__item(data-toggle="map", data-address="41.307883, 69.270321")
                                                            div.contacts__text
                                                                p Адрес: Дунайский проспект, 48к1
                                                                    br
                                                                    | Телефон: 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    | , 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    br
                                                                    | Время работы: пн-пт: 9:00 - 19:00, сб-вс: 10:00 - 18:00
                                                            a.contacts__route(href="#", title="Проложить маршрут")
                                                                != pugHelpers.Icon.call(locals, {iconName: 'route', className: 'contacts__route-icon icon icon--route'})
                                                                span.contacts__route-text Проложить маршрут
                                                    div.contacts__col.row__col
                                                        div.contacts__item(data-toggle="map", data-address="41.322903, 69.242019")
                                                            div.contacts__text
                                                                p Адрес: Дунайский проспект, 48к1
                                                                    br
                                                                    | Телефон: 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    | , 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    br
                                                                    | Время работы: пн-пт: 9:00 - 19:00, сб-вс: 10:00 - 18:00
                                                            a.contacts__route(href="#", title="Проложить маршрут")
                                                                != pugHelpers.Icon.call(locals, {iconName: 'route', className: 'contacts__route-icon icon icon--route'})
                                                                span.contacts__route-text Проложить маршрут
                                                    div.contacts__col.row__col
                                                        div.contacts__item(data-toggle="map", data-address="41.237437, 69.332836")
                                                            div.contacts__text
                                                                p Адрес: Дунайский проспект, 48к1
                                                                    br
                                                                    | Телефон: 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    | , 
                                                                    a(href="tel:+78124821111", title="Позвонить") +7 812 482 11 11
                                                                    br
                                                                    | Время работы: пн-пт: 9:00 - 19:00, сб-вс: 10:00 - 18:00
                                                            a.contacts__route(href="#", title="Проложить маршрут")
                                                                != pugHelpers.Icon.call(locals, {iconName: 'route', className: 'contacts__route-icon icon icon--route'})
                                                                span.contacts__route-text Проложить маршрут
                                            - n++
                        div.block__map
                            div.contacts__map.is-loading(data-address="41.307883, 69.270321")
                                div.contacts__loader
                                    div.loader.loader--shadow
                                        span.loader__item
                                        span.loader__item
                                        span.loader__item
                                        span.loader__item
                                div.contacts__message
                                    div.contacts__body.contacts__body--message
                                        b.contacts__title Ошибка!
                                        div.contacts__text Не удалось Ваше местоположение, попробуйте указать его вручную.
                                        button.contacts__action.btn.btn--primary(role="button", data-dismiss="message") Продолжить

                    // END block contacts
                // END main
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer
        // END werapper

        // START modal
        include ../components/user/modal-login.pug
        // END modal

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
