doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__back
                                button.btn.btn--link(data-toggle="history", data-target="-1", title="Вернуться в каталог") 
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'btn__icon btn__icon--left icon icon--arrow'})
                                    | Вернуться в каталог
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="./index.html", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(title="Вы тут", data-toggle="tolltip") Настройки
                            div.user.user--profile
                                div.user__content
                                    div.user__header 
                                        b.user__title.page__title Настройки
                                    div.user__row.row
                                        div.user__col.row__col.col-md-6.col-lg-12.col-xl-6
                                            div.user__card
                                                form.user__form.form
                                                    div.card.card--outline.card--user
                                                        div.card__content
                                                            div.card__body
                                                                div.form__group
                                                                    div.form__control.form__control--avatar
                                                                        input.form__raw(type="file", id="userImage")
                                                                        div.form__value
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'user', className: 'form__icon icon icon--user'})
                                                                            img.form__image(src="%=static=%img/assets/user/user-01.jpg", 
                                                                                srcset="%=static=%img/assets/user/user-01.jpg 1x, %=static=%img/assets/user/user-01@2x.jpg 2x", alt="")
                                                                        label.form__label(for="userImage") Заменить фото
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") ФИО
                                                                    input.form__control(type="text", placeholder="", value="Кошевая Валентина")
                                                                div.form__group.form__group--inline-items
                                                                    div.form__label.form__label--light Пол
                                                                    div.form__check.form__check--inline
                                                                        input.form__check-input(type="radio", id="userSex", name="userSex")
                                                                        label.form__check-label(for="userSex") Женский
                                                                    div.form__check.form__check--inline
                                                                        input.form__check-input(type="radio", id="userSex01", name="userSex")
                                                                        label.form__check-label(for="userSex01") Мужской
                                                                div.form__group
                                                                    div.form__label.form__label--light Дата рождения
                                                                    div.form__row
                                                                        div.form__col.form__col--auto
                                                                            select.form__control
                                                                                - var n = 1;
                                                                                while n < 29
                                                                                    option(value=n)=n
                                                                                    - n++;
                                                                        div.form__col
                                                                            select.form__control
                                                                                option(value="Январь") Январь
                                                                                option(value="Февраль") Февраль
                                                                                option(value="Март") Март
                                                                                option(value="Май") Май
                                                                                option(value="Июнь") Июнь
                                                                                option(value="Июль") Июль
                                                                                option(value="Август") Август
                                                                                option(value="Сентябрь") Сентябрь
                                                                                option(value="Октябрь") Октябрь
                                                                                option(value="Октябрь") Октябрь
                                                                                option(value="Ноябрь") Ноябрь
                                                                        div.form__col.form__col--auto
                                                                            select.form__control
                                                                                - var n = 2000;
                                                                                while n >= 1950
                                                                                    option(value=n)=n
                                                                                    - n--;
                                                                div.form__group
                                                                    div.form__label.form__label--light Телефон
                                                                    input.form__control(type="tel", value="+7 (910) 834 71 47")
                                                                div.form__group
                                                                    div.form__label.form__label--light Электронная почта
                                                                    input.form__control.form__control--success(type="email", value="valentinkakosh@mail.ru")


                                                                div.form__action.form__action--right
                                                                        a.form__link(href="#", title="Сменить пароль") Сменить пароль
                                                                        button.form__btn.btn.btn--primary(role="button", title="Сохранить изменения") Сохранить изменения
                                        div.user__col.row__col.col-md-6.col-lg-12.col-xl-6
                                            div.user__card
                                                div.card.card--outline.card--user
                                                    div.card__content
                                                        div.card__body.user__body
                                                            b.card__title.user__title Информация о детях
                                                            div.card__text.user__text
                                                                p Вы можете добавить информацию о детях, чтобы получать персональные предложения и новости о товарах и скидках, подходящие именно Вашим деткам!
                                                            div.user__list
                                                                div.user__info
                                                                    div.user__info-icon
                                                                        != pugHelpers.Icon.call(locals, {iconName: 'girl', className: 'icon icon--girl'})
                                                                    div.user__info-content
                                                                        div.user__info-title
                                                                            | Машка
                                                                        div.user__info-body
                                                                            div.user__info-text
                                                                                p 3 года
                                                                            a.user__info-link(data-toggle="edit" data-target="#userFormChild" data-action="get_user_child" data-id="346" class="user__info-link" href="#", title="Изменить") Изменить
                                                                            a.user__info-link(data-toggle="delete" data-target="#userFormChild" data-action="delete_user_child" data-id="346" class="user__info-link" href="#", title="Удалить") Удалить
                                                        form.user__form.user__form--info.form(id="userFormChild")
                                                            div.card__body
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Имя
                                                                    input.form__control(type="text", placeholder="", value="Кошевая Валентина")
                                                                div.form__group.form__group--inline-items
                                                                    div.form__label.form__label--light Пол
                                                                    div.form__check.form__check--inline
                                                                        input.form__check-input(type="radio", id="infoSex", name="infoSex")
                                                                        label.form__check-label(for="infoSex") Девочка
                                                                    div.form__check.form__check--inline
                                                                        input.form__check-input(type="radio", id="infoSex01", name="infoSex")
                                                                        label.form__check-label(for="infoSex01") Мальчик
                                                                div.form__group
                                                                    div.form__label.form__label--light Дата рождения
                                                                    div.form__row
                                                                        div.form__col.form__col--auto
                                                                            select.form__control
                                                                                - var n = 1;
                                                                                while n < 32
                                                                                    option(value=n)=n
                                                                                    - n++;
                                                                        div.form__col
                                                                            select.form__control
                                                                                option(value="Январь") Январь
                                                                                option(value="Февраль") Февраль
                                                                                option(value="Март") Март
                                                                                option(value="Май") Май
                                                                                option(value="Июнь") Июнь
                                                                                option(value="Июль") Июль
                                                                                option(value="Август") Август
                                                                                option(value="Сентябрь") Сентябрь
                                                                                option(value="Октябрь") Октябрь
                                                                                option(value="Октябрь") Октябрь
                                                                                option(value="Ноябрь") Ноябрь
                                                                        div.form__col.form__col--auto
                                                                            select.form__control
                                                                                - var n = 2018;
                                                                                while n >= 2000
                                                                                    option(value=n)=n
                                                                                    - n--;
                                                                div.form__action.form__action--right
                                                                    button.form__btn.btn.btn--primary(role="button", title="Сохранить") Сохранить
                                                        div.card__body.user__body
                                                            button.btn.btn--outline-secondary(role="button", title="+ Добавить ребенка") + Добавить ребенка
                                            div.user__card
                                                div.card.card--outline.card--user
                                                    div.card__content
                                                        div.card__body.user__body
                                                            b.card__title.user__title Адреса доставки
                                                            div.card__text.user__text
                                                                p Добавьте Ваши адреса доставки для быстрого оформления заказов!
                                                            div.user__list
                                                                div.user__info.user__info--address
                                                                    div.user__info-content
                                                                        div.user__info-title
                                                                            | Домашний адрес
                                                                        div.user__info-body
                                                                            div.user__info-text
                                                                                p 000 001, Россия, г. Москва, 
                                                                                    br
                                                                                    | ул. Строителей, д. 38, кв. 493
                                                                        div.user__info-action
                                                                            a.user__info-link(data-toggle="edit", data-target="#userFormShipping", data-action="get_user_shipping_address", data-id="2", href="#", title="Изменить") Изменить
                                                                            a.user__info-link(data-toggle="delete", data-target="#userFormShipping", data-action="delete_user_shipping_address", data-id="2", href="#", title="Удалить") Удалить

                                                        form.user__form.user__form--info.form(id="userFormShipping")
                                                            div.card__body
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Название
                                                                    input.form__control(type="text", placeholder="", value="Домашний")
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Город доставки
                                                                    select.form__control
                                                                        option(value="") Санкт-Петербург
                                                                        option(value="") Москва
                                                                        option(value="") Ростов-на-Дону
                                                                        option(value="") Владивосток
                                                                        option(value="") Омск
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Улица
                                                                    input.form__control(type="text", placeholder="", value="")
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Дом, корпус, строение
                                                                    input.form__control(type="text", placeholder="", value="")
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Квартира, офис
                                                                    input.form__control(type="text", placeholder="", value="")
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Подъезд
                                                                    input.form__control(type="text", placeholder="", value="")
                                                                div.form__group
                                                                    label.form__label.form__label--light(for="") Этаж
                                                                    input.form__control(type="text", placeholder="", value="")
                                                        div.card__body.user__body
                                                            button.btn.btn--outline-secondary(role="button", title="+ + Добавить Адрес") + Добавить Адрес
                                            div.user__card
                                                div.card.card--outline.card--user
                                                    div.card__content
                                                        div.card__body.user__body
                                                            b.card__title.user__title Социальные сети
                                                            div.card__text.user__text
                                                                p Свяжите свой аккаунт с любой социальной сетью. Это упростит вход в «Личный кабинет»
                                                            div.user__social
                                                                ul.nav.nav--social-share.nav--user-social
                                                                    li.nav__item
                                                                        a.nav__link.nav__link--facebook.is-active(href="#", title="")
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'nav__icon icon icon--facebook'})
                                                                    li.nav__item
                                                                        a.nav__link.nav__link--vk(href="#", title="")
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'nav__icon icon icon--vk'})
                                                                    li.nav__item
                                                                        a.nav__link.nav__link--odnoklassniki(href="#", title="")
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'odnoklassniki', className: 'nav__icon icon icon--odnoklassniki'})
                                                                    li.nav__item
                                                                        a.nav__link.nav__link--instagram(href="#", title="")
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'nav__icon icon icon--instagram'})
                                                                    li.nav__item
                                                                        a.nav__link.nav__link--twitter(href="#", title="")
                                                                            != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'nav__icon icon icon--twitter'})
                                    
                        // END main

                        // START sidebar
                        div.page__sidebar
                            nav.nav.nav--secondary.nav--cart
                                ul.nav__ul
                                    li.nav__item
                                        a.nav__link(href="./cart.html", title="Моя корзина") Моя корзина
                                    li.nav__item
                                        a.nav__link(href="./cart-4.html", title="Моя скидка") Моя скидка
                                    li.nav__item
                                        a.nav__link(href="./cart-5.html", title="Мои заказы") Мои заказы
                                    li.nav__item
                                        a.nav__link.is-active(href="./profile.html", title="Настройки") Настройки

                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!

                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
