doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/product/product.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START werapper
        section.page__wrapper
            // START header
            div.page__header
                +header(site.pages.defaults)
            // END header

            // START content
            div.page__content
                div.page__container
                    div.page__row.page__row--sidebar
                        // START main
                        main.page__main(role="main")
                            div.page__breadcrumbs
                                ul.nav.nav--breadcrumbs
                                    li.nav__item
                                        a.nav__link(href="#", title="Главная") Главная
                                    li.nav__item
                                        span.nav__text(href="#", title="Вы тут", data-toggle="tolltip") Каталог
                            article.article
                                div.article__content
                                    div.article__header
                                        h1.article__title.page__title Текстовая страница
                                    div.article__body
                                        div.media.media--left
                                            div.media__img
                                                img.media__img-file.object-fit-images(
                                                    src="%=static=%img/content/cart__img-23.jpg",
                                                    srcset="%=static=%img/content/cart__img-23.jpg 1x, %=static=%img/content/cart__img-23@2x.jpg 2x", alt="Заголовок")
                                        p Товарищи! новая модель организационной деятельности требуют определения и уточнения дальнейших направлений развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет оценить значение направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа систем массового участия.Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа систем массового участия.
                                        
                                        h2 Заголовок 2-го уровня
                                        p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. С другой стороны рамки и место обучения кадров позволяет оценить значение форм развития. 
                                            a(href="./static.html", title="Задача организации") Задача организации
                                            |, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
                                        p Равным образом рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом реализация намеченных плановых заданий играет важную роль в формировании форм развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа модели развития.

                                        h3 Заголовок 3-го уровня
                                        p Равным образом рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом реализация намеченных плановых заданий играет важную роль в формировании форм развития.
                                        
                                        h3 Маркированный список:
                                        ul
                                            li С другой стороны рамки и место обучения кадров позволяет оценить значение форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
                                            li Равным образом рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом реализация намеченных плановых заданий играет важную роль в формировании форм развития. 
                                            li Постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа модели развития.
                                            li Разнообразный и богатый опыт реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития.
                                        
                                        h3 Нумерованный список:
                                        ol 
                                            li С другой стороны рамки и место обучения кадров позволяет оценить значение форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
                                            li Равным образом рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Таким образом реализация намеченных плановых заданий играет важную роль в формировании форм развития. 
                                            li Постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа модели развития.
                                            li Разнообразный и богатый опыт реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития.

                                        b.h1 Раскрывающий список (вакансии)
                                        div.collapse(id="vacanciesList")
                                            div.collapse__content
                                                div.collapse__header
                                                    b.collapse__title.collapse__title--toggle(data-toggle="collapse", data-target="#vacanciesItem01", data-parent="#vacanciesList") кассир
                                                div.collapse__body(id="vacanciesItem01")
                                                    div.collapse__text
                                                        b.h4 Требования:
                                                        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
                                                        b.h4 Условия:
                                                        p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                                            div.collapse__content
                                                div.collapse__header
                                                    b.collapse__title.collapse__title--toggle(data-toggle="collapse", data-target="#vacanciesItem02", data-parent="#vacanciesList") Продавец-консультант
                                                div.collapse__body(id="vacanciesItem02")
                                                    div.collapse__text
                                                        b.h4 Требования:
                                                        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
                                                        b.h4 Условия:
                                                        p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
                                            div.collapse__content
                                                div.collapse__header
                                                    b.collapse__title.collapse__title--toggle.is-active(data-toggle="collapse", data-target="#vacanciesItem03", data-parent="#vacanciesList") менеджер
                                                div.collapse__body.is-open(id="vacanciesItem03")
                                                    div.collapse__text
                                                        b.h4 Требования:
                                                        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет оценить значение направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа систем массового участия.
                                                        b.h4 Условия:
                                                        p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа систем массового участия.

                                                        div.contacts.contacts--form
                                                            div.contacts__content
                                                                div.contacts__header 
                                                                    b.contacts__title Отправить резюме
                                                                    div.contacts__text.contacts__text--help
                                                                        p Поля, отмеченные звездочкой ( 
                                                                            span.text--accent * 
                                                                            | ), обязательны для заполнения.
                                                                div.contacts__body
                                                                    form.form.js-form.form--card.card.card--outline
                                                                            div.form__content.card__content
                                                                                div.form__body.card__body
                                                                                    div.form__row.row
                                                                                        div.form__col.row__col
                                                                                            div.form__group
                                                                                                input.form__control(type="text", name="name", data-validate-field="name")
                                                                                                label.form__label.form__label--placeholder(data-toggle="placeholder") Ваше имя
                                                                                                    sup *
                                                                                        div.form__col.row__col
                                                                                            div.form__group
                                                                                                input.form__control(type="email", name="email", data-validate-field="email")
                                                                                                label.form__label.form__label--placeholder(data-toggle="placeholder") Электронная почта
                                                                                                    sup *
                                                                                        div.form__col.row__col
                                                                                            div.form__group.form__group--error
                                                                                                input.form__control(type="tel", name="phone", data-validate-field="phone")
                                                                                                label.form__label.form__label--placeholder(data-toggle="placeholder") Телефон
                                                                                                    sup *
                                                                                    div.form__group
                                                                                        textarea.form__control(name="", cols="30", rows="3")
                                                                                        label.form__label.form__label--placeholder(data-toggle="placeholder") Сообщение
                                                                                    div.form__row
                                                                                        div.form__col
                                                                                            div.form__group.form__group--file
                                                                                                label.form__label(for="customFile") Добравить резюме
                                                                                                input.form__control.form__control--hide(id="customFile", data-toggle="file",type="file")
                                                                                        div.form__col.form__col--captcha
                                                                                            div.form__captcha
                                                                                                div.form__img
                                                                                                    img.form__img-file(width="127", height="42px", src="%=static=%img/content/captcha.jpg")
                                                                                                div.form__group
                                                                                                    input.form__control(type="type")
                                                                                                    label.form__label.form__label--placeholder(data-toggle="placeholder") Введите число с картинки
                                                                                                        sup *

                                                                                        div.form__col.form__col--action
                                                                                            button.btn.btn--primary.btn--block(role="button", type="submit") отправить
                                            div.collapse__content
                                                div.collapse__header
                                                    b.collapse__title.collapse__title--toggle(data-toggle="collapse", data-target="#vacanciesItem04", data-parent="#vacanciesList") Продавец-консультант
                                                div.collapse__body(id="vacanciesItem04")
                                                    div.collapse__text
                                                        b.h4 Требования:
                                                        p Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
                                                        b.h4 Условия:
                                                        p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.




                        // END main

                        // START sidebar
                        div.page__sidebar
                            section.block.block--section.block--shop-info-2
                                div.block__content
                                    div.block__row.row
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--delivery
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'delivery', className: 'card__icon icon icon--delivery'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Доставка") Доставка
                                                        div.card__text
                                                            p Мы доставим бесплатно Ваш заказ в любую точку России!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--payment
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'card__icon icon icon--payment'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Оплата") Оплата
                                                        div.card__text
                                                            p Принимаем к оплате наличные и карты Visa или Mastercard!
                                        div.block__col.row__col
                                            div.card.card--shop-info.card--small.card--warranty
                                                div.card__content
                                                    div.card__media
                                                        div.card__img.card__img--icon
                                                            != pugHelpers.Icon.call(locals, {iconName: 'warranty', className: 'card__icon icon icon--warranty'})
                                                    div.card__body
                                                        b.card__title
                                                            a.card__link.card__link--title(href="#", title="Гарантия") Гарантия
                                                        div.card__text
                                                            p Возврат и обмен в течение 30 дней со дня покупки!
                        // END sidebar
            // END content

            // START footer
            div.page__footer
                +footer()
            // END footer

        // END werapper

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
