.filter{
    $_: '.filter';
    @include media-breakpoint-down(md) {
        #{$_}__header{
            @extend %collapse-header-mobile;
            margin-left: 0;
            margin-right: 0;
        }
        #{$_}__title{
            @extend %collapse-title-mobile;
        }
        #{$_}__toggle{
            @extend %collapse-toggle-mobile;
        }
        #{$_}__body{
            @extend %collapse-body-mobile;;
        }
        #{$_}__text{
            padding: $grid-gutter-width/3*2
        }
    }
    @include media-breakpoint-up(lg) {
        #{$_}__content{
            padding: 1rem 1.875rem;
        }
        #{$_}__title{
            display: block;
            margin-bottom: 1rem;
            color: $text-secondary;
            font-size: .9375rem;
        }
        #{$_}__toggle{
            display: none;
        }
    }
}
