// START filter responsive
.filter{
    $_: '.filter';
    #{$_}__header{
        color: $text-primary;
    }
    #{$_}__title{
        display: block;
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
    }
}

@import '_filter-responsive';
// END filter responsive
