@import 'nouislider/distribute/nouislider';


.noUi-target {
    border: 0;
    border-radius: 0;
    background: $dividers;
}
.noUi-connect {
    background: $accent;
}
.noUi-horizontal {
    height: 1px;
}
.noUi-horizontal .noUi-handle {
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
	border-bottom: 28px solid $accent; 
	border-left: 22px solid transparent;
	width: 0;
    height: 0;
    background: transparent;
    box-shadow: none;
    outline: none;
    &::before, &::after {
        content: none;
    }
    &:hover {
        &, &:focus {
            outline: none;
            border-bottom: 28px solid lighten($accent, 10%);
        }
    }
    &.noUi-handle-upper {
        border-left: 0;
        border-right: 22px solid transparent;
    }
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle{
    right: -22px;
    &.noUi-handle-lower{
        right: 0;
    }
}
