.block{
    $_: '.block';
    @include media-breakpoint-down(sm) {
        &--offers{
            #{$_}__header{
                &[data-toggle="collapse"]{
                    &::after{
                        content: '';
                        display: block;
                        margin-left: auto;
                        font-size: 1.75rem;
                        height: 1em;
                        width: 1em;
                        background: svg-load('../../img/svg/chevron.svg', fill=$white) no-repeat 50% 50%;
                        background-size: cover;
                        transform: rotate(-90deg);
                        transition: $transition-base;
                    }
                    & > * {
                        pointer-events: none;
                    }
                }
            }
            #{$_}__body{
                overflow: hidden;
                visibility: hidden;
                height: 0;
                //transition: visibility .25s ease-in-out, height .25s ease-in-out;
                &.is-collapsing{
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    transition: height .35s ease;
                }
                &.is-open{
                    visibility: visible;
                    height: 100%;
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {
        &--offers{
            #{$_}__header{
                &[data-toggle="collapse"]{
                    pointer-events: none;
                    & > * {
                        pointer-events: all;
                    }
                }
            }
        }
        &--about{
            padding-top: 2.5rem;
            padding-bottom: 1.25rem;
        }
        &--category-gender{
            padding-top: 2.5rem;
            padding-bottom: 1.25rem;
            margin-bottom: 0;
            #{$_}__content{
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
            }
            #{$_}__col{
                padding-bottom: $grid-gutter-width/3*2;
            }
        }
        &--shop-info{
            margin-bottom: 2.5rem;
            #{$_}__row{
                margin-left: -$grid-gutter-width/3;
                margin-right: -$grid-gutter-width/3;
            }
            #{$_}__col{
                padding-left: $grid-gutter-width/3;
                padding-right: $grid-gutter-width/3;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &--category-gender{
            padding-top: .625rem;
            padding-bottom: 1.25rem;
            #{$_}__row{
                @include make-row();
            }
            #{$_}__col{
                display: flex;
                @include make-col(6);
                @include make-col-ready();
                padding-bottom: $grid-gutter-width;
            }
        }
        &--shop-info{
            margin-bottom: 3.125rem;
        }
        &--offers{
            padding-top: 2.75rem;
            padding-bottom: 1.875rem;
            margin: 0;
            #{$_}__header{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0;
                margin: 0;
                margin-bottom: 1.6875rem;
                color: $text-secondary;
                background: transparent;
                &[data-toggle="collapse"]{
                    &:after{
                        content: none;
                    }
                }
            }
            #{$_}__title{
                font-size: 2rem;
                text-transform: uppercase;
            }
            #{$_}__footer{
                display: none;
            }
            #{$_}__pagination{
                display: block;
            }
            #{$_}__link{
                &--more-top{
                    display: inline;
                }
            }
        }
        &--best-offers{
            #{$_}__header{
                color: $pink;
            }
        }
        &--new{
            #{$_}__header{
                color: $green;
            }
        }
        &--similar{
            padding-bottom: 2.75rem;
        }
        &--brands{
            padding-top: .625rem;
            padding-bottom: 3.5rem;
            #{$_}__header{
                color: $info;
                margin-bottom: 2.5rem;
            }
        }
        &--about{
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;
            #{$_}__content{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            #{$_}__card{
                margin: 0;
                padding-right: 2.8125rem;
                flex: 0 0 385px;
                width: 385px;
            }
            #{$_}__body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                margin: 0;
                max-width: none;
            }
            #{$_}__title{
                font-size: 2rem;
            }
            #{$_}__text{
                font-size: .875rem;
            }
        }
        &--contacts{
            padding-top: 3.125rem;
            #{$_}__title{
                font-size: 2rem;
                text-transform: uppercase;
            }
            #{$_}__map{
                margin-top: 2.5rem;
            }
        }
        &--main-footer{
            #{$_}__header{
                display: flex;
                flex-direction: row;
                margin-bottom: 2.5rem;
            }
            #{$_}__title{
                order: 1;
                padding: 0;
                border: 0;
                font-size: 3.625rem;
                line-height: 1;
            }
            #{$_}__form{
                order: 2;
                border: 0;
                padding: 0;
                margin-top: 20px;
                margin-left: 4.625rem;
                flex: 0 0 334px;
                max-width: 334px;
                width: 100%;
            }
            #{$_}__contacts{
                display: none;
            }
            #{$_}__row{
                @include make-row();
            }
            #{$_}__col{
                @include make-col-ready();
                @include make-col(4);
                padding-bottom: $grid-gutter-width;
                &--order-1{
                    order: 1;
                }
                &--order-2{
                    order: 2;
                }
                &--order-3{
                    order: 3;
                }
                &--order-4{
                    order: 4;
                }
                &--order-5{
                    order: 5;
                }
                &--order-6{
                    order: 6;
                }
            }
        }
        &--sidebar-footer{
            display: flex;
            width: 100%;
            #{$_}__content{
                display: flex;
                width: 100%;
            }
            #{$_}__row{
                @include make-row();
            }
            #{$_}__col{
                @include make-col-ready();
                @include make-col(6);
            }
            #{$_}__content{
                display: flex;
                flex-direction: column;
            }
            #{$_}__contacts{
                margin-top: 1rem;
                margin-bottom: 2.5rem;
            }
            #{$_}__body{
                margin-bottom: 2.5rem;
            }
            #{$_}__payment{
                display: flex;
                margin-top: auto;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &--shop-info-2{
            display: block;
            #{$_}__col{
                padding-bottom: 1.25rem;
            }
        }
        &--offers{
            #{$_}__title{
                font-size: 2.5rem;
            }
            #{$_}__link{
                &--more-top{
                    margin-top: 1.125rem;
                }
            }
        }
        &--about{
            #{$_}__title{
                font-size: 2.5rem;
            }
            #{$_}__card{
                margin: 0;
                flex: 0 0 430px;
                width: 430px;
            }
        }
    }
}
