// START block style
.block{
    $_: '.block';
    &--section{
        margin-bottom: $grid-gutter-width/3;
    }
    &--category-gender{
        #{$_}__row{
            margin-left: 0;
            margin-right: 0;
        }
        #{$_}__col, #{$_}__content{
            padding-left: 0;
            padding-right: 0;
        }
    }
    &--shop-info{
        #{$_}__row{
            margin-left: -$grid-gutter-width/6;
            margin-right: -$grid-gutter-width/6;
            flex-wrap: wrap;
        }
        #{$_}__col{
            padding-left: $grid-gutter-width/6;
            padding-right: $grid-gutter-width/6;
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
    &--shop-info-2{
        display: none;
    }
    &--offers{
        margin-bottom: .625rem;
        #{$_}__header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            color: $text-primary-light;
            padding: .625rem $grid-gutter-width/3*2;
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
        }
        #{$_}__footer{
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;

        }
        #{$_}__text{
            padding-top: .625rem;
        }
        #{$_}__title{
            text-transform: uppercase;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            line-height: 1.1;
        }
        #{$_}__pagination{
            display: none;
            margin-left: auto;
        }
        #{$_}__link{
            text-decoration: none;
            color: $text-secondary;
            font-weight: $font-weight-bold;
            
            &:hover{
                color: $link-hover-color;
            }
            &--more-top{
                display: none;
                margin-top: .75rem;
                margin-left: 1.25rem;
                text-decoration: underline;
                text-transform: uppercase;
                font-size: .875rem;
            }
            &--more-bottom{
                display: inline-block;
                border-bottom: 1px dotted;
                font-size: .9375rem;
            }
        }
        #{$_}__action{
            &--bottom{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &--best-offers{
        background: $gray-100;
        #{$_}__header{
            background: $pink;
        }
    }
    &--new{
        #{$_}__header{
            background: $green;
        }
    }
    &--similar{
        #{$_}__header{
            padding: 0;
            margin: 0 0 1.25rem;
        }
        #{$_}__title{
            color: $text-secondary;
            font-size: 1.5rem;
        }
    }
    &--about{
        color: $text-secondary;
        background: $gray-100;
        #{$_}__card{
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
        }
        #{$_}__body{
            padding: $grid-gutter-width/3;
            margin:  0 auto;
            max-width: 580px;
        }
        #{$_}__title{
            display: block;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        #{$_}__text{
            font-size: .75rem;
        }
    }
    &--contacts{
        #{$_}__title{
            display: block;
            color: $text-secondary;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
        }
        #{$_}__map{
            margin-top: 1.25rem;
        }
    }
    &--main-footer{
        #{$_}__header{
            display: flex;
            flex-direction: column;
        }
        #{$_}__title{
            order: 3;
            display: block;
            padding: 1rem 1.25rem;
            color: $accent;
            font-size: 2rem;
            font-weight: 400;
            font-family: $font-family-alt;
        }
        #{$_}__contacts{
            order: 2;
            border-bottom: $border-width solid $border-color;
            padding: 1rem 1.25rem;
            text-align: center;
        }
        #{$_}__form{
            &--search{
                border-bottom: $border-width solid $border-color;
                padding: 1.875rem 1.25rem;
                order: 1;
            }
        }
    }
}

@import '_block-responsive';
// END block style
