.discount{
    $_: '.discount';
    @include media-breakpoint-up(md) {
        &__body{
            padding: 1.875rem 1.875rem .625rem;
        }
        &__col{
            &--total{
                flex: 0 0 auto;
                width: auto;
                max-width: none;
            }
        }
    }
}
