// START discount style
.discount{
    $_: '.discount';
    &__content{}
    &__body{
        padding: 1.875rem 1.25rem .625rem 1.25rem;
        background: $gray-100;
    }
    &__row{
        align-items: center;
    }
    &__col{
        padding-bottom: 1.25rem;
        margin-right: auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        &--total{
            margin-right: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    &__title{
        color: $text-secondary;
        font-size: 1.125rem;
        font-weight: 900;
    }
    &__text{
        color: $text-primary;
        font-size: 1.75rem;
        font-weight: 900;
    }
    &__total{
        display: flex;
        align-items: center;
        #{$_}__title{
            color: $pink;
            font-size: 2rem;
        }
        #{$_}__text{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 1.25rem;
            border-radius: 2.4em;
            color: $text-primary-light;
            font-size: 2rem;
            height: 2.4em;
            width: 2.4em;
            background: $pink;
        }
    }
}

@import '_discount-responsive';
// END discount sthle
