.page {
    $_: '.page';
    @include media-breakpoint-up(md) {
        &__container{
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
        &__header{
            margin-bottom: 2.5rem;
        }
        &__title{
            margin-bottom: 1.875rem;
            font-size: 2rem;
            &--subtitle{
                font-size: 1.5rem;
            }
        }
        &__breadcrumbs{
            display: block;
            margin-bottom: 1.25rem;
        }
        &__back{
            display: none;
        }
    }
    @include media-breakpoint-up(lg) {
        &__title{
            font-size: 2.5rem;
            &--subtitle{
                font-size: 2.25rem;
            }
        }
        &__row{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &--sidebar{
                #{$_}__main{
                    order: 2;
                    &:not(:first-child),
                    &:not(:last-child) {
                        flex: 0 0 calc(100% - 310px);
                        max-width: calc(100% - 310px);
                    }
                }
                #{$_}__sidebar{
                    display: block;
                    order: 1;
                    flex: 0 0 310px;
                    padding-right: 2.5rem;
                    max-width: 310px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        &__pagination{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2.5rem;
        }
    }
}
