:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $color,
    $value in $colors {
        --#{$color}: #{$value};
    }
    @each $color,
    $value in $theme-colors {
        --#{$color}: #{$value};
    }
    @each $bp,
    $value in $grid-breakpoints {
        --breakpoint-#{$bp}: #{$value};
    } // Use `inspect` for lists so that quoted items keep the quotes.
    // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
    --font-family-sans-serif: #{inspect($font-family-sans-serif)};
    --font-family-monospace: #{inspect($font-family-monospace)};
}

.page {
    $_: '.page';
    position: relative;
    min-height: 100%;
    &__container{
        padding-left: $grid-gutter-width/3;
        padding-right: $grid-gutter-width/3;
        margin-left: auto;
        margin-right: auto;
        max-width: $site-width;
    }
    &__header{
        position: relative;
        margin-bottom: 1.25rem;
        z-index: 1000;
    }
    &__title{
        display: block;
        margin-bottom: 1.25rem;
        color: $text-primary;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        line-height: 1.1;
        text-transform: uppercase;
        &--subtitle{
            color: $text-secondary;
            font-size: 1.5rem;
        }
    }
    &__breadcrumbs{
        display: none;
    }
    &__row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--sidebar{
            #{$_}__main, #{$_}__sidebar{
                flex: 0 0 100%;
                width: 100%;
                order: 2;
            }
            #{$_}__sidebar{
                display: none;
                order: 1;
            }
        }
    }
    &__back{
        margin-bottom: 1.25rem;
    }
    &__pagination{
        margin-bottom: 1.25rem;
        width: 100%;
    }
    &.is-overhide{
        overflow: hidden;
    }
}

// responsive style
@import '_common-responsive';
