/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
    font-family: 'IKEA Sans';
    src: local('IKEA Sans'), local('IKEASans'),
        url('../fonts/IKEASans/IKEASans.woff2') format('woff2'),
        url('../fonts/IKEASans/IKEASans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IKEA Sans';
    src: local('IKEA Sans Heavy'), local('IKEASansHeavy'),
        url('../fonts/IKEASans/IKEASansHeavy.woff2') format('woff2'),
        url('../fonts/IKEASans/IKEASansHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'KapelkaNew';
    src: local('Kapelka New'), local('KapelkaNew'),
        url('../fonts/KapelkaNew/KapelkaNewW03-Regular.woff2') format('woff2'),
        url('../fonts/KapelkaNew/KapelkaNewW03-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



