// START article style
.article{
    $_: '.article';
    color: $text-secondary;
    font-size: .875rem;
    font-weight: $font-weight-normal;
    &__header{
        margin-bottom: 1.25rem;
    }
    &__body{
    }
    &__title{
        &:last-child{
            margin-bottom: 0;
        }
    }
    a{
        color: $accent;
        text-decoration: underline;
        &:hover{
            &, &:focus{
                color: adjust-hue($accent, 10%);
                text-decoration: underline;
            }
        }
    }
    ul, ol {
        padding-left: 3rem;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        font-size: .875rem;
        list-style: none;
        li {
            position: relative;
            margin-bottom: 1.25rem;
            &:last-child{
                margin-bottom: 0;
            }
            &::before{
                content: '';
                position: absolute;
                left: -3rem;
                top: .125rem;
                display: block;
                border-radius: 50%;
                text-align: center;
                color: $text-primary-light;
                font-size: 1.125rem;
                font-weight: $font-weight-bold;
                line-height: 1.7;
                height: 30px;
                width: 30px;
                background: $purple;
            }
        }
    }
    ul{
        li{
            &::before{
                content: '';
                background: svg-load('../../img/svg/list.svg', fill=$primary) no-repeat 50% 50%;
                background-size: 2.125rem;
            }
        }
    }
    ol {
        li {
            counter-increment: step-counter;
            &::before{
                content: counter(step-counter);
            }
        }
    }
}
// END article style
