.footer{
    $_: '.footer';
    @include media-breakpoint-up(sm) {
        &__copyright{
            padding: 1.5rem 1.25rem;
            &-text{
                display: inline;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__container{
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            max-width: $site-width;
        }
        &__top{
            padding-top: 3.125rem;
            padding-bottom: 3.125rem;
        }
        &__bottom{
            padding-top: .9375rem;
            background: $gray-400;
            #{$_}__container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
            }
        }
        &__copyright{
            padding: 0;
            padding-right: $grid-gutter-width;
            margin-right: auto;
            margin-bottom: .625rem;
            order: 1;
            background: transparent;
        }
        &__social{
            padding: 0;
            order: 2;
            background: transparent;
        }
        &__payment{
            padding: 0;
        }
    }
    @include media-breakpoint-up(lg) {
        &__container{
            padding-right: $grid-gutter-width/2;
            padding-left: $grid-gutter-width/2;
            margin-left: auto;
            margin-right: auto;
            max-width: $site-width;
        }
        &__row{
            @include make-row();
        }
        &__col{
            display: flex;
            @include make-col-ready();
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            &:last-child{
                border-left: $border-width solid $dividers;
                @include make-col(4);
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &__col{
            &:last-child{
                padding-left: 4.6875rem;
                @include make-col(5);
            }
        }
    }
}
