// START footer style
.footer{
    $_: '.footer';
    border-top: .3125rem solid $dividers;
    background: $gray-200;
    &__payment{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.875rem 1.25rem;
    }
    &__social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.25rem .375rem;
        color: $text-secondary;
        background: $gray-400;
    }
    &__copyright{
        padding: 1.5rem 1.25rem;
        color: $text-secondary;
        font-size: .875rem;
        a{
            color: $text-primary;
            text-decoration: none;
        }
        &-text{
            display: block;
        }
    }
}

@import '_footer-responsive';
// END footer style
