mixin footer(data)
    footer.footer(id="footer")
        div.footer__top
            div.footer__container
                div.footer__row
                    div.footer__col
                        div.block.block--main-footer
                            div.block__content
                                div.block__header
                                    b.block__title Каталог
                                    div.block__form.block__form--search
                                        div.search.search--footer.form.form--search
                                            div.search__content
                                                div.form__group
                                                    input.form__control.search__control(type="text", placeholder="Поиск")
                                                    button.form__btn.form__btn-search.search__btn(role="button")
                                                        != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'form__icon icon icon--search search__icon'})
                                    div.block__contacts
                                        div.contacts.contacts--footer.contacts--mobile
                                            div.contacts__item
                                                a.contacts__phone(href="tel:88003745050", title="Позвонить") 8 800 
                                                    span.contacts__accent 374 50 50
                                div.block__body
                                    div.block__row
                                        div.block__col.block__col--order-1
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter01", data-parent="#footer")
                                                    div.nav__body(id="navFooter01")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Обувь") Обувь
                                        div.block__col.block__col--order-2
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Мальчики от 0 до 2 лет") Мальчики от 0 до 2 лет
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter02", data-parent="#footer")
                                                    div.nav__body(id="navFooter02")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Обувь") Обувь
                                        div.block__col.block__col--order-4
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Девочки от 2 до 6 лет") Девочки от 2 до 6 лет
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter03", data-parent="#footer")
                                                    div.nav__body(id="navFooter03")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Обувь") Обувь
                                        div.block__col.block__col--order-5
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Мальчики от 2 до 6 лет") Мальчики от 2 до 6 лет
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter04", data-parent="#footer")
                                                    div.nav__body(id="navFooter04")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Обувь") Обувь
                                        div.block__col.block__col--order-3
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Детская комната") Детская комната
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter05", data-parent="#footer")
                                                    div.nav__body(id="navFooter05")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Кроватки") Кроватки
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Вигвамы и шалаши") Вигвамы и шалаши
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Постельное белье") Постельное белье
                                                            li.nav__item
                                                                a.nav__link(href="./catalog.html", title="Декор") Декор
                                        div.block__col.block__col--order-6
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer.nav--footer-primary
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="./static.html", title="Игрушки") Игрушки
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter06", data-parent="#footer")
                                                    div.nav__body(id="navFooter06")
                                                        ul.nav__ul
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Мягкие игрушки") Мягкие игрушки
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Развитие и обучение") Развитие и обучение
                    div.footer__col
                        div.block.block--sidebar-footer
                            div.block__content
                                div.block__contacts
                                    div.contacts.contacts--footer.contacts--desktop
                                        div.contacts__item
                                            a.contacts__phone(href="tel:88003745050", title="Позвонить") 8 800
                                                span.contacts__accent 374 50 50
                                div.block__body
                                    div.block__row
                                        div.block__col
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="Сервис и поддержка") Сервис и поддержка
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter07", data-parent="#footer")
                                                    div.nav__body(id="navFooter07")
                                                        ul.nav__ul 
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Возврат товара") Возврат товара
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Публичная оферта") Публичная оферта
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Доставка") Доставка
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Способы оплаты") Способы оплаты
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Возврат денежных средств") Возврат денежных средств
                                        div.block__col
                                            div.block__nav.footer__nav
                                                nav.nav.nav--footer
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="#", title="О компании") О компании
                                                        button.nav__toggle(data-toggle="collapse", data-target="#navFooter08", data-parent="#footer")
                                                    div.nav__body(id="navFooter08")
                                                        ul.nav__ul 
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Контакт") Контакт
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Магазины") Магазины
                                                            li.nav__item
                                                                a.nav__link(href="./static.html", title="Вакансии") Вакансии
                                                nav.nav.nav--footer.nav--single
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="./static.html", title="Партнерам") Партнерам
                                                nav.nav.nav--footer.nav--single
                                                    div.nav__header
                                                        b.nav__title
                                                            a.nav__link.nav__link--title(href="./static.html", title="Оптовикам") Оптовикам
                                div.block__payment
                                    div.footer__payment
                                        div.payment.payment--options
                                            div.payment__media
                                                div.payment__img
                                                    img.payment__img-file(
                                                        srcset="%=static=%img/content/payment__option-img.png 1x, %=static=%img/content/payment__option-img@2x.png 2x"
                                                        src="%=static=%img/content/payment__option-img.png", alt="")
        div.footer__bottom
            div.footer__container
                div.footer__social
                    ul.nav.nav--social-link 
                        li.nav__item
                            a.nav__link.nav__link--odnoklassniki(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'odnoklassniki', className: 'nav__icon icon icon--odnoklassniki'})
                        li.nav__item
                            a.nav__link.nav__link--vk(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'nav__icon icon icon--vk'})
                        li.nav__item
                            a.nav__link.nav__link--instagram(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'nav__icon icon icon--instagram'})
                        li.nav__item
                            a.nav__link.nav__link--tumblr(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'tumblr', className: 'nav__icon icon icon--tumblr'})
                        li.nav__item
                            a.nav__link.nav__link--twitter(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'nav__icon icon icon--twitter'})
                        li.nav__item
                            a.nav__link.nav__link--facebook(href="#", title="")
                                != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'nav__icon icon icon--facebook'})
                div.footer__copyright
                    a.footer__copyright-site(href="#", title="© 2017 Royal Pinguin") © 2017 Royal Pinguin
                    |  
                    span.footer__copyright-text
                        | Интернет-магазин импортных премиум товаров для детей
