
.cart{
    $_: '.cart';
    @include media-breakpoint-up(sm) {
        &__steps{
            display: block;
            margin-bottom: 1.875rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__note{
            margin-top: 1.875rem;
            margin-bottom: 1.875rem;
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__item{
            text-align: left;
            &--product{
                margin-bottom: .625rem;
                border-top: 0;
                &, &:last-child{
                    border-bottom: 0;
                }
            }
            &--product-order,
            &--header{
                border: $border-width solid $border-color;
                border-bottom: 0;
                & > .product{
                    border: 0;
                }
            }
            &--header{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 1.25rem 1.875rem;
                #{$_}__title,
                #{$_}__status{
                    margin: 0;
                    flex: 0 0 auto;
                    width: auto;
                }
                #{$_}__status{
                    margin-left: auto;
                }
            }
        }
        &__promo, &__option{
            margin-right: 1.25rem;
            margin-bottom: 0;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
        &__option{
            margin-bottom: .125rem;
        }
        &__table{
            padding: 0 0 2.5rem;
            margin-bottom: 2rem;
            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        &__order{
            margin-bottom: .625rem;
            flex: 0 0 100%;
            width: 100%;
            line-height: 1.1;
            &:last-child{
                margin-bottom: 0;
            }
            &--number{
                margin-right: auto;
                font-size: 1.5rem;
                flex: 0 0 auto;
                width: auto;
            }
            &--status{
                padding-right: 1.25rem;
                padding-left: 1.25rem;
                text-align: center;
                flex-basis: 0;
                flex-grow: 1;
                font-size: 1.125rem;
                width: 100%;
            }
        }
        &--discount{
            margin-bottom: 3.125rem;
            #{$_}__col{
                padding-bottom: 0;
            }
            #{$_}__body,
            #{$_}__discount{
                margin-bottom: 1.875rem;
            }
        }
        &--detail{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 3.125rem;
            &:last-child{
                margin-bottom: 2.5rem;
            }
            #{$_}__header{
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 1.875rem;
                #{$_}__title{
                    margin-bottom: 1.25rem;
                }
            }
            #{$_}__footer{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1.875rem 0;
                &--total{
                    padding-left: 1.875rem;
                    padding-right: 1.875rem;
                }
            }
            #{$_}__total{
                margin-left: auto;
                flex: 0 0 auto;
                width: auto;
            }
            #{$_}__body{
                &--gray{
                    border: $border-width solid $white;
                    padding: 1.875rem;
                }
                &--static{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            #{$_}__text{
                &--help{
                    padding-right: 1.25rem;
                    margin-bottom: 0;
                    flex-basis: 0;
                    flex-grow: 1;
                    text-align: left;
                    font-size: 1.5rem;
                    width: 100%;
                }
            }
        }
        &--total{
            #{$_}__footer{
                padding-top: .625rem;
                align-items: center;
            }
            #{$_}__action{
                order: 1;
                display: flex;
                justify-content: flex-start;
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
            }
            #{$_}__total{
                order: 2;
                margin-bottom: 0;
                flex: 0 0 auto;
                width: auto;
            }
        }
        &--order{
            margin-bottom: 3.125rem;
            &:last-child{
                margin-bottom: 2.5rem;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__toggle{
            display: block;
        }
        &--header{
            #{$_}__body{
                display: block;
            }
            #{$_}__icon{
                font-size: 3rem;
            }
            #{$_}__link{
                &::after{
                    content: none;
                }
            }
            #{$_}__product-count{
                font-size: 1.375rem;
                line-height: 1.55;
                min-width: 44px;
            }
        }
        &--header{
            #{$_}__action{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .btn{
                    margin-right: .625rem;
                    flex: 0 0 auto;
                    width: auto;
                    & + .btn{
                        margin-top: 0;
                        margin-right: 0;
                    }
                }
            }
            #{$_}__dropdown{
                opacity: 0;
                @include transition($transition-fade);
                &.is-open{
                    opacity: 1;
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &--header{
            #{$_}__dropdown{
                left: -1.875rem;
                right: -1.875rem;
            }
        }
    }
}
