// START cart style
.cart{
    $_: '.cart';
    &__toggle{
        @extend .slider__btn;
        display: none;
        outline: none;
        margin-left: 1.125rem;
        @include transition($btn-transition);
        &::before{
            transform: rotate(-90deg);
            transition: all .25s ease;
        }
        &.is-active{
            &::before{
                transform: rotate(90deg);
            }
        }
    }
    &__steps{
        display: none;
        margin-bottom: 1.25rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__promo{
        margin-bottom: .625rem;
    }
    &__price{
        text-align: right;
        color: $text-secondary;
        font-size: 1rem;
        font-weight: $font-weight-normal;
        &-value{
            display: inline-block;
            margin-left: .625rem;
            color: $primary;
        }
        &--total{
            color: $text-primary;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
        }
        &-item{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: .265rem;
            color: $text-secondary;
            font-size: 1rem;
            &:last-child{
                color: $text-primary;
                margin-bottom: 0;
            }
            #{$_}__price-value{
                color: inherit;
                min-width: 100px;
                box-sizing: border-box;
            }
        }
    }
    &__option{
        margin-bottom: 1.25rem;
        font-size: .9375rem;
        &-item{
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-label{
        }
        &-value{
            font-weight: $font-weight-bold;
        }
        &-action{
            color: $primary;
            font-weight: $font-weight-normal;
            text-decoration: underline;
        }
    }
    &__item{
        &--product{
            border-top: $border-width solid $border-color;
            &:last-child{
                border-bottom: $border-width solid $border-color;
            }
        }
        &--product-order{
            border: $border-width solid $border-color;
            border-bottom: 0;
            &:last-child{
                border-bottom: $border-width solid $border-color;
            }
        }
        &--header{
            color: $text-secondary;
        }
        #{$_}__title{
            display: block;
            margin-bottom: .625rem;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
        #{$_}__status{
            display: block;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }
    &__table{
        padding: 1.875rem $grid-gutter-width/3*2;
        border-bottom: $border-width solid $border-color;
        &:last-child{
            border-bottom: 0;
        }
    }
    &__order{
        margin-bottom: .625rem;
        flex: 0 0 100%;
        width: 100%;
        line-height: 1.1;
        &:last-child{
            margin-bottom: 0;
        }
        &--number{
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
        }
        &--status{
            font-size: 1rem;
            font-weight: $font-weight-normal;
        }
    }
    &__dropdown{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border: $border-width solid $border-color;
        width: 100%;
        background: $white;
        z-index: $zindex-dropdown;
    }
    &__text{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        ol, ul{
            padding-left: 1.25rem;
            li{
                margin-bottom: .5rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__note{
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &--discount{
        margin-bottom: 1.25rem;
        #{$_}__col{
            padding-bottom: 1.25rem;
        }
        #{$_}__body,
        #{$_}__discount{
            margin-bottom: 1.25rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &--header{
        position: relative;
        min-width: 100%;
        #{$_}__content{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            z-index: $zindex-dropdown + 100;
        }
        #{$_}__body{
            display: none;
            padding-left: .9375rem;
        }
        #{$_}__footer{
            border-top: $border-width solid $border-color;
            padding: 1.25rem;
        }
        #{$_}__action{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .btn{
                padding-left: .9375rem;
                padding-right: .9375rem;
                font-size: .875rem;
                display: block;
                width: 100%;
                & + .btn{
                    margin-top: .625rem;
                }
            }
        }
        #{$_}__product-count{
            position: relative;
            border-radius: $border-radius;
            padding: .3125rem 10px;
            margin-right: .3125rem;
            color: $text-primary-light;
            font-size: 1rem;
            font-weight: $font-weight-bold;
            line-height: 1.75;
            text-align: center;
            min-width: 38px;
            text-shadow: 0 2px 0 rgba($black, 0.15);
            background: $accent;
            z-index: 2;
            &::after,
            &::before{
                position: absolute;
                top: 50%;
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background: $accent;
                @include transition($btn-transition);
            }
            &::before{
                right: -5px;
                transform: translate(0, -50%) rotate(45deg);
            }
            &::after{
                right: 0;
                width: 10px;
                height: 20px;
                transform: translate(0, -50%);
            }
        }
        #{$_}__product-price{
            color: $accent;
            font-size: 1.375rem;
            font-weight: $font-weight-bold;
            white-space: nowrap;
        }
        #{$_}__icon{
            font-size: 2.5rem;
            &, #{$_}__link, .icon{
                display: block;
            }
        }
        #{$_}__title{
            color: $text-primary;
            font-size: 1.0625rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            text-decoration: underline;
            white-space: nowrap;
            &:hover{
                text-decoration: none;
                color: $primary;
                #{$_}__link{
                    text-decoration: none
                }
            }
        }
        #{$_}__link{
            &, &:hover{
                color: inherit;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                min-height: 100%;
                min-width: 100%;
            }
            &-title{
                text-decoration: underline;
            }
        }
        #{$_}__dropdown{
            display: none;
            padding-top: 108px;
            top: -1.875rem;
            left: -.9375rem;
            right: -.9375rem;
            width: auto;
            min-width: 100%;
        }
        #{$_}__list{
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto;
        }
        #{$_}__item{
            &--product{
                border-top: $border-width solid $border-color;
                margin: 0;
            }
        }
    }
    &--detail{
        margin-left: -$grid-gutter-width/3;
        margin-right: -$grid-gutter-width/3;
        margin-bottom: 1.875rem;
        &:last-child{
            margin-bottom: 0;
        }
        #{$_}__header{
            padding-left: $grid-gutter-width/3*2;
            padding-right: $grid-gutter-width/3*2;
            margin-bottom: 1.25rem;
            #{$_}__title{
                display: block;
                margin-bottom: .625rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__body{
            &--gray{
                border-top: $border-width solid $white;
                border-bottom: $border-width solid $white;
                box-shadow: 0 1px 1px rgba($black, 0.15);
                background: $gray-100;
            }
            &--static{
                padding: 1.875rem 1.25rem;
                border: 0;
                box-shadow: none;
                background: transparent;
            }
        }
        #{$_}__footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-top: $border-width solid $border-color;
            padding: 1.875rem $grid-gutter-width/3*2;
            &--total{
                padding: 1.25rem;
                background: lighten($primary, 43%);
            }
        }
        #{$_}__text{
            font-size: 1rem;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &--help{
                margin-bottom: 1.25rem;
                font-size: .875rem;
                flex: 0 0 100%;
                width: 100%;
                a{
                    text-decoration: underline;
                    &:hover{
                        &, &:focus{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        #{$_}__action{
            &--right{
                margin-left: auto;
            }
        }
        #{$_}__promo{
            flex: 0 0 100%;
            width: 100%;
        }
        #{$_}__total{
            align-self: flex-end;
            flex: 0 0 100%;
            width: 100%;
        }
    }
    &--total{
        #{$_}__footer{
            padding-top: .625rem;
        }
        #{$_}__action{
            order: 2;
            display: flex;
            justify-content: center;
            flex: 0 0 100%;
            width: 100%;
        }
        #{$_}__total{
            order: 1;
            margin-bottom: 1.875rem;
        }
    }
    &--order{
        margin-bottom: 1.25rem;
        #{$_}__header{
            margin-bottom: 1.25rem;
        }
        #{$_}__text{
            color: $text-secondary;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__item{
            border: $border-width solid $border-color;
            border-bottom: 0;
            &:last-child{
                border-bottom: $border-width solid $border-color;
            }
            & > .product{
                border: 0;
            }
            &--header{
                padding: 1.25rem;
            }
        }
        #{$_}__link{
            text-decoration: underline;
            @include hover-focus{
                text-decoration: none;
            }
        }
    }
}

@import '_cart-responsive';
// END cart style
