// START block about
section.block.block--section.block--about
    div.block__content.page__container
        div.block__card
            div.card.card--overlay.card--about
                div.card__media
                    div.card__img
                        img.card__img-file.object-fit-images(
                            src="%=static=%img/content/card__img-16.jpg",
                            srcset="%=static=%img/content/card__img-16.jpg 1x, %=static=%img/content/card__img-16@2x.jpg 2x", alt="Отзывы")
                div.card__content
                    div.card__body
                        b.card__title
                            a.card__link.card__link--title(href="./about.html", title="Отзывы") Отзывы
                        div.card__text
                            p Прочитайте отзывы
                                br
                                | покупателей о нашем
                                br
                                | магазине
                        div.card__nav
                            nav.nav.nav--pill.nav--pill-info
                                a.nav__link(href="./about.html", title="перейти в раздел") Перейти в раздел

        div.block__body
            b.block__title О магазине
            div.block__text
                p Рождение ребенка – это удивительное чудо! С первого дня мы стараемся дать малышу все самое лучшее. Выбирая детские товары, каждая мама хочет окружить свое чадо заботой и любовью, подарить комфорт и безопасность. Мы предлагаем целое созвездие лучших мировых марок детских товаров и всегда готовы помочь заботливым родителям сделать правильный выбор.
                p Рождение ребенка – это удивительное чудо! С первого дня мы стараемся дать малышу все самое лучшее. Выбирая детские товары, каждая мама хочет окружить свое чадо заботой и любовью, подарить комфорт и безопасность. Мы предлагаем целое созвездие лучших мировых марок детских товаров и всегда готовы помочь заботливым родителям сделать правильный выбор. Рождение ребенка – это удивительное чудо! С первого дня мы стараемся дать малышу все самое лучшее. Выбирая детские товары, каждая мама хочет окружить свое чадо заботой и любовью, подарить комфорт и безопасность.
// EBD block about
