.reviews{
    $_: '.reviews';
    @include media-breakpoint-up(lg) {
        &__list{
            margin-bottom: 3.125rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__item{
            margin-bottom: 2.5rem;
        }
        &__media{
            margin-right: 1.25rem;
            font-size: 100px;
        }
    }
}
