// START reviews style
.reviews{
    $_: '.reviews';
    &__header{
        margin-bottom: 1.875rem;
    }
    &__list{
        margin-bottom: 1.25rem;
    }
    &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        font-size: .875rem;
        margin-bottom: 1.25rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__media{
        position: relative;
        margin-right: .625rem;
        font-size: 50px;
        width: 1em;
        height: 1em;
        flex: 0 0 1em;
        &::before{
            content: '';
            display: block;
            padding-bottom: 100%;
            width: 100%;
        }
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        font-family: 'object-fit: cover; object-position: 50% 50%;';
    }
    &__icon{
        position: absolute;
        top: 0;
        left: 0;
        border: $border-width solid $white;
        padding: .125em;
        color: $text-primary-light;
        text-align: center;
        width: 100%;
        height: 100%;
        background: $gray-100;
        box-shadow: 0 1px 1px rgba($black, 0.15);
        .icon{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    &__name{
        margin-bottom: .625rem;
        color: $text-primary;
        font-size: 1.125rem;
        font-weight: $font-weight-bold;
    }
    &__meta{
        margin-bottom: .625rem;
        color: $text-secondary;
    }
    &__title{
        &--form{
            display: block;
            margin-right: 1.25rem;
            color: $text-secondary;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            line-height: 1.1;
        }
    }
    &__text{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        img{
            display: block;
            max-width: 100% !important;
            margin-bottom: .625rem;
        }
        &--text{
            color: $text-secondary;
            font-size: 1.125rem;

            font-weight: $font-weight-normal;
        }
    }
    &__form{
        &-header{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            margin-bottom: 1rem;
            color: $text-secondary;
        }
        &-body{
            @extend .card;
            @extend .card--outline;
            @extend .card__body;
            border-radius: $border-radius;
        }
    }
}

@import '_reviews-responsive';
// END reviews style
