.brands{
    $_: '.brands';
    @include media-breakpoint-down(sm) {
        &--grid{
            #{$_}__col{
                &:nth-child(8) ~ #{$_}__col{
                    display: none;
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        &--grid{
            #{$_}__col{
                &:nth-child(4) ~ #{$_}__col{
                    display: none;
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {
        &--grid{
            #{$_}__col{
                @include make-col(3);
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__btn{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            &--next{
                left: auto;
                right: 0;
            }
        }
        &--grid{
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                max-width: none;
                width: 100%;
                &:nth-child(5) ~ #{$_}__col{
                    display: none;
                }
            }
        }
        &--grid-slider{
            #{$_}__btn{
                display: block;
            }
            #{$_}__content{
                padding-left: 70px;
                padding-right: 70px;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__btn{
            font-size: 54px;
        }
        &--grid-slider{
            #{$_}__content{
                padding-left: 100px;
                padding-right: 100px;
            }
            #{$_}__img{
                &-file{
                    max-width: 100%;
                }
            }
        }
    }
}


