// START brand style
.brands{
    $_: '.brands';
    &__btn{
        @extend .slider__btn;
        display: none;
        outline: none;
        &--next{
            @extend .slider__btn--next;
        }
    }
    &__content{
        position: relative;
    }
    &--grid{
        #{$_}__row{
            @include make-row();
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
        }
        #{$_}__col{
            display: flex;
            @include make-col-ready();
            @include make-col(6);
            padding-right: $grid-gutter-width/3;
            padding-left: $grid-gutter-width/3;
            padding-bottom: $grid-gutter-width/3;
        }
        #{$_}__item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        #{$_}__img{
            display: block;
            height: 100%;
            width: 100%;
            &-link{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-file{
                display: block;
                max-width: 80%;
                max-height: 100px;
                width: auto;
                height: auto;
            }
        }
    }
    &--grid-slider{
        #{$_}__col{
            height: auto;
        }
        #{$_}__item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}
@import '_brand-responsive';
// END brand style
