// START brands
section.block.block--section.block--offers.block--brands.brands.brands--grid.brandsLogoJs(id="brands")
    div.block__content.page__container
        div.block__header(data-target="#brands", data-toggle="collapse")
            b.block__title Бренды
        div.block__content.brands__content
            button.brands__btn.brands__btn--prev(role="button", title="Туда")
            button.brands__btn.brands__btn--next(role="button", title="Сюда")
            div.brands__container
                div.brands__row
                    - var n = 0;
                    while n < 8
                        - var item = brands.logo[n];
                        div.brands__col
                            div.brands__item
                                div.brand__media
                                    div.brands__img
                                        a.brands__img-link(href="#", title=item.title)
                                            img.brands__img-file.object-fit-images(
                                                src="%=static=%img/assets/brands/" + item.img.x1,
                                                srcset="%=static=%img/assets/brands/" + item.img.x1 + " 1x, %=static=%img/assets/brands/" + item.img.x2 + " 2x", alt=item.title)

                        - n++;
// END brands
