// START header style
.header{
    $_: '.header';
    @include media-breakpoint-up(sm) {
        &__content{
            #{$_}__container{
                padding-left: 150px;
                justify-content: center;
            }
        }
        &__logo{
            margin-left: auto;
        }
        &__cart{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 120px;
            margin-left: auto;
            width: 100%;
            max-width: 120px;
        }
    }
    @include media-breakpoint-up(lg) {
        &__container{
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
        &__content{
            #{$_}__container{
                justify-content: unset;
                padding: 2.5rem $grid-gutter-width/2;
            }
        }
        &__top{
            display: block;
        }
        &__divider{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 60px;
            width: 1px;
            background: $dividers;
        }
        &__logo{
            margin: 0;
            padding-right: $grid-gutter-width/2;
            max-width: calc(360px + #{$grid-gutter-width/2});
        }
        &__contacts{
            display: block;
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            margin: 0;
            justify-content: center;
        }
        &__cart{
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            margin: 0;
            justify-content: stretch;
            flex: 0 0 350px;
            max-width: 350px;
            &::after{
                content: none;
            }
        }
        &__nav{
            &--mobile{
                display: none;
            }
            &--primary{
                display: block;
            }
        }
    }
}
// END header style
