// START header style
.header{
    $_: '.header';
    &__container{
        margin-left: auto;
        margin-right: auto;
        padding-left: $grid-gutter-width/3;
        padding-right: $grid-gutter-width/3;
        max-width: $site-width;
        box-sizing: border-box;
    }
    &__content{
        #{$_}__container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-top: .9375rem;
            padding-bottom: .9375rem;
        }
    }
    &__logo{
        max-width: 200px;
    }
    &__navbar{
        color: $text-primary-light;
        background: $yellow;
        &-toggle{
        }
        #{$_}__container{
            padding: 0;
        }
    }
    &__nav{
        &--top{
            font-size: 1.125rem;
            font-weight: 400;
            &:first-child{
                margin-right: 1.25rem;
            }
            &:last-child{
                margin-left: 1.25rem;
            }
        }
        &--primary{
            display: none;
        }
        &--container{
            @extend .page__container;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            pointer-events: none;
        }
    }
    &__search{
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 334px;
        width: 100%;
        max-width: 334px;
    }
    &__top{
        display: none;
        padding-top: .625rem;
        padding-bottom: .625rem;
        color: $text-secondary;
        background: $gray-100;
        #{$_}__container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    &__cart{
        padding-left: 1.25rem;
    }
    &__contacts{
        display: none;
    }
    &__divider{
        display: none;
    }
}

@import '_header-responsive';
// END header style
