mixin header(data)
    header.header
        div.header__top
            div.header__container
                div.header__nav.header__nav--top
                    ul.nav.nav--inline
                        each item, index in site.pages.help
                            if item.value !== 'defaults'
                                li.nav__item
                                    a.nav__link(href='./' + item.value + '.html', title=item.name)= item.name
                div.header__search
                    div.search.search--form.form.form--search
                        div.search__content
                            div.form__group
                                input.form__control.search__control(type="text", placeholder="Поиск")
                                button.form__btn.form__btn-search.search__btn(role="button")
                                    != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'form__icon icon icon--search search__icon'})
                div.header__nav.header__nav--top.header__nav--user
                    ul.nav.nav--inline
                        each item, index in site.pages.user
                            if item.value !== 'defaults'
                                li.nav__item
                                    a.nav__link(data-toggle="modal", data-target="#modalLogin", href='./login.html' + item.value + '.html', title=item.name)
                                        != pugHelpers.Icon.call(locals, {iconName: item.value, className: 'nav__icon icon icon--login'}) + item.name

        div.header__content
            div.header__container
                div.header__logo
                    if data.value == 'defaults'
                        div.logo.logo--header
                            img.logo__img(srcset="%=static=%img/general/logo.svg", width="357", height="86", alt=site.common.name)
                    else
                        a.logo.logo--vertical(href="/", title=site.common.name + ' ' + site.common.slogan)
                            img.logo__img(srcset="%=static=%img/general/logo.svg", width="357", height="86", alt=site.common.name)
                div.header__divider
                div.header__contacts
                    div.contacts.contacts--card
                        div.contacts__content
                            div.contacts__address
                                | Город: 
                                a.contacts__town(href="#", title="Санкт-Петербург") Санкт-Петербург
                            div.contacts__phone
                                a(href="tel:+88003745050", title="Позвонить") 8 800 
                                    span.contacts__accent 374 50 50
                            div.contacts__timework
                                | пн-пт: 9:00 - 19:00, сб-вс: 10:00 - 18:00
                div.header__divider
                div.header__cart
                    div.cart.cart--header
                        div.cart__content
                            div.cart__product-count 22
                            div.cart__icon
                                a.cart__link.cart__link--icon(href="./cart.html", title="Ваша корзина")
                                    != pugHelpers.Icon.call(locals, {iconName: 'shop-cart', className: 'icon icon--shop-cart'})
                            div.cart__body
                                b.cart__title
                                    a.cart__link.cart__link--title(href="./cart.html", title="Ваша корзина") Ваша корзина
                                div.cart__text
                                    div.cart__product-price 34 430 рублей
                            button.cart__toggle(role="button", data-toggle="cart", data-target="#cartHeaderDropdown")
                        div.cart__dropdown(id="cartHeaderDropdown", style="display: none;")
                            div.cart__list
                                - var n = 1;
                                while n < 3
                                    - var item = product.card[n];
                                        div.cart__item.cart__item--product
                                            div.product.product--cart.product--cart-header
                                                div.product__content
                                                    div.product__media
                                                        div.product__img
                                                            img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                    div.product__body
                                                        b.product__title
                                                            a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                        div.product__price 1 780 руб.
                                                    div.product__count
                                                        div.form__group.form__group--input
                                                            div.form__control-prepend
                                                                button.btn.btn--control.btn--outline.btn--prev(role="button", data-toggle="count", data-target="minus")
                                                            input.form__control.form__control--counter(type="text", min="1", max="1000", value="1")
                                                            div.form__control-append
                                                                button.btn.btn--control.btn--outline.btn--next(role="button", data-toggle="count", data-target="plus")
                                                        div.product__action
                                                            button.product__remove.btn.btn--link(type="submit", role="button", title="Удалить товар из корзины") Удалить
                                                                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon btn__icon--right icon icon--close icon--outline'})

                                    - n++;
                                - var n = 1;
                                while n < 3
                                    - var item = product.card[n];
                                        div.cart__item.cart__item--product
                                            div.product.product--cart.product--cart-header
                                                div.product__content
                                                    div.product__media
                                                        div.product__img
                                                            img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                    div.product__body
                                                        b.product__title
                                                            a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                        div.product__price 1 780 руб.
                                                    div.product__count
                                                        div.form__group.form__group--input
                                                            div.form__control-prepend
                                                                button.btn.btn--control.btn--outline.btn--prev(role="button", data-toggle="count", data-target="minus")
                                                            input.form__control.form__control--counter(type="text", min="1", max="1000", value="1")
                                                            div.form__control-append
                                                                button.btn.btn--control.btn--outline.btn--next(role="button", data-toggle="count", data-target="plus")
                                                        div.product__action
                                                            button.product__remove.btn.btn--link(type="submit", role="button", title="Удалить товар из корзины") Удалить
                                                                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon btn__icon--right icon icon--close icon--outline'})

                                    - n++;
                                - var n = 1;
                                while n < 3
                                    - var item = product.card[n];
                                        div.cart__item.cart__item--product
                                            div.product.product--cart.product--cart-header
                                                div.product__content
                                                    div.product__media
                                                        div.product__img
                                                            img.product__img-file.object-fit-images(src="%=static=%img/content/" + item.img.x1,
                                                                srcset="%=static=%img/content/" + item.img.x1 + " 1x, %=static=%img/content/" + item.img.x2 + " 2x", alt=item.title)
                                                    div.product__body
                                                        b.product__title
                                                            a.product__link.product__link--title(href="./product-detail.html", title="")= item.title
                                                        div.product__price 1 780 руб.
                                                    div.product__count
                                                        div.form__group.form__group--input
                                                            div.form__control-prepend
                                                                button.btn.btn--control.btn--outline.btn--prev(role="button", data-toggle="count", data-target="minus")
                                                            input.form__control.form__control--counter(type="text", min="1", max="1000", value="1")
                                                            div.form__control-append
                                                                button.btn.btn--control.btn--outline.btn--next(role="button", data-toggle="count", data-target="plus")
                                                        div.product__action
                                                            button.product__remove.btn.btn--link(type="submit", role="button", title="Удалить товар из корзины") Удалить
                                                                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon btn__icon--right icon icon--close icon--outline'})

                                    - n++;
                            div.cart__footer
                                div.cart__action
                                    a.btn.btn--outline(role="button", href="./cart.html") перейти в корзину
                                    a.btn.btn--accent(role="button", href="./cart-2.html") оформить заказ


        div.header__navbar
            div.header__nav.header__nav--mobile
                div.nav.nav--mobile
                    div.nav__item.nav__item--menu
                        a.nav__link(href="./catalog.html", title="Меню сайта")
                            != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'nav__icon icon icon-menu'})
                    div.nav__item.nav__item--location
                        a.nav__link(href="./catalog.html", title="Выберите город")
                            != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'nav__icon icon icon-location'})
                            span.nav__text Санкт-Петербург
                    div.nav__item
                        a.nav__link(href="./catalog.html", title="Позвонить")
                            != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'nav__icon icon icon-phone'})
                    div.nav__item
                        a.nav__link(href="./catalog.html", title="Позвонить")
                            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'nav__icon icon icon-search'})
            div.header__nav.header__nav--primary
                ul.nav.nav--primary.navSmartJsContainer
                    li.nav__item.nav__item--dropdown
                        a.nav__link(href="./catalog.html", title="Девочкам")
                            != pugHelpers.Icon.call(locals, {iconName: 'girl', className: 'nav__icon icon icon--girl'})
                            | Девочкам
                        ul.nav.nav--smart.nav--dropdown.navSmartJs
                            li.nav__item
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item
                                a.nav__link(href="./catalog.html", title="Девочки от 2 до 6 лет") Девочки от 2 до 6 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                    li.nav__item.nav__item--dropdown
                        a.nav__link(href="./catalog.html", title="Мальчикам")
                            != pugHelpers.Icon.call(locals, {iconName: 'boy', className: 'nav__icon icon icon--boy'})
                            | Мальчикам
                    li.nav__item.nav__item--dropdown
                        a.nav__link(href="./catalog.html", title="Детская комната")
                            != pugHelpers.Icon.call(locals, {iconName: 'bed', className: 'nav__icon icon icon--bed'})
                            | Детская комната
                    li.nav__item.nav__item--dropdown
                        a.nav__link(href="./catalog.html", title="Игрушки")
                            != pugHelpers.Icon.call(locals, {iconName: 'toys', className: 'nav__icon icon icon--toys'})
                            | Игрушки
                        ul.nav.nav--smart.nav--dropdown.navSmartJs
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                            li.nav__item.nav__item--dropdown
                                a.nav__link(href="./catalog.html", title="Девочки от 0 до 2 лет") Девочки от 0 до 2 лет
                                ul.nav
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Верхняя одежда") Верхняя одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Праздничная одежда") Праздничная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Повседневная одежда") Повседневная одежда
                                    li.nav__item
                                        a.nav__link(href="./catalog.html", title="Обувь") Обувь
                    li.nav__item.nav__item--dropdown
                        a.nav__link(href="./catalog.html", title="Новинки")
                            != pugHelpers.Icon.call(locals, {iconName: 'label-new', className: 'nav__icon icon icon--label-new'})
                            | Новинки

