// STARY payment style
.payment{
    $_: '.payment';
    &__media{}
    &__img{
        &-file{
            display: block;
            max-width: 100%;
        }
    }
}
@import '_payment-respinsive';
// END payment style
