@font-face {
    font-family: 'IKEA Sans';
    src: local('IKEA Sans'), local('IKEASans'),
        url('IKEASans.woff2') format('woff2'),
        url('IKEASans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IKEA Sans';
    src: local('IKEA Sans Heavy'), local('IKEASansHeavy'),
        url('IKEASansHeavy.woff2') format('woff2'),
        url('IKEASansHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

