<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-3.jpg" srcset="static/img/content/card__img-3.jpg 1x, static/img/content/card__img-3@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-4.jpg" srcset="static/img/content/card__img-4.jpg 1x, static/img/content/card__img-4@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-5.jpg" srcset="static/img/content/card__img-5.jpg 1x, static/img/content/card__img-5@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-6.jpg" srcset="static/img/content/card__img-6.jpg 1x, static/img/content/card__img-6@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-7.jpg" srcset="static/img/content/card__img-7.jpg 1x, static/img/content/card__img-7@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
                <div class="card__meta card__meta--label">
                    <div class="product__label product__label--new">new</div>
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-8.jpg" srcset="static/img/content/card__img-8.jpg 1x, static/img/content/card__img-8@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;" />
                </div>
                <div class="card__meta card__meta--label">
                    <div class="product__label product__label--sale">sale</div>
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-9.jpg" srcset="static/img/content/card__img-9.jpg 1x, static/img/content/card__img-9@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-10.jpg" srcset="static/img/content/card__img-10.jpg 1x, static/img/content/card__img-10@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-11.jpg" srcset="static/img/content/card__img-11.jpg 1x, static/img/content/card__img-11@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-12.jpg" srcset="static/img/content/card__img-12.jpg 1x, static/img/content/card__img-12@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-13.jpg" srcset="static/img/content/card__img-13.jpg 1x, static/img/content/card__img-13@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-14.jpg" srcset="static/img/content/card__img-14.jpg 1x, static/img/content/card__img-14@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-3.jpg" srcset="static/img/content/card__img-3.jpg 1x, static/img/content/card__img-3@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-4.jpg" srcset="static/img/content/card__img-4.jpg 1x, static/img/content/card__img-4@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-5.jpg" srcset="static/img/content/card__img-5.jpg 1x, static/img/content/card__img-5@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-6.jpg" srcset="static/img/content/card__img-6.jpg 1x, static/img/content/card__img-6@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-7.jpg" srcset="static/img/content/card__img-7.jpg 1x, static/img/content/card__img-7@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
                <div class="card__meta card__meta--label">
                    <div class="product__label product__label--new">new</div>
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-8.jpg" srcset="static/img/content/card__img-8.jpg 1x, static/img/content/card__img-8@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;" />
                </div>
                <div class="card__meta card__meta--label">
                    <div class="product__label product__label--sale">sale</div>
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-9.jpg" srcset="static/img/content/card__img-9.jpg 1x, static/img/content/card__img-9@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-10.jpg" srcset="static/img/content/card__img-10.jpg 1x, static/img/content/card__img-10@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-11.jpg" srcset="static/img/content/card__img-11.jpg 1x, static/img/content/card__img-11@2x.jpg 2x" alt="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;" />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;">РАЗВИВАЮЩИЙ КОВРИК &quot;ЛЕСНОЕ ОЗЕРО&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">5 950 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-12.jpg" srcset="static/img/content/card__img-12.jpg 1x, static/img/content/card__img-12@2x.jpg 2x" alt="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;">РАЗВИВАЮЩАЯ ИГРУШКА INFANTINO &quot;ЗЕРКАЛЬЦЕ&quot;</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">890 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-13.jpg" srcset="static/img/content/card__img-13.jpg 1x, static/img/content/card__img-13@2x.jpg 2x" alt="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA">СТУЛЬЧИК ДЛЯ КOPМЛEНИЯ PRIMA PAPPA DINER BEST,PALOMA</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">15 920 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product__col swiper-slide">
    <div class="product__card card card--product card--outline">
        <div class="card__content">
            <div class="card__media">
                <div class="card__img">
                    <img class="card__img-file object-fit-images" src="static/img/content/card__img-14.jpg" srcset="static/img/content/card__img-14.jpg 1x, static/img/content/card__img-14@2x.jpg 2x" alt="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO"
                    />
                </div>
            </div>
            <div class="card__body"><b class="card__title text text--word-wrap"><a class="card__link card__link--title" href="./product-detail.html" title="ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO">ДЕТСКАЯ КРОВАТКА-КАЧАЛКА BABY ITALIA MIMI, ЦВЕТ AVORIO LACCATO</a></b>
            </div>
            <div class="card__footer">
                <div class="card__meta card__meta--price">
                    <div class="product__price">23 940 руб.</div>
                </div>
                <div class="card__action">
                    <div class="product__action">
                        <button class="btn btn--accent btn--order" role="button">
                            <svg class="btn__icon icon icon--shop-cart" width="24px" height="24px">
                                <use xlink:href="#shop-cart"></use>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>