.btn {
    $_: '.btn';
    @include media-breakpoint-up(lg) {
        @include button-size(.625rem, 1.25rem, 1rem, 1.5, $btn-border-radius);
        &--xl{
            @include button-size(.625rem, 1.875rem, 1.5rem, 1.5, $btn-border-radius);
        }
        &--order{
            @include button-size(.625rem, 1.25rem, 1rem, 1.5, $btn-border-radius);
            #{$_}__icon, #{$_}__loader{
                font-size: 2em;
            }
        }
        &--link{
            padding: 0;
            border: 0;
        }
    }
}
