// START btn style
.btn {
    $_: '.btn';
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    text-shadow: 0 2px 0 rgba($black, 0.15);
    user-select: none;
    border: $btn-border-width solid transparent;
    box-shadow:  0 1px 2px rgba($black, 0.15);
    @include button-size(.5625rem, 1rem, .8125rem, 1.45, $btn-border-radius);
    @include transition($btn-transition); // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-image: none;
        @include box-shadow($btn-focus-box-shadow);
        &:focus {
            @include box-shadow($btn-focus-box-shadow);
        }
    }
    &[href]{
        text-decoration: none;
    }
    & > * {
        pointer-events: none;
    }
    &__icon,
    &__loader{
        display: inline-block;
        vertical-align: top;
        font-size: 1.5em;
        &--right{
            margin-right: -.5em;
            margin-left: .25em;
        }
        &--left{
            margin-right: .25em;
            margin-left: -.5em;
        }
    }
    &__loader{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &.is-loading{
        pointer-events: none;
        opacity: .85;
        cursor: wait;
        #{$_}__icon{
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        #{$_}__loader{
            position: static;
            z-index: 1;
            opacity: 1;
        }
    }

    &--lg{
        @include button-size(.625rem, 1.25rem, 1rem, 1.5, $btn-border-radius);
    }
    &--xl{
        @include button-size(.625rem, 1.25rem, 1rem, 1.5, $btn-border-radius);
    }

    // type
    &--block{
        display: block;
        width: 100%;
    }
    &--control{
        position: relative;
        &::before,
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            height: 1px;
            width: 11px;
            color: $text-primary;
            background: $text-primary;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
        }
        &::after{
            transform: translate(-50%, -50%) rotate(90deg) ;
        }
        &:hover{
            &::before,
            &::after{
                background: $text-primary-light;
            }
        }
    }
    &--prev{
        &::after{
            content: none;
        }
    }
    &--primary{
        color: $text-primary-light;
        border-color: $primary;
        background: $primary;
        &:hover{
            &, &:focus{
                border-color: $primary;
                color: $text-primary-light;
                background: lighten($primary, 2%);
            }
        }
    }
    &--accent{
        border-color: $accent;
        color: $text-primary-light;
        background: $accent;
        &:focus,
        &.focus{
            box-shadow: 0 0 0 .2rem rgba($accent, .25);
        }
        &:hover{
            border-color: lighten($accent, 10%);
            color: $text-primary-light;
            background: lighten($accent, 10%);
        }
    }
    &--secondary{
        color: $text-secondary;
        text-shadow: none;
        background: $white;
    }
    &--cancel{
        &:hover{
            &, &:focus{
                color: $text-primary-light;
                background: $red;
            }
        }
    }
    &--link{
        display: inline-flex;
        align-self: center;
        padding: 0;
        color: $text-secondary;
        text-decoration: underline;
        text-shadow: none;
        font-size: .875rem;
        line-height: 1.74;
        box-shadow: none;
        background: transparent;
        #{$_}__icon{
            display: block;
            font-size: 1.72em;
            &--right{
                margin-right: 0;
            }
            &--left{
                margin-left: 0;
            }
        }
        &:hover{
            color: $link-hover-color;
            text-decoration: none;
            &, &:focus{
                box-shadow: none;
            }
        }

        &:active, &.active, &:focus{
            box-shadow: none;
        }
    }
    &--toggle-nav{
        position: relative;
        display: block;
        padding: 0;
        border: 0;
        min-height: 48px;
        width: 100%;
        background: transparent;
        &:hover{
            &, &:focus{
                outline: none !important;
                box-shadow: none;
            }
            span{
                width: 0;
                opacity: 0;
                &:first-child{
                    top: calc(50%);
                    opacity: 1;
                    width: 24px;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:last-child{
                    top: calc(50%);
                    opacity: 1;
                    width: 24px;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            height: 2px;
            width: 24px;
            background: $white;
            box-shadow: 0 2px 0 rgba(209, 125, 0, .35);
            transition: $transition-base;
            &:first-child{
                top: calc(50% - 6px);
            }
            &:last-child{
                top: calc(50% + 6px);
            }
        }
    }
    &--order{
        @extend #{$_}--accent;
        margin-left: 10px;
        z-index: 2;
        &::after,
        &::before{
            position: absolute;
            top: 50%;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background: $accent;
            @include transition($btn-transition);
        }
        &::before{
            left: -6px;
            transform: translate(0, -50%) rotate(45deg);
        }
        &::after{
            left: -$border-width;
            width: 10px;
            height: 20px;
            transform: translate(0, -50%);
        }
        &:hover{
            @extend #{$_}--accent:hover;
            &::before{
                background: lighten($accent, 10%);
                box-shadow: 0 1px 7px rgba(0, 0, 0, 0.21);
            }
            &:after{
                background: lighten($accent, 10%);
            }
        }
        #{$_}__icon,
        #{$_}__loader{
            display: block;
            margin: -.375rem -.6875rem;
            font-size: 1.25rem;
        }
        #{$_}__icon{
            filter: drop-shadow(0 2px 1px rgba($black, .15));
        }
    }
    &--outline{
        border: $input-border-width solid $input-border-color;
        background: $input-bg;
        text-shadow: 0 0 0;
        color: $text-secondary;
        box-shadow: none;
        background: $gray-100;
        &:hover{
            &, &:focus{
                color: $text-primary-light;
                background: $primary;
            }
        }
    }
    &--outline-secondary{
        border: $input-border-width solid $input-border-color;
        background: $input-bg;
        text-shadow: 0 0 0;
        color: $text-secondary;
        box-shadow: none;
        background: $white;
        &:hover{
            &, &:focus{
                color: $text-primary-light;
                background: $primary;
            }
        }
    }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn--block {
        width: 100%;
    }
}

// Responsive style
@import '_btn-responsive';

// END btn style
