// START captcha
.captcha{
    $_: '.captcha';
    &__img{
        padding-right: .625rem;
        padding-bottom: .625rem;
        img{
            display: block;
            max-width: 100%;
            max-height: 38px;
        }
    }
    &__group{
        position: relative;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
}
@import '_captcha-responsive';
// END captcha
