.captcha{
    $_: '.captcha';
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &__img{
            padding-bottom: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
        &__group{
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
    }
    @include media-breakpoint-up(lg) {
        &__img{
            img{
                max-height: 48px;
                width: auto;
            }
        }
    }
}
