.card{
    $_: '.card';
    @include media-breakpoint-up(xs) {
        &--overlay{
            max-height: 350px;
        }
    }
    @include media-breakpoint-up(md) {
        &--overlay{
            height: auto;
        }
    }
    @include media-breakpoint-up(lg) {
        &--overlay{
            max-width: none;
            #{$_}__body{
                padding: 2.1875rem;
            }
            #{$_}__title{
                margin-bottom: .625rem;
                font-size: 3.625rem;
            }
            #{$_}__text{
                font-size: 1rem;
                font-weight: $font-weight-normal;
                line-height: 1.25;
            }
            #{$_}__nav{
                margin-top: 2rem;
            }
        }
        &--shop-info{
            text-align: left;
            #{$_}__content{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }
            #{$_}__media{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                flex: 0 0 125px;
                width: 125px;
                & + #{$_}__body{
                    padding-left: 0;
                }
            }
            #{$_}__icon{
                display: block;
                font-size: 4.75rem;
            }
            #{$_}__body{
                flex-basis: 0;
                flex-grow: 1;
                padding: 1.875rem;
                width: 100%;
                max-width: none;
            }
            #{$_}__title{
                font-size: 1.5rem;
            }
            #{$_}__text{
                display: block;
                color: $text-secondary;
                font-size: .875rem;
                font-weight: 400;
            }
            &#{$_}--small{
                #{$_}__media{
                    flex: 0 0 100px;
                    width: 100px;
                    & + #{$_}__body{
                        padding-left: 0;
                    }
                }
                #{$_}__body{
                    padding: 1.25rem;
                }
            }
        }
        &--product{
            $card-spacer-x: 1.25rem;
            max-width: 400px;
            margin-bottom: $card-spacer-x;
            #{$_}__body{
                padding: $card-spacer-x;
            }
            #{$_}__footer{
                padding: $card-spacer-x;
                padding-top: .875rem;
            }
            #{$_}__title{
                font-size: .875rem;
            }
            #{$_}__meta{
                &--label{
                    font-size: 1.1875rem;
                }
                &--price{
                    font-size: 1.625rem;
                }
            }
        }
        &--user{
            border-radius: $border-radius;
            #{$_}__body{
                padding: 1.875rem;
            }
        }
    }
}
