// START card style
.card{
    $_: '.card';
    position: relative;
    display: flex;
    border: $card-border-width solid $card-border-color;
    flex-direction: column;
    margin: 0 auto $grid-gutter-width/3;
    min-width: 0;
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    box-shadow: 0 1px 1px rgba($black, 0.15);
    &:last-child{
        margin-bottom: 0;
    }
    &__content{
        flex: 1 1 auto;
    }
    &__body{
        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;
        padding: $card-spacer-x;
    }
    &__title{
        display: block;
        margin-bottom: $card-spacer-y;
        &:last-child{
            margin-bottom: 0;
        }
        &--subtitle{
            margin-top: -($card-spacer-y / 2);
            margin-bottom: 0;
        }
    }
    &__link{
        &--title{
            display: inline-block;
            vertical-align: top;
            color: inherit;
            text-decoration: none !important;
            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:hover{
                color: inherit;
            }
        }
    }
    &__text{
        p {
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__nav{
        &:last-child{
            margin-bottom: -.625rem;
        }
    }
    &__action{
        position: relative;
        z-index: 100;
    }
    &--overlay{
        margin: 0 auto $grid-gutter-width/3;
        color: $text-primary-light;
        height: 100vw;
        max-height: 350px;
        max-width: 580px;
        flex: 0 0 100%;
        #{$_}__media{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        #{$_}__img{
            height: 100%;
            width: 100%;
            &-file{
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 80% 100%;
                font-family: 'object-fit: cover; object-position: right bottom;';
            }
        }
        #{$_}__content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 100;
        }
        #{$_}__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.25rem;
            width: 100%;
            box-sizing: border-box;
        }
        #{$_}__title{
            display: block;
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: 400;
            font-family: $font-family-alt;
            line-height: 1.1;
        }
        #{$_}__link{
            &--title{
                &, &:hover{
                    color: inherit;
                }
            }
        }
        #{$_}__text{
            font-size: .875rem;
            font-weight: 400;
            font-family: $font-family-base;
            line-height: 1.5;
        }
        #{$_}__nav{
            position: relative;
            margin-top: 1rem;
            z-index: 100;
        }
    }
    &--outline{
        border-color: $dividers;
        box-shadow: none;
    }
    &--shop-info{
        text-align: center;
        border-color: $white;
        background: $gray-100;

        #{$_}__media{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .9375rem;
            width: 100%;
            box-sizing: border-box;
        }
        #{$_}__icon{
            display: block;
            font-size: 3.5rem;
        }
        #{$_}__body{
            padding: 0 .625rem 1.25rem;
        }
        #{$_}__title{
            margin-bottom: 0;
            color: $text-primary;
            text-transform: uppercase;
        }
        #{$_}__text{
            display: none;
            color: $text-secondary;
            font-size: .875rem;
            font-weight: 400;
        }
    }
    &--warranty{
        #{$_}__icon,
        &:hover #{$_}__title{
            color: $primary;
        }
    }
    &--delivery{
        #{$_}__icon,
        &:hover #{$_}__title{
            color: $pink;
        }
    }
    &--payment{
        #{$_}__icon,
        &:hover #{$_}__title{
            color: $purple;
        }
    }
    &--product{
        $card-spacer-x: .625rem;
        width: 100%;
        #{$_}__content{
            display: flex;
            flex-direction: column;
        }
        #{$_}__body{
            padding: $card-spacer-x;
            text-align: center;
        }
        #{$_}__footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: $card-spacer-x;
        }
        #{$_}__media{
            position: relative;
            max-height: 240px;
            &::before{
                content: '';
                display: block;
                padding-bottom: 88%;
                width: 100%;
            }
        }
        #{$_}__img{
            position: absolute;
            top: $card-spacer-x;
            left: $card-spacer-x;
            right: $card-spacer-x;
            bottom: $card-spacer-x;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-file{
                flex-shrink: 2;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        #{$_}__title{
            display: block;
            color: $text-primary;
            font-size: .625rem;
            font-weight: 400;
            letter-spacing: .05em;
        }
        #{$_}__meta{
            &--price{
                margin-right: auto;
                color: $text-primary;
                font-size: 1rem;
                font-weight: $font-weight-bold;
                line-height: 1.75;
            }
        }
    }
}

@import '_card-responsive';
// END card style
