%collapse-toggle{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    &::after{
        position: absolute;
        top: 50%;
        right: $grid-gutter-width/3;
        content: '';
        display: block;
        font-size: 1.875rem;
        height: 1em;
        width: 1em;
        background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary) no-repeat 50% 50% transparent;
        background-size: cover;
        transform: translate(0, -50%) rotate(-90deg);
        transition: all .25s ease-out;
    }
    &--btn{
        &::after{
            border-radius: 50%;
            border: .125rem solid $dividers;
            font-size: 1.5rem;
            background-size: 1rem;
        }
    }
    &.is-active{
        &::after{
            transform: translate(0, -50%) rotate(90deg);
        }
    }
}

%collapse-title{
    position: relative;
    color: $text-primary;
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    &--toggle{
        @extend %collapse-toggle;
        @extend %collapse-toggle--btn;
        position: relative;
        display: inline-block;
        border-bottom: $border-width dashed;
        margin-right: 2.5rem;
        color: $primary;
        &::after{
            right: -2.5rem;
            border-color: rgba($primary, .12);
            background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$primary);
        }
        &.is-active{
            color: $text-secondary;
            &::after{
                border-color: $dividers;
                background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary);
            }
        }
    }
}
%collapse-body{
    overflow: hidden;
    height: 0;
    visibility: hidden;
    // transition: visibility .25s ease-in-out, height .25s ease-in-out;
    &.is-collapsing{
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height .35s ease;
    }
    &.is-open{
        visibility: visible;
        height: auto;
    }
}

.collapse{
    $_: '.collapse';
    &__header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;
    }
    &__title{
        @extend %collapse-title;
        &--toggle{
            @extend %collapse-title--toggle;
        }
    }
    &__toggle{
        @extend %collapse-toggle;
    }
    &__btn{
        @extend %collapse-toggle;
        @extend %collapse-toggle--btn;
    }
    &__body{
        @extend %collapse-body;
    }
}

@import '_collapse-responsive';
