@include media-breakpoint-down(md) {
    %collapse-header-mobile{
        position: relative;
        display: flex;
        padding: .8125rem $grid-gutter-width/3;
        margin-left: -$grid-gutter-width/3;
        margin-right: -$grid-gutter-width/3;
        line-height: 1.25;
        background-color: $gray-100;
        &--primary{
            background-color: $primary;
            %collaspse-tiotle-mobile{
                color: $text-primary-light;
            }
        }
    }
    %collapse-toggle-mobile{    
        position: relative;
        display: block;
        cursor: pointer;
        padding: 0;
        margin: -.3125rem 0 -.3125rem auto;
        border: 0;
        user-select: none;
        font-size: 1.875rem;
        height: 1em;
        width: 1em;
        outline: none;
        background: transparent;
        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary) no-repeat 50% 50% transparent;
            background-size: cover;
            transform: translate(-50%, -50%) rotate(-90deg);
            transition: all .25s ease-out;
        }
        &--btn{
            font-size: 1.5rem;
            &::after{
                border-radius: 50%;
                border: .125rem solid $dividers;
                background-size: 1rem;
            }
        }
        &.is-active{
            &::after{
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
    %collapse-title-mobile{
        position: relative;
        display: flex;
        color: $text-primary;
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
        &--toggle{
            @extend %collapse-toggle-mobile;
            @extend %collapse-toggle-mobile--btn;
            position: relative;
            display: inline-block;
            border-bottom: $border-width dashed;
            margin-right: 2.5rem;
            color: $primary;
            &::after{
                right: -2.5rem;
                border-color: rgba($primary, .12);
                background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$primary);
            }
            &.is-active{
                color: $text-secondary;
                &::after{
                    border-color: $dividers;
                    background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary);
                }
            }
        }
    }
    %collapse-body-mobile{
        overflow: hidden;
        visibility: hidden;
        height: 0;
        //transition: visibility .25s ease-in-out, height .25s ease-in-out;
        &.is-collapsing{
            position: relative;
            height: 0;
            overflow: hidden;
            transition: height .35s ease;
        }
        &.is-open{
            visibility: visible;
            height: 100%;
        }
    }
}

.collapse{
    $_: '.collapse';
    @include media-breakpoint-down(sm) {
        &__header{
            margin-bottom: 1.875rem;
        }
    }
}
