.form{
    $_: '.form';
    @include media-breakpoint-up(sm) {
        &__col{
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            min-width: 260px;
            &--captcha{
                flex: 0 0 100%;
                width: 100%;
            }
            &--auto{
                flex: 0 0 auto;
                width: auto;
                max-width: none;
                min-width: auto;
            }
        }
        &__group{
            #{$_}__col{
                padding-bottom: 0;
            }
        }
        &__captcha{
            #{$_}__img{
                margin: 0;
                margin-right: .625rem;
            }
            #{$_}__group{
                flex-basis: 0;
                flex-grow: 1;
            }
        }
        &--cart{
            #{$_}__fieldset{
                &-header{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                }
            }
        }
        &--reviews{
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                &--100{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &--action{
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    flex: 0 0 100%;
                    width: 100%;
                    .btn{
                        width: auto;
                    }
                }
            }
        }
        &--sort-mobile{
            #{$_}__col{
                flex: 0 0 auto;
                width: auto;
                max-width: 50%;
                &:last-child{
                    max-width: 50%;
                }
            }
        }
        &--promo{
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
            }
        }
        &--cart{
            #{$_}__fieldset{
                padding-bottom: 1.25rem;
                &-header{
                    margin-bottom: 1.875rem;
                }
                &-title{
                    padding-right: 1.875rem;
                    font-size: 1.75rem;
                }
                &-subtitle{
                    font-size: 1.125rem;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__col{
            &--captcha{
                flex-grow: 2;
                flex-basis: 0;
                min-width: 260px;
            }
            &--action {
                flex: 0 0 auto;
                width: auto;
                min-width: auto;
                max-width: none;
            }
        }
        &__label{
            margin-bottom: .625rem;
            font-size: 1.125rem;
            &--placeholder{
                margin: 0;
                font-size: 1.125rem;
            }
        }
        &--reviews{
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                &--100{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &--action{
                    flex: 0 0 auto;
                    width: auto;
                    .btn{
                        width: auto;
                    }
                }
            }
        }
        &--search{
            #{$_}__control{
                padding: .3125rem 1rem;
                font-size: 1.125rem;
            }
        }
        &--sort-mobile{
            #{$_}__col{
                max-width: none;
                &:last-child{
                    max-width: none;
                }
            }
            #{$_}__group{
                display: flex;
                flex-direction: row;
                align-items: center;

            }
            #{$_}__label{
                padding-right: .875rem;
                white-space: nowrap;
            }
        }
        &--card{
            #{$_}__body{
                padding: 1.875rem 1.875rem .625rem;
            }
        }
        &--cart{
            #{$_}__fieldset{
                padding-bottom: 1.25rem !important;
            }
            #{$_}__row{
                margin-left: -$grid-gutter-width/3*2;
                margin-right: -$grid-gutter-width/3*2;
            }
            #{$_}__col{
                padding-left: $grid-gutter-width/3*2;
                padding-right: $grid-gutter-width/3*2;
                flex: 0 0 50%;
                width: 100%;
                max-width: 50%;
                &--bottom{
                    align-self: flex-end;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__group{
            &--inline{
                #{$_}__label{
                    margin-right: 1.25rem;
                }
            }
            &.woocommerce-invalid-required-field{
                &::after{
                    padding: calc(.625rem + #{$border-width}) calc(1.25rem + #{$border-width});
                }
            }
        }
        &__control{
            padding: .625rem 1.25rem;
            & ~ #{$_}__label--placeholder{
                padding: calc(.625rem + #{$border-width}) calc(1.25rem + #{$border-width});
            }
            &--xl{
                padding: .375rem 1.25rem;
                font-size: 1.5rem;
                & ~ #{$_}__label--placeholder{
                    padding: calc(.375rem + #{$border-width}) calc(1.5rem + #{$border-width});
                    font-size: 1.5rem;
                }
            }

            &--success{
                padding-right: 2.5rem;
            }

            // custom select
            &--select{
                padding-right: 2.5rem;
                &:not([size]):not([multiple]) {
                    height: 48px;
                }
                &:not(:empty){
                    color: $primary;
                }
            }
            &--counter{
                padding: .1875rem .25rem;
            }
            &--avatar{
                padding: 0;
                border: 0;
            }
        }
        select.form__control{
            &:not([size]):not([multiple]) {
                padding-right: 2.5rem;
                height: 48px;
            }
        }
        &--cart{
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                min-width: 260px;
                &--last{
                    padding-bottom: 0;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .g-recaptcha{
            transform: scale(1);
            transform-origin: 0 0;
        }
    }
}
