// START form style
.form{
    $_: '.form';
    &__row{
        @extend .row;
        margin-left: -$grid-gutter-width/3;
        margin-right: -$grid-gutter-width/3;
    }
    &__col{
        padding-left: $grid-gutter-width/3;
        padding-right: $grid-gutter-width/3;
        padding-bottom: $grid-gutter-width/3*2;
        flex: 0 0 100%;
        max-width: none;
        &--bottom{
            align-self: flex-end;
        }
        &--captcha{
            flex: 0 0 100%;
            width: 100%;
        }
    }
    &__group{
        position: relative;
        margin-bottom: 0;
        & + #{$_}__group,
        & + #{$_}__action{
            margin-top: $form-group-margin-bottom;
        }
        &:last-child, 
        &:not([style*="display:none"]):not([style*="display: none"]):last-child{ 
            margin-bottom: 0;
        }
        &--inline{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            #{$_}__label{
                margin-right: .625rem;
                margin-top: .625rem;
            }
            #{$_}__control{
                width: auto;
                max-width: 100%;
            }
        }
        #{$_}__row{
            margin-left: -.25rem;
            margin-right: -.25rem;
        }
        #{$_}__col{
            padding-left: .25rem;
            padding-right: .25rem;
            min-width: 100px;
            &:last-child{
                padding-bottom: 0;
            }
        }
        &--inline-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            #{$_}__label{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &--label{
            &::before{
                display: block;
                content: attr(data-label);
                position: absolute;
                top: 50%;
                left: .5rem;
                transform: translate(0, -50%);
                color: inherit;
                line-height: 1.45;
            }
            #{$_}__control{
                padding-left: 1.25rem;
            }
        }
        &--input{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            #{$_}__control{
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
        &--file{
            #{$_}__label{
                cursor: pointer;
                display: inline-block;
                border-bottom: $border-width dotted;
                padding: 0;
                margin: .3125rem 0;
                color: $text-secondary;
                font-size: 1.125rem;
                font-weight: $font-weight-bold;
                line-height: 1.45;
                white-space: nowrap;
                &:hover{
                    &, &:focus{
                        color: $link-hover-color;
                    }
                }
            }
        }
        &--error{
            color: $red;
        }
        &.woocommerce-invalid{
            @extend #{$_}__group--error;
            #{$_}__control{
                @extend #{$_}__control--error;
            }
        }
        &.woocommerce-invalid-required-field{
            &::after{
                content: 'Заполните поле';
                @extend .form__label;
                @extend .form__label--placeholder;
                color: $red !important;
                margin-bottom: 0 !important;
            }
        }
    }
    &__text{
        &--error{
            display: none;
        }
    }
    &__label{
        margin-bottom: .5rem;
        color: $text-secondary;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        transition: $transition-fade;
        sup{
            margin-top: -.125em;
            margin-left: .125em;
            color: $accent;
        }
        &--placeholder{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: calc(.3125rem + #{$border-width}) calc(1rem + #{$border-width});
            pointer-events: none;
            color: $input-placeholder-color;
            font-size: 1.125rem;
            line-height: 1.45;
            width: 100%;
            box-sizing: border-box;
            @extend .text--ellipsis;
        }
        &--light{
            font-weight: $font-weight-normal;
        }
        &.is-hide{
            opacity: 0;
        }
    }
    &__control{
        display: block;
        border-radius: $input-border-radius;
        border: $input-border-width solid $input-border-color;
        padding: .3125rem 1rem;
        font-size: 1.125rem;
        font-weight: $font-weight-bold;
        line-height: 1.45;
        color: $input-color;
        width: 100%;
        background-color: $input-bg;
        background-clip: padding-box;
        -webkit-appearance: none; 
        appearance: none;

        @include box-shadow($input-box-shadow);
        @include transition($input-transition);
        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            background-color: transparent;
            border: 0;
        }
      
        // Customize the `:focus` state to imitate native WebKit styles.
        &:focus{
            outline: 0;
            & ~ #{$_}__label--placeholder{
                @extend #{$_}__label.is-hide;
            }
        }
        // @include form-control-focus();
      
        // Placeholder
        &::placeholder {
            color: $input-placeholder-color;
            // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
            opacity: 1;
        }
      
        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            background-color: $input-disabled-bg;
            // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
            opacity: 1;
        }
        &-prepend, 
        &-append{
            display: flex;
        }
        &-prepend{
            margin-right: -$border-width;
            #{$_}__control,
            .btn{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &-append{
            margin-left: -$border-width;
            #{$_}__control,
            .btn{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &--success{
            padding-right: 2.5rem;
            background: svg-load('../../../static/img/svg/check.svg', fill=$success) no-repeat calc(100% - .5rem) 50% $input-bg;
            background-size: 2rem 2rem;
        }

        // hidden
        &--hidden{
            visibility: hidden;
            opacity: 0;
        }

        // size
        &--lg{
            padding: .625rem 1.25rem;
            & ~ #{$_}__label--placeholder{
                top: .625rem;
                left: 1.25rem;
            }
        }
        &--xl{
            padding: .625rem 1.25rem;
            & ~ #{$_}__label--placeholder{
                top: .625rem;
                left: 1.25rem;
            }
        }
        // type 
        &--rounded{
            border-radius: 50px;
        }
        &--counter{
            padding: .1875rem .25rem;
            text-align: center;
            font-size: 1rem;
            line-height: 1.25;
            max-width: 35px;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button{
                margin: 0;
                display: none;
            }
        }

        &--avatar{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            border: 0;
            #{$_}__raw{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                max-width: 100%;
            }
            #{$_}__icon{
                display: block;
                color: $text-primary-light;
                width: 100%;
                height: 100%;
            }
            #{$_}__value{
                position: relative;
                border: $border-width solid $white;
                box-shadow: 0 1px 1px rgba($black, 0.15);
                padding: .135em;
                margin-right: 1.25rem;
                font-size: 120px;
                height: 1em;
                width: 1em;
                background: $gray-100;
            }
            #{$_}__image{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
            #{$_}__label{
                cursor: pointer;
                display: block;
                font-size: 1.125rem;
                font-weight: $font-weight-normal;
                text-decoration: underline;
                @include hover-focus{
                    color: $primary;
                    text-decoration: none;
                }
            }
        }

        // custom select
        &--select{
            position: relative;
            cursor: pointer;
            user-select: none;
            padding-right: 2.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &.is-open{
                &::after{
                    transform: translate(0, -50%) rotate(90deg);
                    background: svg-load('../../../static/img/svg/chevron.svg', fill=$primary) no-repeat 50% 50% $input-bg;
                    background-size: cover;
                }
            }
            & > * {
                pointer-events: none;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(0, -50%) rotate(-90deg);
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary) no-repeat 50% 50%;
                background-size: cover;
            }
            &:not(:empty){
                color: $primary;
            }
            &:empty::before{
                content: attr(data-placeholder);
                color: $input-placeholder-color;
            }

            &:not([size]):not([multiple]) {
                height: 38px;
            }
            &:focus::-ms-value {
                // Suppress the nested default white text on blue background highlight given to
                // the selected option text when the (still closed) <select> receives focus
                // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
                // match the appearance of the native widget.
                // See https://github.com/twbs/bootstrap/issues/19398.
                color: $input-color;
                background-color: $input-bg;
            }
            &#{$_}__control--lg{
                &:not([size]):not([multiple]){
                    height: 48px;
                }
            }
            &#{$_}__control--xl{
                &:not([size]):not([multiple]){
                    height: 48px;
                }
            }
        }
        &--hide{
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        &--error{
            border-color: $red;
            color: $red;
            &::placeholder {
                color: $red;
            }
            & ~ #{$_}__label{
                &--placeholder{
                    color: $red;
                }
            }
        }
    }
    &__file{
        position: relative;
        cursor: pointer;
        display: inline-block;
        // padding-right: 1.875rem;
        // margin-top: .625rem;
        flex-basis: 0;
        flex-grow: 1;
        overflow: hidden;
        color: $text-secondary;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.1;
        width: 100%;
        box-sizing: border-box;
        // background: svg-load('../../../static/img/svg/close.svg', fill=$red) no-repeat 100% 50%;
        // background-size: 1.25rem;
        // &:hover{
        //     &, &:focus{
        //         color: $red;
        //     }
        // }
    }
    &__dropdown{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        overflow-y: scroll;
        border-radius: $input-border-radius;
        box-shadow: 0 1px 4px rgba($black, 0.17);
        width: 100%;
        max-height: 230px;
        background: $white;
        z-index: 100;
        &.is-open{
            display: block;
        }
    }
    &__check{
        position: relative;
        user-select: none;
        padding-left: 2.125rem;
        margin-bottom: .625rem;
        font-size: .9375rem;
        line-height: 1.6;
        min-height: 1.5rem;
        &:last-child{
            margin-bottom: 0;
        }
        &-input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked ~ #{$_}__check-label{
                color: $text-secondary;
                &::after{
                    opacity: 1;
                }
            }
            &[type="radio"]{
                & ~ #{$_}__check-label{
                    &::before,
                    &::after{
                        border-radius: 50%;
                    }
                    &::after{
                        top: .3125rem;
                        left: .3125rem;
                        border: $border-width solid $dividers;
                        height: .875rem;
                        width: .875rem;
                        background: $primary;
                    }
                }
            }
        }
        &-label{
            cursor: pointer;
            margin-bottom: 0;
            color: $text-secondary;
            &::before, &::after{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                border-radius: $input-border-radius;
                width: 1.5rem;
                height: 1.5rem;
                transition: $transition-base;

            }
            &::before{
                border: $input-border-width solid $input-border-color;
                border-radius: $input-border-radius;
                background: $body-bg;
            }
            &::after{
                opacity: 0;
                background: svg-load('../../../static/img/svg/check.svg', fill=$text-primary) no-repeat 50% 50% transparent;
                background-size: cover;
            }
        }
        &--error, &.woocommerce-invalid, &.woocommerce-invalid-required-field{
            border-color: $red;
            color: $red;
            #{$_}__check-label{
                color: $red;
                &::before{
                    border-color: $red;
                }
            }
        }
        &--color{
            @extend .form__check--inline;
            vertical-align: middle;
            padding: 0;
            min-height: 2rem;
            #{$_}__check-input:checked ~ #{$_}__check-label{
                border: 3*$input-border-width solid $accent;
            }
            #{$_}__check-label{
                padding: 0;
                border: $input-border-width solid $input-border-color;
                border-radius: $input-border-radius;
                width: 2rem;
                height: 2rem;
                &::before{
                    content: none;
                }
                &::after{
                    height: 2rem;
                    width: 2rem;
                    background-image: svg-load('../../../static/img/svg/check.svg', fill=$white);
                    background-size: 1.5rem;
                }
            }
        }
        &--inline{
            display: inline-flex;
            margin-right: .625rem;
            &:last-child{
                margin-right: 0;
                margin-bottom: .625rem;
            }
        }
        &--inverse{
            #{$_}__check-label{
                &::after{
                    background-image: svg-load('../../../static/img/svg/check.svg', fill=$text-primary);
                }
            }
        }
    }
    &__range{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        #{$_}__group{
            margin-bottom: 0;
            flex: 0 0 80px;
            color: $text-secondary;
            font-size: .875rem;
            max-width: 80px;
            width: 100%;
            &:nth-child(2n){
                margin-left: auto;
            }
        }
        #{$_}__control{
            padding: .25rem .625rem .25rem 1.5rem;
            text-align: right;
            font-size: .875rem;
            font-weight: $font-weight-normal;
        }
    }
    &__slider{
        flex: 0 0 100%;
        margin-top: .625rem;
        width: 100%;
    }
    &__captcha{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        #{$_}__img{
            margin-bottom: .625rem;
            flex: 0 0 125px;
            width: 125px;
            &-file{
                display: block;
                max-width: 100%;
            }
        }
        #{$_}__group{
            flex: 0 0 100%;
            width: 100%;
        }
    }
    &__link{
        display: inline-block;
        vertical-align: middle;
        color: $link-color;
        text-decoration: underline;
        & #{$_}__link{
            margin-top: .625rem;
        }
        &:hover{
            &, &:focus{
                color: $link-hover-color;
            }
        }
    }
    &__action{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        #{$_}__btn,
        #{$_}__link{
            margin-right: 1.25rem;
            margin-bottom: .625rem;
            &:last-child{
                margin-right: 0;
            }
        }
        &--right{
            justify-content: flex-end;
            #{$_}__btn,
            #{$_}__link{
                margin-right: 0;
                margin-left: 1.25rem;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    select.form__control{
        font-weight: $font-weight-normal;
        padding-right: 2.5rem;
        background: svg-load('../../../static/img/svg/chevron-bottom.svg', fill=$text-secondary) no-repeat calc(100% - 1rem) 50% $input-bg;
        background-size: 1.25rem 1.25rem;
        &:not([size]):not([multiple]) {
            height: 38px;
        }
        &:focus::-ms-value {
            color: $input-color;
            background-color: $input-bg;
        }
        &#{$_}__control--lg{
            &:not([size]):not([multiple]){
                height: 48px;
            }
        }
        &#{$_}__control--xl{
            &:not([size]):not([multiple]){
                height: 48px;
            }
        }
    }
    &--search{
        #{$_}__control{
            @extend .form__control--rounded;
            @extend .form__control--lg;
        }
    }
    &--sort-mobile{
        #{$_}__col{
            margin-bottom: 0;
            padding-bottom: 0;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            &:last-child{
                max-width: 150px;
            }
        }
    }
    &--sort{
        #{$_}__row{
            align-items: center;
        }
        #{$_}__col{
            flex: 0 0 auto;
            margin: 0;
            width: auto;
            max-width: none;
            &:nth-child(2n){
                margin-left: auto;
            }
        }
        #{$_}__group{
            display: flex;
            flex-direction: row;
            align-items: center;

        }
        #{$_}__label{
            margin: 0;
            padding-right: .875rem;
            font-size: .875rem;
            white-space: nowrap;
        }
    }
    &--reviews{
        #{$_}__row{
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
        }
        #{$_}__col{
            padding-left: $grid-gutter-width/3;
            padding-right: $grid-gutter-width/3;
            padding-bottom: $grid-gutter-width/3*2;
            flex: 0 0 100%;
            max-width: none;
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    &--promo{
        #{$_}__row{
            margin-left: -.125rem;
            margin-right: -.125rem;
        }
        #{$_}__col{
            padding: 0 .125rem .625rem;
        }
    }
    &--cart{
        #{$_}__fieldset{
            @extend .cart__table;
            &-header{
                margin-bottom: 1.25rem;
            }
            &-title{
                display: block;
                padding-right: 1.25rem;
                text-transform: uppercase;
                color: $text-primary;
                font-size: 1.125rem;
                font-weight: $font-weight-bold;
                line-height: 1.1;
            }
            &-subtitle{
                display: block;
                color: $text-secondary;
                font-size: 1rem;
                font-weight: $font-weight-bold;
                line-height: 1.1;
            }
        }
        #{$_}__col{
            padding-bottom: 1.25rem;
        }
    }
    &--modal{
        #{$_}__row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &--action{
                #{$_}__col{
                    flex-basis: 0;
                    flex-grow: 1;
                    width: 100%;
                    min-width: auto;
                    align-items: center;
                    &--action{
                        flex: 0 0 auto;
                        width: auto;
                    }
                }
            }
        }
        #{$_}__title{
            display: block;
            margin-bottom: 1.25rem;
            color: $text-secondary;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
        #{$_}__action{
            &--social{
                margin-top: 1.25rem;
                padding-top: 1.25rem;
                border-top: $border-width solid $dividers;
            }
        }
        #{$_}__social{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }
    .g-recaptcha{
        transform: scale(0.77);
        transform-origin: 0 0;
    }
}

textarea.form__control ~ .form__label--placeholder{
    top: 0;
    bottom: auto;
}

@import '_form-responsive';
// END form style
