// START grid style
// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
    @include make-grid-columns();
}

.row{
    $_: '.row';
    @include make-row();
    margin-left: -$grid-gutter-width/3;
    margin-right: -$grid-gutter-width/3;
    &__col{
        @include make-col-ready();
        padding-left: $grid-gutter-width/3;
        padding-right: $grid-gutter-width/3;
    }
    &--space-around{
        #{$_}__col{
            padding-bottom: $grid-gutter-width/3*2;
        }
    }
}
// END grid style
