// START text helpers
.text, a.text{
    // color
    &--primary{
        color: $primary;
    }
    &--accent{
        color: $accent;
    }
    &--primary-text{
        color: $text-primary;
    }
    &--secondary-text{
        color: $text-secondary;
    }
    &--inherit{
        color: inherit;
        text-decoration: none;
    }
    &--succes{
        color: $success;
    }
    &--danger{
        color: $danger;
    }
    &--warning{
        color: $warning;
    }
    &--info{
        color: $info;
    }
}

.text{
    // aligng
    &--center{
        text-align: center;
    }
    &--left{
        text-align: left;
    }
    &--right{
        text-align: right;
    }

    // wifght
    &--light{
        font-weight: $font-weight-light;
    }
    &--normal{
        font-weight: $font-weight-normal;
    }
    &--bold{
        font-weight: $font-weight-bold;
    }

    // dotted
    &--ellipsis{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    // word-wrap
    &--word-wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &--uppercase{
        text-transform: uppercase;
    }
}
// END text helpers
