// START icons style
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    box-sizing: border-box;
    &--left{
        transform: rotate(0);
    }
    &--top{
        transform: rotate(90deg);
    }
    &--right{
        transform: rotate(180deg);
    }
    &--bottom{
        transform: rotate(270deg);
    }
    &--outline{
        border-radius: 50%;
        border: .089em solid;
    }
}
// END icons style
