// START loader style
.loader{
    $_: '.loader';
    position: relative;
    font-size: 1em;
    width: 1em;
    height: 1em;
    z-index: 100;
    &__item{
        position: absolute;
        top: .125em;
        left: .125em;
        display: block;
        border-radius: .25em;
        border: .125em solid;
        animation: spin 2s ease infinite;
        width: .25em;
        height: .25em;
        color: $accent;
        box-sizing: border-box;
        &:nth-child(1){
            color: lighten($accent, 10%);
            animation-delay: -1.5s;
        }
        &:nth-child(2){
            color: lighten($primary, 10%);
            animation-delay: -1s;
        }
        &:nth-child(3){
            color: lighten($info, 10%);
            animation-delay: -0.5s;
        }
        &:nth-child(4){
            color: $text-secondary;
        }
    }
    &--mono{
        #{$_}__item{
            color: inherit;
        }
    }
    &--shadow{
        #{$_}__item{
            box-shadow: 0 2px 1px rgba($black, .15);
        }
    }
}
// END loader style 

@keyframes spin {
    0%,
    100% {
        transform: translate(0)
    }
    25% {
        transform: translate(.5em)
    }
    50% {
        transform: translate(.5em, .5em)
    }
    75% {
        transform: translate(0, .5em)
    }
}
