.media{
    $_: '.media';
    @include media-breakpoint-up(md) {
        margin-bottom: 1.875rem;
        &--left{
            padding-right: 1.875rem;
            margin-bottom: .625rem;
            float: left;
            width: auto;
            max-width: 50%;
        }
        &--right{
            padding-left: 1.875rem;
            margin-bottom: .625rem;
            float: right;
            width: auto;
            max-width: 50%;
        }
    }
}
