// START style media
.media{
    $_: '.media';
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    box-sizing: border-box;
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
    &__img{
        &-file{
            display: block;
            max-width: 100%;
        }
    }
}

@import '_media-responsive'
// END style media
