// START modal style 
.modal{
    $_: '.modal';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695
    opacity: 0;
    transition: $transition-fade;
    &.is-open{
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 1;
    }
    &__dialog{
        position: relative;
        width: auto;
        margin: $modal-dialog-margin;
        // allow clicks to pass through for custom click handling to close modal
        pointer-events: none;
        @include transition($modal-transition);
        transform: translate(0, -25%);
        // When fading in the modal, animate it to slide down
        #{$_}.is-open & {
          transform: translate(0, 0);
        }
    }
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
        // counteract the pointer-events: none; in the .modal-dialog
        pointer-events: auto;
        background-color: $modal-content-bg;
        background-clip: padding-box;
        border: $modal-content-border-width solid $modal-content-border-color;
        box-shadow: $modal-content-box-shadow-xs;
        // Remove focus outline from opened modal
        outline: 0;
    }
    &__header{
        display: flex;
        align-items: flex-start; // so the close btn always stays on the upper right corner
        justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
        padding: $modal-header-padding;
        #{$_}__close{
            padding: $modal-header-padding;
            // auto on the left force icon to the right even when there is no .modal-title
            margin: (-$modal-header-padding) (-$modal-header-padding) (-$modal-header-padding) auto;
        }
    }
    &__title{
        color: $text-secondary;
        @extend .page__title;
        margin-bottom: 0;
        line-height: $modal-title-line-height;
    }
    &__close{
        cursor: pointer;
        display: block;
        border: 0;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        height: 1em;
        width: 1em;
        background: svg-load('../../../static/img/svg/close.svg', fill=$text-secondary) no-repeat 50% 50%;
        background-size: 1.7em;
        outline: none !important;
        &:hover{
            &, &:focus{
                background-image: svg-load('../../../static/img/svg/close.svg', fill=$primary);
            }
        }
    }
    &__body{
        // Enable `flex-grow: 1` so that the body take up as much space as possible
        // when should there be a fixed height on `.modal-dialog`.
        flex: 1 1 auto;
        padding: $modal-inner-padding;
    }
    &__footer{
        display: flex;
        align-items: center; // vertically center
        justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
        padding: $modal-inner-padding;
        border-top: $modal-footer-border-width solid $modal-footer-border-color;
      
        // Easily place margin between footer elements
        > :not(:first-child) { margin-left: .25rem; }
        > :not(:last-child) { margin-right: .25rem; }
    }
    &--centered{
        #{$_}__dialog{
            display: flex;
            align-items: center;
            min-height: calc(100% - (#{$modal-dialog-margin} * 2));
        }
    }
}
@import '_modal-responsive';
// END modal style
