.modal{
    $_: '.modal';
    @include media-breakpoint-up(sm) {
        &__dialog{
            max-width: $modal-md;
            margin: $modal-dialog-margin-y-sm-up auto;
        }
        &__content{
            @include box-shadow($modal-content-box-shadow-sm-up);
        }
        &--centered{
            #{$_}__dialog{
                min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
            }
        }
        &--sm{
            #{$_}__dialog{
                max-width: $modal-sm; 
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__close{
            font-size: 1.875rem;
        }
        &__title{
            margin-bottom: 0;
            font-size: 1.875rem;
        }
        &__header{
            padding: 1.875rem;
            & + #{$_}__body{
                padding-top: 0;
            }
        }
        &__body{
            padding: 1.875rem;
        }
        &--sm{
            #{$_}__dialog{
                max-width: $modal-lg;
            }
        }
    }
}
