.nav{
    $_: '.nav';
    @include media-breakpoint-down(sm) {
        
    }
    @include media-breakpoint-up(md) {
        &--footer{
            border-bottom: 0;
            margin-bottom: 1.875rem;
            color: $text-secondary;
            font-size: .875rem;
            line-height: 1.75;
            &:last-child{
                margin-bottom: 0;
            }
            #{$_}__header{
                background: transparent
            }
            #{$_}__title{
                font-size: 1.125rem;
            }
            #{$_}__toggle{
                display: none;
            }
            #{$_}__body{
                padding: 0;
                height: auto !important;
                visibility: visible !important;
            }
            #{$_}__item{
                margin-bottom: 0;
            }
            #{$_}__link{
                color: inherit;
                font-size: inherit;
                text-decoration: underline;
                &:hover{
                    &, &:hover{
                        text-decoration: none;
                    }
                }
                &--title{
                    display: inline;
                    padding: 0;
                    color: $text-primary;
                    line-height: $line-height-base;
                    text-decoration: none;
                }
            }
        }
        &--footer-primary{
            background: transparent;
            #{$_}__header{
                background: transparent;
            }
            #{$_}__ul{
                padding: 0;
            }
        }
        &--single{
            margin-bottom: 0;
        }
    }
    @include media-breakpoint-up(lg) {
        &--tabs{
            justify-content: flex-start;
            #{$_}__item{
                margin-right: 1.25rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &--pill{
            font-size: 1.375rem;
            #{$_}__link{
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
        &--select{
            #{$_}__item{
                &:first-child{
                    border: 0;
                    #{$_}__link{
                        padding-bottom: .6875rem;
                    }
                }
            }
            #{$_}__link{
                padding: .6875rem 1.25rem;
                padding-bottom: calc(.6875rem - #{$border-width});
            }
        }
        &--contacts{
            #{$_}__item{
                &.is-active{
                    font-size: 1.875rem;
                }
            }
        }
    }
    @media (min-width: 1100px) {
        &--primary{
            & > #{$_}__item{
                & > #{$_}__link{
                    padding-left: 1.875rem;
                    padding-right: 1.875rem;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &--tabs{
            justify-content: flex-start;
            #{$_}__item{
                margin-right: 3.375rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &--primary{
            & > #{$_}__item{
                & > #{$_}__link{
                    padding-left: 2.75rem;
                    padding-right: 2.75rem;
                }
            }
        }
    }
}
