// START nav style
.nav{
    $_: '.nav';
    &, &__ul{
        user-select: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item{
        position: relative;
    }
    &__item, & > &__link{
        margin-bottom: .625rem;
    }
    &__link{
        text-decoration: none;
        transition: $btn-transition;
        &:hover{
            text-decoration: none;
        }
    }
    &__toggle{
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 1.875rem;
        height: 1em;
        width: 1em;
        outline: none !important;
        background: transparent;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary) no-repeat 50% 50% transparent;
            background-size: cover;
            transform: rotate(-90deg);
        }
        &.is-active{
            &::before{
                transform: rotate(90deg);
            }
        }
    }
    &--inline{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        #{$_}__item{
            display: flex;
            align-items: center;
            margin-right: 1.25rem;
            margin-bottom: 0;
            &::after{
                content: '';
                display: block;
                margin-left: 1.25rem;
                height: .75em;
                width: $border-width;
                background: $dividers;
            }
            &:last-child{
                margin-right: 0;
                &::after{
                    content: none;
                }
                
            }
        }
        #{$_}__link{
            display: inline-flex;
            align-items: center;
            color: inherit;
            font-size: inherit;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
                color: $primary;
            }
        }
        #{$_}__icon{
            margin-right: .25rem;
        }
    }
    &--dropdown{
        display: none;
    }
    &--inline-sort{
        color: $text-secondary;
        font-size: .875rem;
        #{$_}__item{
            &.is-active{
                #{$_}__link{
                    color: $accent;
                }
            }
        }
        #{$_}__link{
            &:hover{
                color: $accent;
            }
        }
    }
    &--primary{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @extend .page__container;
        margin-left: auto;
        margin-right: auto;
        & > #{$_}__item{
            position: static;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            margin-right: 1px;
            &::after{
                content: '';
                display: block;
                height: 26px;
                width: $border-width;
                background: $text-secondary-light;
            }
            &:last-child{
                margin-right: 0;
                &::after{
                    content: none;
                }
            }
            & > #{$_}__link{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .625rem 1.25rem;
                color: $text-primary-light;
                font-size: 1.375rem;
                line-height: 1.75;
                white-space: nowrap;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
            }
            & > .nav{
                opacity: 0;
                visibility: hidden;
                transition: opacity .25s ease, visibility .25s ease;
            }
            &:hover{
                #{$_}__link{
                    background-color: adjust-hue($accent, -5%);
                }
                & > .nav{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        #{$_}__icon{
            margin-right: .625rem;
            font-size: 1.45em;
            filter: drop-shadow(0 2px 1px rgba($black, .15));
        }
    }
    &--smart{
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: $grid-gutter-width;
        max-width: $site-width - $grid-gutter-width;
        background-color: adjust-hue($accent, -5%);
        & > #{$_}__item{
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
            & > #{$_}__link{
                display: inline-block;
                margin-bottom: .9375rem;
                font-size: 1.5rem;
                white-space: nowrap;
            }

        }
        #{$_}__link{
            color: inherit;
            font-size: 1.125rem;
            text-decoration: underline;
            &:hover{
                color: adjust-hue($accent, 15%);
            }
        }
    }
    &--mobile{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        #{$_}__item{
            position: relative;
            display: block;
            margin: 0;
            margin-right: $border-width;
            width: auto;
            &::after{
                position: absolute;
                top: 1px;
                right: -1px;
                display: block;
                content: '';
                width: $border-width;
                height: calc(100% - 2px);
                background: $dividers-light;
            }
            &:last-child{
                margin-right: 0;
                &::after{
                    content: none;
                }
            }
            &--location{
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
            }
        }
        #{$_}__link{
            display: flex;
            align-items: center;
            padding-left: .75rem;
            padding-right: .75rem;
            color: $text-primary-light;
            min-height: 48px;
            width: 100%;
            &:hover{
                background-color: adjust-hue($accent, -5%);
            }
        }
        #{$_}__text{
            display: block;
            border-bottom: 1px dotted;
            margin-left: .25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.25;
        }
        #{$_}__icon{
            font-size: 1.5rem;
            flex: 0 0 1.5rem;
            width: 100%;
            max-width: 1.5rem;
            &--menu{
                font-size: 2.25rem;
            }
        }
    }
    &--pill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.25;
        #{$_}__link{
            display: block;
            border-radius: 4rem;
            margin-right: .5rem;
            padding: .5625rem 1.25rem;
            min-width: 130px;
            background: $gray-100;
            box-shadow: 0 1px 2px rgba($primary, 0.23);
            &:hover{
                color: $text-primary-light;
                background: $primary;
            }
        }
    }
    &--pill-pink{
        #{$_}__link{
            color: $pink;
            box-shadow: 0 1px 2px rgba($pink, 0.23);
            &:hover{
                color: $text-primary-light;
                background: $pink;
            }
        }
    }
    &#{$_}--pill-info{
        #{$_}__link{
            color: $info;
            box-shadow: 0 1px 2px rgba($info, 0.23);
            &:hover{
                color: $text-primary-light;
                background: $info;
            }
        }
    }
    &--select{
        border: $border-width solid $dividers;
        border-radius: $input-border-radius;
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
        width: 100%;
        background: $white;
        min-width: 260px;
        z-index: 100;
        #{$_}__item{
            border-top: $border-width solid $dividers;
            margin: 0;
            &:first-child{
                border: 0;
                #{$_}__link{
                    padding-bottom: .5rem;
                }
            }
            &:hover, &.is-active{
                #{$_}__link{
                    background: lighten($primary, 46%);
                }
            }
            &.is-active{
                font-weight: $font-weight-bold;
            }
        }
        #{$_}__link{
            display: block;
            padding: .5rem 1.25rem;
            padding-bottom: calc(.5rem - #{$border-width});
            color: $text-secondary;
        }
    }
    &--secondary{
        padding: 1.875rem;
        margin-bottom: 1.25rem;
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
        background: $gray-100;
        #{$_}__title{
            display: block;
            margin-bottom: .625rem;
            color: $text-secondary;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
        #{$_}__item{
            &:last-child{
                margin-bottom: 0;
            }
        }
        #{$_}__link{
            color: $text-secondary;
            text-decoration: underline;
            &::before{
                content: '';
            }
            &:hover{
                &, &:focus{
                    color: $link-hover-color;
                }
            }
            &--title{
                color: inherit;
                text-decoration: none;
            }
        }
        #{$_}__icon{

        }
    }
    &--location, &--cart{
        #{$_}__link{
            &::before{
                content: '';

            }
        }
    }
    &--cart{
        #{$_}__link{
            &.is-active{
                color: $accent;
                text-decoration: none;
            }
        }
    }
    &--footer{
        border-bottom: $border-width solid $text-primary-light;
        font-size: 1rem;
        line-height: 1.875;

        #{$_}__header{
            position: relative;
            background: $gray-400;
        }
        #{$_}__title{
            display: block;
            font-size: 1.125rem;
            font-weight: $font-weight-normal;
        }
        #{$_}__toggle{
            position: absolute;
            top: 50%;
            right: $grid-gutter-width/3*2;
            transform: translate(0, -50%);
            &::before{
                background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$text-primary-light);
            }
        }
        #{$_}__body{
            @extend %collapse-body;
        }
        #{$_}__ul{
            padding: 1.5rem 1.25rem;
        }
        #{$_}__item{
            margin-bottom: 0;
        }
        #{$_}__link{
            color: inherit;
            font-size: inherit;
            text-decoration: underline;
            &:hover{
                &, &:hover{
                    text-decoration: none;
                }
            }
            &--title{
                display: block;
                padding: .8125rem 1.25rem;
                padding-right: 2.5rem;
                line-height: $line-height-base;
                text-decoration: none;
            }
        }
    }
    &--footer-primary{
        color: $text-primary-light;
        background: darken($accent, 7%);
        #{$_}__header{
            background: $accent;
        }
    }
    &--social-link{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 2rem;
        #{$_}__item{
            margin-right: .625rem;
            &:last-child{
                margin-right: 0;
            }
        }
        #{$_}__link{
            display: block;
            border-radius: 50%;
            border: 2px solid;
            padding: .125em;
            color: inherit;
            width: 1em;
            height: 1em;
            box-sizing: border-box;
            &:hover{
                color: $text-primary-light;
                &--odnoklassniki{
                    border-color: $bc-odnoklassniki;
                    background-color: $bc-odnoklassniki;
                }
                &--vk{
                    border-color: $bc-vkontakte;
                    background-color: $bc-vkontakte;
                }
                &--instagram{
                    border-color: $bc-instagram;
                    background-color: $bc-instagram;
                }
                &--tumblr{
                    border-color: $bc-tumblr;
                    background-color: $bc-tumblr;
                }
                &--twitter{
                    border-color: $bc-twitter;
                    background-color: $bc-twitter;
                }
                &--facebook{
                    border-color: $bc-facebook;
                    background-color: $bc-facebook;
                }
            }
        }
        #{$_}__icon{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &--social-share{
        display: flex;
        justify-content: center;
        align-items: center;
        #{$_}__item{
            margin-right: .5rem;
            &:last-child{
                margin-right: 0;
            }
        }
        #{$_}__link{
            display: flex !important;
            justify-content: center;
            align-items: center;
            float: none;
            border-radius: $border-radius;
            margin: 0;
            color: $text-primary-light;
            font-size: 1.375rem;
            height: 1.625rem;
            width: 1.625rem;
            opacity: 1;
            transition: $transition-fade;
            &:hover{
                opacity: .5;
            }
            &--odnoklassniki{
                background-color: $bc-odnoklassniki;
            }
            &--vk{
                background-color: $bc-vkontakte;
            }
            &--instagram{
                background-color: $bc-instagram;
            }
            &--tumblr{
                background-color: $bc-tumblr;
            }
            &--twitter{
                background-color: $bc-twitter;
            }
            &--facebook{
                background-color: $bc-facebook;
            }
        }
        #{$_}__icon{
            display: block;
        }
    }
    &--user-social{
        justify-content: flex-start;
        #{$_}__link{
            &:not(.is-active), &:not(:hover){
                opacity: .5;
                background: $text-secondary;
            }
            &.is-active, &:hover{
                opacity: 1;
            }
            &--odnoklassniki{
                &.is-active, &:hover{
                    background-color: $bc-odnoklassniki;
                }
            }
            &--vk{
                &.is-active, &:hover{
                    background-color: $bc-vkontakte;
                }
            }
            &--instagram{
                &.is-active, &:hover{
                    background-color: $bc-instagram;
                }
            }
            &--tumblr{
                &.is-active, &:hover{
                    background-color: $bc-tumblr;
                }
            }
            &--twitter{
                &.is-active, &:hover{
                    background-color: $bc-twitter;
                }
            }
            &--facebook{
                &.is-active, &:hover{
                    background-color: $bc-facebook;
                }
            }
        }
    }
    &--tabs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
        line-height: 1.1;
        #{$_}__item{
            margin-right: .625rem;
            &:last-child{
                margin-right: 0;
            }
            &.is-active{
                pointer-events: none;
                #{$_}__link{
                    border-color: transparent;
                    color: $text-secondary;
                    font-size: 1.875rem;
                }
            }
        }
        #{$_}__link{
            display: block;
            color: $primary;
            border-bottom: $border-width dashed;
            text-decoration: none !important;
        }
    }
    &--contacts{
        @extend .nav--tabs;

    }
    &--breadcrumbs{
        display: flex;
        color: $text-secondary;
        font-size: .875rem;
        font-weight: $font-weight-normal;
        #{$_}__item{
            display: flex;
            margin-right: .5em;
            &::after{
                content: '/';
                margin-left: .5em;
            }
            &:last-child{
                &::after{
                    content: none;
                }
            }
        }
        #{$_}__link{
            color: inherit;
            text-decoration: underline;
            &:hover{
                color: $link-hover-color;
                text-decoration: none;
            }
            &.is-active{
                pointer-events: none;
                text-decoration: none;
            }
        }
        #{$_}__text{
            color: inherit;
        }
    }
    &--catalog{
        display: flex;
        flex-direction: column;
        color: $text-secondary;
        font-size: .9375rem;
        font-weight: $font-weight-normal;
        & > #{$_}__item{
            & > #{$_}__link{
                font-size: 1.125rem;
            }
        }
        #{$_}{
            padding-left: .9375rem;
        }
        #{$_}__item{
            display: block;
            margin-bottom: .75rem;
            &:last-child{
                margin-bottom: 0;
            }
            &.is-active{
                & > #{$_}__link{
                    color: $accent;
                }
            }
        }
        #{$_}__link{
            display: block;
            margin-bottom: .9375rem;
            color: inherit;
            text-decoration: underline;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover, &.is-active{
                color: $accent;
            }
        }
    }
}

@import '_nav-responsive';
// END nav style
