.note{
    $_: '.note';
    @include media-breakpoint-up(sm) {
        padding: 1.875rem;
        font-size: .9375rem;
    }
}


.woocommerce-NoticeGroup{
    @include media-breakpoint-up(sm) {
        margin-bottom: 1.875rem;
    }
}
