// START note style
.note{
    $_: '.note';
    border-top: $border-width solid $border-color;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    font-size: .875rem;
    background: lighten($blue, 43%);
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
    &--error{
        background: lighten($red, 43%);
    }
    ul{
        padding: 0;
        list-style: none;
    }
    p, ul{
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.woocommerce-NoticeGroup{
    margin-bottom: 1.25rem;
}

@import '_note-responsive';
// END note style
