.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;
    z-index: $zindex-modal-backdrop;
    opacity: 0;
    @include transition($transition-fade);
    &.is-open{
        opacity: .57;
    }
}
