// START pagination 
.pagination{
    $_: '.pagination';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &__btn{
        @extend .slider__btn;
        font-size: 36px;
        &--next{
            @extend .slider__btn--next;
        }
    }
    &__nav{
        @extend .nav;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: .625rem;
        margin-right: .625rem;
        font-size: 1.625rem;
        font-weight: $font-weight-bold;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__page{
        @extend .nav__item;
        margin-right: .625rem;
        margin-bottom: 0;
        &:last-child{
            margin-right: 0;
        }
        &::after{
            content: none;
            display: none;
        }
    }
    &__link{
        @extend .nav__link;
        text-decoration: none;  
    }
    &__text{
        color: $text-secondary;
    }
    //- wp shit
    .current{
        @extend .pagination__text;
    }
    .next, .prev{
        @extend .pagination__btn;
        font-size: 0;
        color: transparent;
        text-indent: -1000px;
        padding: 5px;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        &::before,
        &::after{
            height: 100%;
            width: 100%;
        }
    }
    .next{
        @extend .pagination__btn--next;
    }
}
// END pagination
