// START slider style
.slider{
    $_: '.slider';
    position: relative;
    &__btn{
        display: block;
        cursor: pointer;
        border: 2px solid $dividers;
        border-radius: 1em;
        padding: .15em;
        height: 1em;
        width: 1em;
        font-size: 36px;
        flex: 0 0 1em;
        transition: $btn-transition;
        background: $white;
        outline: none !important;
        box-sizing: border-box;
        z-index: 100;
        & > * {
            pointer-events: none;
        }
        &::before{
            content: '';
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-secondary) no-repeat 50% 50%;
            background-size: 100%;
        }
        &:hover{
            color: $text-primary-light;
            border-color: $primary;
            background: $primary;
            box-shadow: 0 1px 3px rgba($black, .3);
            &::before{
                background: svg-load('../../../static/img/svg/chevron.svg', fill=$text-primary-light) no-repeat 50% 50%;
                background-size: 100%;
            }
        }
        &.is-disabled{
            opacity: 0;
            visibility: hidden;
        }
        &--next{
            color: inherit;
            &::before{
                transform: rotate(180deg);
            }
        }
    }
    &__pagination{
        &--bullets{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dividers;
            margin-top: .625rem;
            font-size: .875em;
            #{$_}__pagination-item{
                display: block;
                border-radius: 1em;
                border: .5em solid;
                margin-left: .57em;
                margin-right: .57em;
                height: 1em;
                width: 1em;
                box-sizing: border-box;
                &.is-active{
                    color: $accent;
                }
            }
        }
    }
    &__img{
        transition: $transition-fade;
        &.is-loading{
            opacity: 0;
        }
        &.is-loaded{
            opacity: 1;
        }
    }
    &__loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
    }
    &--primary-product{
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: $white;
        #{$_}__container{
            position: relative;
            height: 100%;
            &::before,
            &::after{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                pointer-events: none;
                content: '';
                display: block;
                width: 20px;
                height: 100%;
                background: linear-gradient(to right, rgba($white,1) 0%,rgba($white,0) 100%);
                z-index: 100;
            }
            &::after{
                right: 0;
                left: auto;
                transform: rotate(180deg);
            }
        }
        #{$_}__media{
            position: relative;
            padding: .625rem;
            height: 100%;
            &::before{
                content: '';
                display: block;
                padding-bottom: 100%;
                width: 100%;
            }
        }
        #{$_}__img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: 50% 50%;
            font-family: 'object-fit: contain; object-position: 50% 50%;';
        }
    }
    &--secondary-product{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 115px;
        #{$_}__container{
            height: 365px;
            width: 100%;
        }
        #{$_}__item{
            cursor: pointer;
            flex: 0 0 115px;
            max-height: 115px;
            max-width: 115px;
        }
        #{$_}__media{
            position: relative;
            border: $border-width solid $dividers;
            &::before{
                content: '';
                display: block;
                padding-bottom: 100%;
                width: 100%;
            }
        }
        #{$_}__img{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: 50% 50%;
            font-family: 'object-fit: contain; object-position: 50% 50%;';
        }
        #{$_}__nav{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
            height: 100%;
            width: 100%;
        }
        #{$_}__btn{
            transform: rotate(90deg);
        }
    }
}

@import '_slider-responsive';
// END slider style
