.slider{
    $_: '.slider';
    @include media-breakpoint-up(sm) {
        &--primary-product{
            border: $border-width solid $dividers;
            #{$_}__container{
                &::before,
                &::after{
                    width: 60px;
                }
            }
            #{$_}__pagination{
                display: none;
            }
        }
    }
}
