// START steps style
.steps{
    $_: '.steps';
    color: $text-secondary;
    font-size: 1.125rem;
    font-weight: $font-weight-normal;
    background: $gray-100;
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__item{
        position: relative;
        display: flex;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
        padding: .625rem 0 .625rem 1.25rem;
        color: inherit;
        line-height: 1.1;
        width: calc(100% - 40px);
        max-width: none;
        z-index: 10;
        &:not(:first-child){
            padding-left: 60px;
        }
        &:last-child{
            width: 100%;
        }
        &:hover{
            &, &:focus{
                color: inherit;
                text-decoration: none;
                #{$_}__number{
                    background: $purple;
                }
            }
        }
        &.is-disabled{
            user-select: none;
            pointer-events: none;
            cursor: none;
            &, &:hover{
                &:focus{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        &.is-active{
            #{$_}__number{
                background: $purple;
            }
        }
        @for $i from 0 through 10 {
            &:nth-child(#{$i}){
                z-index: 10 - $i;
            }
        }
    }
    &__number{
        display: block;
        border-radius: 50%;
        margin-top: .625rem;
        margin-bottom: .625rem;
        margin-right: .625rem;
        text-align: center;
        color: $text-primary-light;
        font-size: 1.125rem;
        line-height: 1.89;
        flex: 0 0 1.89em;
        height: 1.89em;
        width: 1.89em;
        background: $text-secondary;
    }
    &__arrow{
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -40px;
        overflow: hidden;
        height: 100%;
        width: 40px;
        &::before,
        &::after{
            position: absolute;
            top: 50%;
            right: 23px;
            transform: translate(0, -50%) rotate(45deg);
            content: '';
            display: block;
            font-size: 100px;
            height: 1em;
            width: 1em;
        }
        &::before{
            right: 21px;
            background: $white;
        }
        &::after{
            pointer-events: all;
            background: $gray-100;
        }
    }
}

@import '_steps-responsive';
// END steps style
