// START tabs style
.tabs{
    $_: '.tabs';
    &__nav{}
    &__content{}
    &__body{
        display: none;
        opacity: 0;
        visibility: hidden;
        &.is-open{
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}
// END tabs style 
