// START table
.table{
    $_: '.table';
    @include media-breakpoint-down(sm) {
        &--responsive{
            th, td{
                display: block;
            }
            [data-label]{
                &::before{
                    content: attr(data-label);
                    display: inline-block;
                    padding-right: $table-cell-padding;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &--flex{
            margin-bottom: 1.25rem;
            &:last-child{
                margin-bottom: 0;
            }
            #{$_}__head{
                margin-bottom: 1.25rem;
            }
            #{$_}__body{}
            #{$_}__row{
                margin-bottom: .625rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            #{$_}__col{
                &[data-label]{
                    &::before{
                        content: none;
                    }
                }
                &--th{
                    display: block;
                    color: $text-secondary;
                }
            }
            #{$_}__title{
                font-size: 1.125rem;
            }
        }
        &--cart{
            #{$_}__row{
                flex-wrap: nowrap;
            }
            #{$_}__col{
                text-align: center;
                flex: 0 0 160px;
                max-width: 160px;
                width: 100%;
                &:first-child{
                    text-align: left;
                    flex-basis: 0;
                    flex-grow: 1;
                    width: 100%;
                    max-width: none;
                }
            }
            th, td{
                padding: $table-cell-padding;
            }
        }
        &--orders{
            #{$_}__head{
                display: block;
            }
            #{$_}__form{
                display: none;
            }
            #{$_}__row{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;
            }
            #{$_}__col{
                text-align: center;
                justify-content: center;
                flex: 0 0 25%;
                max-width: 25%;
                width: 100%;
                &:first-child{
                    justify-content: flex-start;
                }
                &:nth-child(4){
                    justify-content: flex-end;
                }
                &--detail{
                    padding: 0;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
// END table
