// START table
.table{
    $_: '.table';
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    font-size: .875rem;
    background-color: $table-bg;
    &:last-child{
        margin-bottom: 0;
    }
    th{
        color: $text-primary;
    }
    td{
        color: $text-secondary;
    }
    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: $table-border-width solid $table-border-color;
        font-weight: $font-weight-normal;
    }
  
    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }
  
    thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
    .table {
        background-color: $body-bg;
    }
    &__col{
        &--detail{
            padding: 0;
            flex: 0 0 100%;
            width: 100%;
            max-width: none;
        }
    }
    &--striped{
        tbody tr:nth-of-type(#{$table-striped-order}), #{$_}__body #{$_}__row:nth-of-type(#{$table-striped-order}) {
            background-color: $table-accent-bg;
        }
        th, td{
            border: 0;
        }
    }
    &--flex{
        #{$_}__head{
            margin-bottom: 1.25rem;
        }
        #{$_}__body{}
        #{$_}__row{
            @extend .row;
            margin-bottom: 1.875rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        #{$_}__col{
            @extend .row__col;
            flex: 0 0 100%;
            width: 100%;
            max-width: none;
            &[data-label]{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &::before{
                    color: $text-secondary;
                }
            }
            &--th{
                display: none;
            }
        }
        #{$_}__title{
            display: block;
            color: $text-secondary;
            font-size: .875rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }
    &--orders{
        @extend #{$_}--striped;
        @extend #{$_}--responsive;
        color: $text-secondary;
        #{$_}__head{
            display: none;
            font-size: 1rem;
            #{$_}__row{
                border: 0;
            }
        }
        #{$_}__form{
            display: block;
            margin-bottom: 1.25rem;
        }
        #{$_}__sort{
            color: inherit;
            &::after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-left: .25em;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid;
            }
            &--top{
                &::after{
                    transform: rotate(180deg);
                }
            }
            &.is-active{
                color: $primary;
            }
        }
        #{$_}__row{
            margin-bottom: 0;
        }
        #{$_}__col{
            display: flex;
            padding: $table-cell-padding $grid-gutter-width/3;
            vertical-align: top;
            font-weight: $font-weight-normal;
            &::before{
                margin-right: auto;
                font-weight: $font-weight-bold;
            }
            &--detail{
                display: none;
                padding: 0;
                background: $white;
                &.is-open{
                    display: block;
                }
            }
        }
    }
    &--cart{
        #{$_}__col{
            &[data-label]{
                &::before{
                    padding-left: 2.125rem;
                }
            }
        }
        th, td{
            padding-left: $grid-gutter-width/3*2;
            padding-right: $grid-gutter-width/3*2;
        }
    }
}

@import '_table-responsive';
// END table
