// stylelint-disable declaration-no-important, selector-list-comma-newline-after
//
// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin-bottom: 1.25rem;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    line-height: 1.1;
    color: inherit;
}

h1, .h1 {
    color: $text-primary;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2, .h2 {
    font-size: 1.5rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

h4, .h4 {
    margin-bottom: .625rem;
    font-size: 1.125rem;
}

h5, .h5 {
    margin-bottom: .625rem;
    font-size: 1rem;
}

h6, .h6 {
    margin-bottom: .625rem;
    font-size: 1rem;
}

.lead {
    font-size: 1.1em;
    font-weight: $font-weight-bold;
}

//
// Horizontal rules
//
hr {
    margin-top: $hr-margin-y;
    margin-bottom: $hr-margin-y;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//
small,
.small {
    font-size: $small-font-size;
    font-weight: $font-weight-normal;
}

mark,
.mark {
    padding: $mark-padding;
    background-color: $mark-bg;
}

//
// Lists
//
.list-unstyled {
    @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled;
}

.list-inline-item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: $list-inline-padding;
    }
}

//
// Misc
//
// Builds on `abbr`
.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

// Blockquotes
.blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
}

.blockquote-footer {
    display: block;
    font-size: 80%; // back to default font-size
    color: $blockquote-small-color;
    &::before {
        content: "\2014 \00A0"; // em dash, nbsp
    }
}
