.user{
    $_: '.user';
    @include media-breakpoint-up(lg) {
        &__row{
            margin-left: -$grid-gutter-width/2;
            margin-right: -$grid-gutter-width/2;
        }
        &__col{
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
    }
}
