// START modal login
div.modal.modal--login.modal--centered(id="modalLogin")
    div.modal__dialog
        div.modal__content
            div.modal__form.form.form--modal
                div.modal__header
                    b.modal__title Войти на сайт
                    button.modal__close(role="button", type="button", data-dismis="modal")
                div.modal__body
                    div.form__group
                        label.form__label Электронная почта
                            sup *
                            |:
                        input.form__control(type="email", required)
                    div.form__group
                        label.form__label Пароль
                            sup *
                            |:
                        input.form__control(type="password", required)
                    div.form__action
                        div.form__row.form__row--action
                            div.form__col
                                a.form__link.text--secondary-text(href="#", title="Забыли пароль?") Забыли пароль?
                                br
                                a.form__link(href="#", title="Регистрация") Регистрация
                            div.form__col.form__col--action
                                button.form__btn.btn.btn--xl.btn--accent(role="button") Войти
                    div.form__group
                        div.form__check
                            input.form__check-input(type="checkbox", id="loginCheck", name="loginCheck", checked)
                            label.form__check-label(for="loginCheck") Запомнить меня на этом компьютере
                    div.form__action.form__action--social
                        b.form__title войти через социальную сеть:
                        div.form__social
                            ul.nav.nav--social-share
                                li.nav__item
                                    a.nav__link.nav__link--facebook(href="#", title="")
                                        != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'nav__icon icon icon--facebook'})
                                li.nav__item
                                    a.nav__link.nav__link--vk(href="#", title="")
                                        != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'nav__icon icon icon--vk'})
                                li.nav__item
                                    a.nav__link.nav__link--odnoklassniki(href="#", title="")
                                        != pugHelpers.Icon.call(locals, {iconName: 'odnoklassniki', className: 'nav__icon icon icon--odnoklassniki'})
                                li.nav__item
                                    a.nav__link.nav__link--instagram(href="#", title="")
                                        != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'nav__icon icon icon--instagram'})
                                li.nav__item
                                    a.nav__link.nav__link--twitter(href="#", title="")
                                        != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'nav__icon icon icon--twitter'})
// END modal login
