// START user style
.user{
    $_: '.user';
    &__card{
        margin-bottom: 1.25rem;
    }
    &__title{
        display: block;
        margin-bottom: 1.25rem;
        color: $text-secondary;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        line-height: 1.1;
    }
    &__text{
        margin-bottom: 1.875rem;
        color: $text-secondary;
        font-size: 1rem;
        &:last-info{
            margin-bottom: 0;
        }
    }
    &__form{
        &--info{
            border-top: $border-width solid $border-color;
            border-bottom: $border-width solid $border-color;
            display: none;
            &.is-open{
                display: block;
            }
        }
        &:not(.is-open) + #{$_}__body{
            padding-top: 0;
        }
    }
    &__body{
        & + #{$_}__body{
            padding-top: 0;
        }
    }
    &__info{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: .625rem;
        &:last-info{
            margin-bottom: 0;
        }
        &-icon{
            margin-right: .625rem;
            color: $accent;
            font-size: 2rem;
            .icon{
                display: block;
            }
        }
        &-content{
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
        &-body{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &-action{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: .625rem;
        }
        &-title{
            margin-bottom: .625rem;
            color: $accent;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            flex: 0 0 100%;
            width: 100%;
        }
        &-text{
            color: $text-secondary;
            font-size: 1rem;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &-link{
            margin-left: 1rem;
            text-decoration: underline;
            @include hover-focus{
                text-decoration: none;
            }
            &:first-child{
                margin-left: 0;
            }
        }
        &--address{
            #{$_}__info-title{
                color: $primary;
            }
            #{$_}__info-action{
                flex: 0 0 100%;
                width: 100%;
            }
        }
    }
}

@import '_user-responsive';
// END user style
