.contacts{
    $_: '.contacts';
    @include media-breakpoint-up(sm) {
        &--detail{
            #{$_}__col{
                flex: 0 0 50%;
                width: 100%;
                max-width: 50%;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__map{
            min-height: 435px;
        }
        &__form{
            display: none;
        }
        &__nav{
            display: block;
        }
        &--form{
            #{$_}__header{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            #{$_}__title{
                margin-right: 1.25rem;
                margin-bottom: 0;
                flex: 0 0 auto;
                width: auto;
            }
            #{$_}__text{
                margin-bottom: .125rem;
                p{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &--help{
                    align-self: flex-end;
                    flex-basis: 0;
                    flex-grow: 1;
                    width: 100%;
                }
            }
        }
        &--map{
            #{$_}__col{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &--detail{
            #{$_}__item{
                padding-top: 2.5rem;
                padding-bottom: 1.875rem;
            }
            #{$_}__col{
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
                max-width: 50%;
                &--action{
                    flex: 0 0 auto;
                    width: auto;
                }
            }
        }
        &--desktop{
            display: block;
        }
        &--mobile{
            display: none;
        }
        &--footer{
            #{$_}__item{
                font-size: 2.5rem;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &--map{
            #{$_}__col{
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }
    }
}
