// START contacts style
.contacts{
    $_: '.contacts';
    &__map{
        position: relative;
        display: block;
        min-height: 290px;
        height: 100%;
        width: 100%;
        background: $dark;
        &.is-loading{
            #{$_}__loader{
                opacity: 1;
                z-index: 100;
            }
        }
        &.is-message{
            #{$_}__message{
                opacity: 1;
                z-index: 100;
            }
        }
    }
    &__body{
        &--message{
            text-align: center;
            width: 300px;
            #{$_}__title{
                color: $accent;
                font-size: 1.5rem;
            }
            #{$_}__text{
                margin-bottom: 1.875rem;
                line-height: 1.75;
                p{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &__message{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba($white, .85);
        z-index: -1;
        opacity: 0;
    }
    &__loader{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba($white, .85);
        font-size: 3rem;
        z-index: -1;
        opacity: 0;
    }
    &__title{
        margin-bottom: 1.25rem;
    }
    &__form{
        margin-bottom: 1.5rem;
    }
    &__nav{
        display: none;
        margin-bottom: 1.25rem;
    }
    &--form{
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        #{$_}__header{
            margin-bottom: .9375rem;
        }
        #{$_}__title{
            margin-bottom: .625rem;
            @extend .page__title;
            color: $text-secondary;
        }
    }
    &--map{
        #{$_}__item{
            cursor: auto;
            & > * {
                pointer-events: all;
            }
        }
        #{$_}__text{
            color: $text-secondary;
            font-size: .975rem;
            line-height: 2.145;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
            a{
                color: inherit;
                &:hover{
                    color: $primary;
                    text-decoration: underline;
                }
                &[href^=tel]{
                    display: inline-block;
                    border-bottom: 1px dotted transparent;
                    font-weight: $font-weight-bold;
                    text-decoration: none;
                    line-height: 1.25;
                    &:hover{
                        border-color: inherit;
                    }
                }
            }
        }
        #{$_}__route{
            display: inline-flex;
            align-items: center;
            margin-top: 1.25rem;
            text-decoration: none !important;
            & > * {
                pointer-events: none;
            }
            &:hover{
                color: $link-hover-color;
                #{$_}__route{
                    &-text{
                        border-color: transparent;
                    }
                }
            }
            &-icon{
                margin-right: .25rem;
                font-size: 1.875rem;
            }
            &-text{
                display: inline-block;
                border-bottom: 1px dotted;
            }
        }
    }
    &--footer{
        #{$_}__item{
            margin: 0;
            font-size: 2.25rem;
            font-weight: $font-weight-bold;
            line-height: 1.1;
        }
        #{$_}__phone{
            color: $text-secondary;
            text-decoration: none;
        }
        #{$_}__accent{
            color: $accent;
        }
    }
    &--card{
        #{$_}__address{
            color: $text-secondary;
            font-size: 1.125rem;
            font-weight: 400;
        }
        #{$_}__town{
            display: inline-block;
            border-bottom: $border-width dotted;
            color: $primary;
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
        #{$_}__phone{
            color: $text-secondary;
            font-size: 2.375rem;
            font-weight: $font-weight-bold;
            line-height: 1;
            white-space: nowrap;
            a{
                color: inherit;
                &:hover{
                    text-decoration: none;
                }
            }
            #{$_}__accent{
                color: $text-primary;
            }
        }
        #{$_}__timework{
            color: $text-secondary;
            font-size: .875rem;
        }
    }
    &--detail{
        margin-bottom: 1.875rem;
        #{$_}__item{
            padding-top: 1.25rem;
            padding-bottom: .625rem;
            border-bottom: $border-width solid $border-color;
        }
        #{$_}__row{
            align-items: center;
        }
        #{$_}__col{
            padding-bottom: .625rem;
        }
        #{$_}__title{
            display: block;
            margin-bottom: 1.875rem;
            color: $text-primary;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            &--item{
                margin-bottom: 0;
                font-size: 1.125rem;
            }
            &--phone{
                margin-bottom: 0;
                font-size: 1.125rem;
                a{
                    color: inherit;
                    text-decoration: none;
                    &:hover{
                        &, &:focus{
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }
        #{$_}__text{
            color: $text-secondary;
            font-size: 1rem;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__link{
            color: $link-color;
            text-decoration: underline;
            &:hover{
                &, &:focus{
                    text-decoration: none;
                }
            }
            &--route{
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                font-size: 1.125rem;
                font-weight: $font-weight-bold;
                line-height: 1.25;
                .icon{
                    display: block;
                    margin-right: .9375rem;
                    font-size: 3.65rem;
                }
            }
        }
    }
    &--mobile{
        display: block;
    }
    &--desktop{
        display: none;
    }
}

@import '_contacts-responsive';
// END contacts style
