.product{
    $_: '.product';
    @include media-breakpoint-down(md) {
        &--filter{
            margin-left: -$grid-gutter-width/2;
            margin-right: -$grid-gutter-width/2;
            padding-bottom: $grid-gutter-width/3;
            #{$_}__header{
                @extend %collapse-header-mobile;
                margin: 0;
                background: $primary;
            }
            #{$_}__title{
                @extend %collapse-title-mobile;
                color: $text-primary-light;
            }
            #{$_}__body{
                @extend %collapse-body-mobile;
            }
            #{$_}__toggle{
                @extend %collapse-toggle-mobile;
                &::after{
                    background-image: svg-load('../../../static/img/svg/chevron.svg', fill=$text-primary-light);
                }
            }
            #{$_}__filter{
                border-top: $border-width solid $dividers-light;
                &:last-child{
                    border-bottom: $border-width solid $dividers-light;
                }
            }
        }
        &__tab{
            &-header{
                @extend %collapse-header-mobile;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            &-toggle{
                @extend %collapse-toggle-mobile;
            }
            &-title{
                @extend %collapse-title-mobile;
            }
            &-body{
                @extend %collapse-body-mobile;
            }
            &-text{
                padding-top: $grid-gutter-width/2;
                padding-bottom: $grid-gutter-width/2;
                p {
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__nav{
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        &--filter{
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
        }
        &--grid-offers{
            #{$_}__col{
                &:nth-child(6) ~ #{$_}__col{
                    display: none;
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        &--grid-offers{
            #{$_}__col{
                @include make-col(6);
                &:nth-child(4) ~ #{$_}__col{
                    display: none;
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {
        &--grid{
            #{$_}__col{
                @include make-col(4);
            }
        }
        &--detail{
            #{$_}__media{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-left: 0;
                margin-right: 0;
                &-primary{
                    order: 2;
                    flex: 0 0 calc(100% - 125px);
                    width: calc(100% - 125px);
                    max-height: 445px;
                }
                &-secondary{
                    display: flex;
                    margin-right: .625rem;
                    order: 1;
                    flex: 0 0 115px;
                    width: 115px;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__tab{
            &-header{
                display: none;
            }
            &-body{
                display: none;
                &.is-open{
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__nav{
            &--tabs{
                display: block;
                margin-bottom: 1.875rem;
            }
        }
        &__social{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        &--grid-offers{
            #{$_}__col{
                @include make-col(3);
            }
        }
        &--grid{
            #{$_}__row{
                margin-left: -$grid-gutter-width/2;
                margin-right: -$grid-gutter-width/2;
            }
            #{$_}__col{
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
                padding-bottom: $grid-gutter-width;
            }
        }
        &--cart{
            border: $border-width solid $border-color;
            padding-left: 1.875rem;
            padding-right: 1.875rem;
            #{$_}__content{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            #{$_}__media{
                margin: 0;
                margin-left: .625rem;
                margin-right: .625rem;
                flex: 0 0 110px;
                width: 110px;
            }
            #{$_}__body{
                margin: 0;
                padding-left: .625rem;
                padding-right: .625rem;
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
                box-sizing: border-box;
            }
            #{$_}__footer{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                padding-left: .625rem;
                padding-top: .625rem;
                text-align: right;
                flex: 0 0 160px;
                width: 160px;
                align-self: stretch;
                &--desktop{
                    padding-top: 0;
                }
            }
            #{$_}__title{
                font-size: .875rem;
            }
            #{$_}__text{
                font-size: .875rem;
            }
            #{$_}__count{
                margin: 0;
                padding-right: .625rem;
                padding-left: .625rem;
                justify-content: center;
                text-align: center;
                flex: 0 0 155px;
                width: 155px;
                &-text{
                    margin-top: .625rem;
                }
                .form__group{
                    margin: 0;
                }
                &--desktop{
                    display: flex;
                }
                &--mobile{
                    display: none;
                }
            }
            #{$_}__price{
                order: 1;
                margin-top: auto;
                margin-bottom: auto;
                width: 100%;
                &--mobile{
                    display: none;
                }
            }
            #{$_}__action{
                order: 2;
                margin-top: .625rem;
                flex: 0 0 auto;
                width: 100%;
            }
        }
        &--cart-header{
            padding: 1.25rem .625rem;
            border: 0;
            #{$_}__title{
                font-size: .6875rem;
            }
            #{$_}__link{
                &--title{
                    color: inherit;
                    text-decoration: none;
                    &:hover{
                        &, &:focus{
                            text-decoration: underline;
                        }
                    }
                }
            }
            #{$_}__media{
                flex: 0 0 60px;
                width: 60px;
            }

            #{$_}__price{
                font-size: 1rem;
            }
            #{$_}__count{
                flex: 0 0 115px;
                width: 115px;
                .form__group .btn{
                    padding-left: .875rem;
                    padding-right: .875rem;
                }
            }
            #{$_}__remove{
                font-size: .875rem;
                text-transform: capitalize;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__pagination{
            font-size: 3.375rem;
        }
        &--grid{
            #{$_}__title{
                display: block;
            }
            #{$_}__sort{
                display: block;
            }
            #{$_}__pagination{
                display: flex;
                justify-content: flex-end;
                padding-top: 0;
                padding-bottom: 3.25rem;
                .pagination{
                    flex: 0 0 auto;
                    width: auto;
                }
            }
        }
        &--filter{
            margin-bottom: 1.25rem;
            #{$_}__content{
                border: $border-width solid $dividers;
            }
            #{$_}__header{
                padding: 1.875rem 1.875rem .875rem;
            }
            #{$_}__title{
                color: $text-secondary;
            }
            #{$_}__nav{
                display: block;
                background: $gray-100;
                margin-bottom: 1.25rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            #{$_}__sort{
                display: none;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            #{$_}__toggle{
                display: none;
            }
            #{$_}__filter{
                border-color: $dividers;
                &:last-child{
                    margin-bottom: 0;
                }
                &:first-child{
                    border: 0;
                }
            }
            #{$_}__action{
                display: block;
                border-top: $border-width solid $dividers;
                padding: .9375rem 1.875rem;
                background: transparent;
            }
            #{$_}__btn{
                display: block;
                margin: 0;
                max-width: none;
                width: 100%;
                & + #{$_}__btn{
                    margin-top: .625rem;
                }
                &--submit{
                    border-color: $dividers;
                    color: $text-secondary;
                    font-weight: $font-weight-normal;
                    background: $gray-100;
                    &:hover{
                        &, &:focus{
                            border-color: $primary;
                            color: $white;
                            box-shadow: 0 1px 3px rgba($black, 0.3);
                            background: $primary;
                        }
                    }
                }
                &--reset{
                    display: none;
                }
            }
        }
        &--grid-offers{
            #{$_}__container{
                padding-bottom: $grid-gutter-width/3*2;
            }
        }
        &--detail{
            #{$_}__title{
                font-size: 1.5rem;
            }
            #{$_}__form{
                margin-top: 1rem;
            }
            #{$_}__stock{
                margin-bottom: 1.25rem;
            }
            #{$_}__btn{
                padding-left: 1.875rem;
                padding-right: 1.875rem;
                font-size: 1.5rem;
                .icon{
                    font-size: 2rem;
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &--detail{
            #{$_}__body{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            #{$_}__media{
                margin-right: 3.125rem;
                flex: 0 0 540px;
                max-width: 540px;
            }
            #{$_}__order{
                position: relative;
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
            }
            #{$_}__count{
                margin-right: 0;
                margin-bottom: 1.25rem;
                width: 100%;
            }
        }
    }
}
