include ./product.pug
// START new products
section.block.block--offers.block--new.product.product--grid-offers.productGridOffersJs(data-items="./ajax-products.html", data-row="2", data-total="23")
    div.block__content.page__container
        div.block__header(data-target="#newProducts", data-toggle="collapse")
            b.block__title новинки
            a.block__link.block__link--more-top(href="./catalog.html", title="показать все") показать все
            div.block__pagination
                div.product__pagination
                    button.product__btn.product__btn--prev(role="button", title="Туда")
                    div.product__fraction 1/23
                    button.product__btn.product__btn--next(role="button", title="Сюда")
        div.block__body(id="newProducts")
            div.block__text.product__container
                div.product__row
                    - var n = 4;
                    while n < 16
                        - var item = product.card[n];
                        div.product__col
                            +product-card--outline(item)
                        - n++;
            div.block__footer
                div.block__action.block__action--bottom
                    a.block__link.block__link--more-bottom(href="#newProducts", data-target="#newProducts", data-toggle="collapse", title="Свернуть") Свернуть
                    a.block__link.block__link--more-bottom(href="./catalog.html", title="Показать все") Показать все
// END new products
