mixin product-card(data)
    //- START product card
    div.product__card.card.card--product
        div.card__content
            div.card__media
                div.card__img
                    img.card__img-file.object-fit-images(
                        src="%=static=%img/content/" + data.img.x1,
                        srcset="%=static=%img/content/" + data.img.x1 + " 1x, %=static=%img/content/" + data.img.x2 + " 2x", alt=data.title)
                if data.label
                    div.card__meta.card__meta--label
                        div.product__label(class="product__label--" + data.label)= data.label
            div.card__body
                b.card__title.text.text--word-wrap
                    a.card__link.card__link--title(href="./product-detail.html", title=data.title)= data.title
            div.card__footer
                div.card__meta.card__meta--price
                    if data.priceOld
                        div.product__price.product__price--old= data.priceOld
                        div.product__price.product__price--sale= data.price
                    else 
                        div.product__price= data.price
                div.card__action
                    div.product__action
                        if (data.loading)
                            button.btn.btn--accent.btn--order.is-loading(role="button", disabled)
                                != pugHelpers.Icon.call(locals, {iconName: 'shop-cart', className: 'btn__icon icon icon--shop-cart'})
                                span.btn__loader
                                    div.loader.loader--mono.loader--shadow
                                        span.loader__item
                                        span.loader__item
                                        span.loader__item
                                        span.loader__item
                        else 
                            button.btn.btn--accent.btn--order(role="button")
                                != pugHelpers.Icon.call(locals, {iconName: 'shop-cart', className: 'btn__icon icon icon--shop-cart'})
    //- END product card
