include ./product.pug
// START similar products
section.block.block--offers.block--similar.product.product--grid-offers.productGridOffersJs(data-perview="3")
    div.block__content
        div.block__header
            b.block__title Похожие
            div.block__pagination
                div.product__pagination
                    button.product__btn.product__btn--prev(role="button", title="Туда")
                    div.product__fraction 1
                    button.product__btn.product__btn--next(role="button", title="Сюда")
        div.block__body
            div.block__text.product__container
                div.product__row
                    - var n = 0;
                    while n < 6
                        - var item = product.card[n];
                        div.product__col
                            +product-card(item)
                        - n++;
// END similar products
