// START product style
.product{
    $_: '.product';
    &__col{
        display: flex;
        height: auto;
    }
    &__pagination{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 2.1875rem;
    }
    &__fraction{
        color: inherit;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: .73em;
        font-weight: 900;
        text-transform: uppercase;
    }
    &__label{
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        font-size: inherit;
        font-weight: $font-weight-bold;
        color: $text-primary-light;
        width: 4.5em;
        height: 4.5em;
        background: svg-load('../../img/svg/label.svg', fill=$primary) no-repeat 50% 50%;
        background-size: cover;
        transform: rotate(-23deg);
        z-index: 100;
        &--sale{
            background-image: svg-load('../../img/svg/label.svg', fill=$danger);
        }
        &--new{
            background-image: svg-load('../../img/svg/label.svg', fill=$success);
        }
    }
    &__sort{
        margin-bottom: 1.25rem;
    }
    &__nav{
        &--tabs{
            display: none;
        }
    }
    &__tab{
        &-body{
            color: $text-secondary;
            &.is-open{
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__price{
        color: $text-primary;
        font-weight: 700;
        line-height: 1;
        &--old{
            font-size: .62em;
            text-decoration: line-through;
        }
        &--sale{
            color: $red;
        }
    }
    &--grid{
        #{$_}__row{
            @include make-row();
            margin-left: -.25rem;
            margin-right: -.25rem;
        }
        #{$_}__col{
            display: flex;
            @include make-col-ready();
            @include make-col(6);
            padding-right: .25rem;
            padding-left: .25rem;
            padding-bottom: .5rem;
        }
        #{$_}__title{
            display: none;
        }
        #{$_}__sort{
            display: none;
        }
        #{$_}__pagination{
            padding-top: .625rem;
            padding-bottom: 1.25rem;
        }
    }
    &--grid-offers{
        #{$_}__row{
            @include make-row();
            margin-left: -.25rem;
            margin-right: -.25rem;
        }
        #{$_}__col{
            display: flex;
            @include make-col-ready();
            @include make-col(4);
            padding-right: .25rem;
            padding-left: .25rem;
            padding-bottom: .5rem;
            &:nth-child(8) ~ #{$_}__col{
                display: none;
            }
        }
        #{$_}__pagination{
            display: none;
        }
    }
    &--grid-slider{
        #{$_}__pagination{
            display: flex;
        }
        #{$_}__btn{
            @extend .slider__btn;
            font-size: inherit;
            flex: 0 0 1em;
            max-width: 1em;
            &--next{
                @extend .slider__btn--next;
            }
        }
        #{$_}__col{
            padding: 0 1px 2px;
        }
    }
    &--filter{
        #{$_}__title{
            display: block;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
        #{$_}__toggle{
            display: none;
        }
        #{$_}__filter{
            border-top: $border-width solid $dividers-light;
            &:last-child{
                border-bottom: $border-width solid $dividers-light;
            }
        }
        #{$_}__nav{
            display: none;
            padding: 1.875rem;
            background: $gray-100;
        }
        #{$_}__action{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding: .625rem $grid-gutter-width/3;
            color: $text-primary-light;
            background: $primary;
        }
        #{$_}__btn{
            display: block;
            @extend .btn;
            text-shadow: none;
            box-shadow: none;
            max-width: 200px;
            &--reset{
                border-color: $text-primary-light;
                margin-left: .625rem;
                color: $text-primary-light;
                background: $primary;
                &:hover{
                    &, &:focus{
                        color: $primary;
                        background: $white;
                    }
                }
            }
            &--submit{
                flex-basis: 0;
                flex-grow: 1;
                color: $primary;
                font-weight: $font-weight-bold;
                width: 100%;
                background: $white;
                &:hover{
                    &, &:focus{
                        color: $text-primary-light;
                        background: $accent;
                    }
                }
            }
        }
    }
    &--detail{
        margin-bottom: 1.875rem;
        #{$_}__title{
            font-size: 1.125rem;
        }
        #{$_}__media{
            margin-left: -$grid-gutter-width/3;
            margin-right: -$grid-gutter-width/3;
            margin-bottom: 2.5rem;
            &-secondary{
                display: none;
            }
        }
        #{$_}__meta{
            &--media{
                pointer-events: none;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
        #{$_}__label{
            font-size: 26px;
        }
        #{$_}__price{
            color: $text-primary;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1;
            &--old{
                font-size: 1.625rem;
                text-decoration: line-through;
            }
            &--sale{
                color: $red;
            }
        }
        #{$_}__form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin-top: .625rem;
        }
        #{$_}__stock{
            margin-bottom: .625rem;
            flex: 0 0 100%;
            width: 100%;
        }
        #{$_}__count{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-right: 1.25rem;
            flex: 0 0 auto;
            width: auto;
            .form__group{
                margin-bottom: 0;
            }
            &-text{
                display: inline-block;
                margin-left: .625rem;
                color: $text-secondary;
                font-size: .75rem;
                font-weight: 700;
            }
        }
        #{$_}__action{
            flex: 0 0 auto;
            width: auto;
        }
        #{$_}__btn{
            display: inline-flex;
            align-items: center;
            font-size: 1.125rem;
            .btn__icon{
                margin-left: .625rem;
                font-size: 1.75rem;
                filter: drop-shadow(0 2px 1px rgba($black, .15));
            }
        }
        #{$_}__text{
            &--anotation{
                margin-top: 1.875rem;
                font-size: .875rem;
                font-weight: 400;
                a{
                    color: $accent;
                    text-decoration: underline;
                    &:hover{
                        color: adjust-hue($accent, -5%);
                        text-decoration: none;
                    }
                }
            }
        }
        #{$_}__social{
            margin-top: 1.85rem;
        }
        #{$_}__nav{
            text-transform: uppercase;
        }
    }
    &--cart{
        padding: 1.25rem;
        #{$_}__content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        #{$_}__meta{
            &--order{
                display: block;
                color: $text-primary;
                font-size: .875rem;
                font-weight: $font-weight-bold;
                align-self: flex-start;
                width: 25px;
                box-sizing: border-box;
            }
        }
        #{$_}__media{
            position: relative;
            flex: 0 0 80px;
            width: 80px;
            margin-right: 1.25rem;
            &::before{
                content: '';
                display: block;
                padding-bottom: 100%;
                width: 100%;
            }
        }
        #{$_}__img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            &-file{
                display: block;
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: 50% 50%;
                font-family: 'object-fit: contain; object-position: 50% 50%;';
            }
        }
        #{$_}__body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
        #{$_}__footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 0 0 100%;
            padding-top: 1.25rem;
            width: 100%;
            &--desktop{
                display: none;
            }
        }
        #{$_}__title{
            display: block;
            margin-bottom: .625rem;
            font-size: .75rem;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
        }
        #{$_}__link{
            color: $link-color;
            text-decoration: underline;
            &--review{
                display: inline-block;
                margin-bottom: .625rem;
            }
            &:hover{
                &, &:focus{
                    color: $link-hover-color;
                    text-decoration: none;
                }
            }
        }
        #{$_}__text{
            color: $text-secondary;
            font-size: .6875rem;
            font-weight: $font-weight-normal;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__articul{
            margin-bottom: .625rem;
        }
        #{$_}__price{
            order: 2;
            font-size: 1.5rem;
            font-weight: $font-weight-bold;
            &--mobile{
                margin-top: .625rem;
            }
        }
        #{$_}__count{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex: 0 0 100%;
            font-size: .875rem;
            width: 100%;
            margin-bottom: 1.25rem;
            &-text{
                display: block;
                color: $text-secondary;
                white-space: nowrap;
            }
            .form__group{
                margin-right: 1.5rem;
                margin-bottom: 0;
            }
            &--desktop{
                display: none;
            }
            &--mobile{
                margin-top: auto;
                margin-bottom: 0;
            }
        }
        #{$_}__action{
            order: 1;
            flex: 0 0 125px;
            width: 125px;
        }
        #{$_}__remove{
            color: $accent;
            &:hover{
                &, &:focus{
                    color: $red;
                }
            }
        }
    }
}

@import '_product-responsive';
// END product style
