include ./product.pug
// START top products
section.block.block--offers.block--best-offers.product.product--grid-offers.productGridOffersJs(data-path="./ajax-products.html", data-total="10")
    div.block__content.page__container
        div.block__header(data-target="#bestOffers", data-toggle="collapse")
            b.block__title Лучшие предложения
            a.block__link.block__link--more-top(href="./catalog.html", title="показать все") показать все
            div.block__pagination
                div.product__pagination
                    button.product__btn.product__btn--prev(role="button", title="Туда")
                    div.product__fraction 1/10
                    button.product__btn.product__btn--next(role="button", title="Сюда")
        div.block__body(id="bestOffers")
            div.block__text.product__container
                div.product__row
                    - var n = 0;
                    while n < 8
                        - var item = product.card[n];
                        div.product__col
                            +product-card(item)
                        - n++;
            div.block__footer
                div.block__action.block__action--bottom
                    a.block__link.block__link--more-bottom(href="#bestOffers", data-target="#bestOffers", data-toggle="collapse", title="Свернуть") Свернуть
                    a.block__link.block__link--more-bottom(href="./catalog.html", title="Показать все") Показать все
// END top products
