.blog{
    $_: '.blog';
    @include media-breakpoint-up(sm) {
        &--grid{
            #{$_}__col{
                flex: 0 0 50%;
                max-width: 50%;
                width: 100%;
            }
        }
    }
    @include media-breakpoint-up(md) {
        &--grid{
            #{$_}__col{
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
                padding-bottom: $grid-gutter-width;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &__media{
            margin-bottom: 1rem;
        }
        &__title{
            margin-bottom: .625rem;
            font-size: 1.375rem;
        }
        &__text{
            font-size: 1rem;
        }
    }
}
