// STSRT blog style
.blog{
    $_: '.blog';
    &__media{
        position: relative;
        margin-bottom: .625rem;
        &::before{
            content: '';
            display: block;
            padding-bottom: 65.61%;
            width: 100%;
        }
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &-file{
            display: block;
            max-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            font-family: 'object-fit: cover; object-position: 50% 50%;';
        }
    }
    &__title{
        display: block;
        margin-bottom: .625rem;
        color: $text-primary;
        font-size: 1rem;
        font-weight: $font-weight-bold;
    }
    &__text{
        color: $text-secondary;
        font-size: .875rem;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__overhide{
        overflow: hidden;
        max-height: 101px;
    }
    &__link{
        &--title{
            color: inherit;
            text-decoration: underline;
            &:hover{
                &, &:focus{
                    color: $primary;
                    text-decoration: underline;
                }
            }
        }
    }
    &--grid{
        #{$_}__col{
            padding-bottom: 1.25rem;
        }
    }
}

@import '_blog-responsive';
// END blog style
