// START search style
.search{
    $_: '.search';
    &--form, &--footer{
        #{$_}__control{
            border-color: transparent;
            padding-right: 2.5rem;
        }
        #{$_}__btn{
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(0, -50%);
            cursor: pointer;
            padding: 0;
            margin: 0;
            border: 0;
            color: $text-secondary;
            font-size: 1.5rem;
            background: transparent;
            @include transition($btn-transition);
            &:hover{
                color: $accent;
            }
        }
        #{$_}__icon{
            display: block;
        }
    }
}

@import '_search-responsive';
// END search style
