@font-face {
    font-family: 'KapelkaNewW03';
    src: local('Kapelka New W03 Regular'), local('KapelkaNewW03-Regular'),
        url('KapelkaNewW03-Regular.woff2') format('woff2'),
        url('KapelkaNewW03-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

